[2018-10-23 14:56] et commented on #193
Thanks @sir-dunxalot. I've since moved to the dark side with React 😢 so I no longer have a need for this.
Since this issue didn't get any support from other people, I'm going to close this issue for housekeeping purposes.

[2018-10-23 14:56] #193 closed

[2018-10-23 23:19] sir-dunxalot commented on #277
I am also going to investigate whether this issue appears when `popper.js` or `ember-popper` are installed. For example, it has been suggested that this issue is present when `ember-bootstrap` is installed, which uses `ember-popper`.

[2018-10-24 10:56] sir-dunxalot opened #301 "Misleading button in demo app"
In the demo app, the [inline example](http://sir-dunxalot.github.io/ember-tooltips/#inline) has incorrect text on the tooltip target (the button):

![image](https://user-images.githubusercontent.com/4495352/47425912-a55fb280-d783-11e8-8931-6c83e67b24a3.png)

It should not refer to 'async content' but instead should be a more generic call-to-action.

[2018-10-24 13:17] BonBonSlick commented on #204
I have added some css dirty fixes.

[code]

All packages installed and updated with npm / yarn
[code]

[2018-10-25 12:31] brunomacf opened #302 "Broken in ember 2.18.0 with message "A component or helper named "tooltip-on-element" could not be found""
:)

[2018-10-25 14:37] maxfierke commented on #302
@brunomacf Could you provide some additional details please?

* Which version of `ember-tooltips` are you using?
* Are you using it in an app, ember engine, or addon?

[2018-10-25 17:39] jcfinnerup commented on #252
Is it? I still get the error with a fresh install

[2018-10-25 17:51] maxfierke commented on #252
@jcfinnerup which `ember-tooltips` release are you using? Could you post the full error message you're seeing?

You may also need to ensure that `"ember-tether": "^1.0.0"` is specified in your application's `package.json`

[2018-10-25 18:14] transitorytammy commented on #279
Awesome.  Thank you @maxfierke and @sir-dunxalot  for this update.  It works like a charm now.  :)

[2018-10-30 02:57] sir-dunxalot commented on #277
I came across a similar issue in another plugin that was solved with an [update for md5](https://github.com/Exelord/ember-initials/pull/57/files). This could be useful or it might be an entirely unrelated fix.

[2018-10-31 20:30] timmorey opened #304 "Question: how to render tooltip on body"
I'm using 3.0, and finding that the tooltip gets rendered in-place, rather than as a direct child of the application's root element.  This is leading to some layout issues for us.

I see that I can set the `APP.rootElement` in my `config/environment.js` to override this (https://github.com/sir-dunxalot/ember-tooltips/blob/master/addon/components/ember-tooltip-base.js#L317-L326).  Currently, I am n

[2018-11-01 01:29] maxfierke commented on #304
hi @timmorey, you may want to try passing `targetId` where `targetId` is the ID of an element you'd like to be the tooltip's parent. For instance, you might try something like

[code]

[code]

[2018-11-01 01:50] maxfierke opened #305 "Popover click-to-hide test is flaky"
Every so often, there's a build failure on CI for the `Popover: click target, click hide-action, click target` test. It often passes when retried.

[code]

[2018-11-01 13:41] timmorey commented on #304
Thanks for the response @maxfierke.  It appears that setting the `targetId` controls what the tooltip points at -- this is not what I'm looking for.  Let me try to clarify.

When I add an `{{ember-tooltip}}`, it points at its parent by default -- this is the behavior I want.   I'm looking for a way to have the tooltip rendered at a higher level in the dom.  Perhaps an illustration will clarify:

[

[2018-11-01 16:01] maxfierke commented on #304
hah, I think we're talking about the same thing @timmorey. My misunderstanding was around how the `targetId` was getting used by popper. Agreed, we should definitely support this. Your blink on providing a way to override the `container` property in popper is correct.

[2018-11-01 17:14] maxfierke commented on #304
@sir-dunxalot what do you think about changing the default to `'body'` rather than `false`, to preserve the expectation from 2.x?

[2018-11-02 13:19] timmorey commented on #304
@sir-dunxalot I'm currently replacing bootstrap tooltips with ember-tooltips in a fairly mature app.  Its dom+styles get a bit messy in places, and I'm sure those are part of the problem.

The first issue I ran into was that the tooltip was pointing at an element inside another element with `position:relative`.  The tooltip was overflowing the relative element, which was causing the tooltip to wra

[2018-11-02 13:59] maxfierke commented on #304
@timmorey if you're worried about clipping, you can check out overriding `popperOptions`, specifically disabling `escapeWithReference`. Example here: https://github.com/sir-dunxalot/ember-tooltips#popper-options.

I do still share the view that we should be providing an option for setting the popper `container` property, but the `popperOptions` route may work all the same.

[2018-11-05 16:46] maxfierke opened #307 "Remove use of jQuery"
jQuery is now an optional component of Ember. `ember-tooltips` has only one runtime use of jQuery that's easy to refactor out, but we should think about removing the need for jQuery within the test-helpers.

Perhaps we can continue to provide support for jQuery & jQuery selectors if jQuery is present, and use native DOM helpers otherwise.

[2018-11-05 16:56] #288 closed

[2018-11-05 23:24] transitorytammy opened #309 "ember-wormhole error"
Hi hi.

I am getting this error randomly in production from `ember-wormhole` which is a dependency of `ember-tooltip`.

`The head node of a wormhole must be attached to the DOM`

https://github.com/yapplabs/ember-wormhole/blob/master/addon/components/ember-wormhole.js#L63

Wondering if you had suggestions on the best way to solve this on my side?

[2018-11-05 23:29] transitorytammy opened #310 "IE11 rendering issues (Includes & Symbol)"
Right now the `ember-tooltips` doesn't render on IE 11 due to `includes` not being compatible with with IE11.

https://caniuse.com/#search=includes

I think a solution would be to switch to the use of `indexOf`.  Also, the other issue I found in IE was that `Symbol` is undefined.  Adding the babel polyfill would help with that issue too.  https://github.com/babel/ember-cli-babel/issues/40#issuecom

[2018-11-06 15:54] maxfierke commented on #309
Hi @transitorytammy! Which version(s) of ember-wormhole is resolved & installed in your app? Could you also share a sample of how `ember-tooltips` is being used when you get this error and the full stack trace, if possible?

[2018-11-06 16:04] maxfierke commented on #310
Hmm... it doesn't look like we directly use `Symbol` anywhere in ember-tooltips. Do you know where that use is coming from?

I'd be open to switching the use of `includes` over to `indexOf`, since it's so limited, if it would make it easier to use `ember-tooltips` in IE11 without the inclusion of polyfills.

However, w/r/t inclusion of the babel-polyfill, I think that decision should be differed t

[2018-11-06 19:52] timmorey commented on #309
I've been running into this one too, but haven't managed to repro outside of my app.  It appears to be a timing issue, where an `ember-tooltip` gets rendered and then removed before its wormhole is fully initialized.  In particular, I'm seeing https://github.com/yapplabs/ember-wormhole/blob/master/addon/components/ember-wormhole.js#L74 run immediately before https://github.com/yapplabs/ember-wormh

[2018-11-06 21:20] maxfierke commented on #309
@transitorytammy @timmorey Not sure if this is relevant or not: https://github.com/yapplabs/ember-wormhole/issues/71. It makes it sound like it could be nebulously related to an old `ember-cli-htmlbars` version or other dependencies, so if either of you are able to share with me your `package.json` and related lock file, that would help a lot!

Possibly a quick experiment: could you give it a shot

[2018-11-11 21:11] #297 closed

[2018-11-13 13:22] benclum11 commented on #309
I'm also experiencing the issue and it's preventing me from upgrading from 2.x to 3.0.1 or 3.0.2

[2018-11-13 20:04] maxfierke commented on #309
Could you please share a excerpt of how you're invoking `{{ember-tooltip}}` and details about the surrounding context & when you're seeing the error? Is it when used in a component or route template? On an initial render, update, component teardown, or when entering or exiting a route?

[2018-11-13 20:33] bahdvp opened #316 "NPM install causes issues"
Using `npm install` to build and deploy ember-tooltips causes issues with the tooltip text content rendering in the wrong location. If I use `yarn install` to install all packages, this issue goes away for me.

Can anyone else confirm? Addon should largely be package manager agnostic.

[2018-11-13 20:49] #277 closed

[2018-11-13 20:51] #301 closed

[2018-11-13 20:56] maxfierke commented on #316
@bahdvp are you talking about when using it an app or when checking out the addon locally?

[2018-11-13 21:03] #300 closed

[2018-11-13 21:09] bahdvp commented on #316
Sorry, when using it in an app.

[2018-11-13 21:20] maxfierke commented on #316
Do you normally use `npm` or `yarn` with your app? Perhaps the two have different default version resolution strategies? Does it happen with other addons? What version of ember-cli are you using?

[2018-11-13 23:16] bahdvp commented on #316
Generally use npm.
Hasn't happened that I've noticed with other addons.
ember-cli 3.5

The issue was temporarily fixed by reverting to 3.0.0-beta.2 which does not appear to present the issue for whatever reason.

[2018-11-14 16:10] timmorey commented on #304
#308 resolves this issue for me - thanks for the help!

[2018-11-15 15:29] panthony commented on #309
@maxfierke I have the same problem and it was NOT fun to pin point.

- `ember@3.0`
- `ember-cli-htmlbars@2.0.3`
- `ember-tooltips@3.0.2`

Minimal reproduction case I could find:

[code]

If itemsList has:

- less than 11 elements -> works
- 11 elements -> Uncaught Error: infinite rendering invalidation detected
- 12 elements -> Assertion Failed: Cannot deregister unknown unregistered renderer
- mo

[2018-11-15 15:31] maxfierke commented on #309
Thanks @panthony! I'll take a look at this tonight!

[2018-11-15 15:32] panthony commented on #309
@maxfierke Not related to the foreach btw.

You can't have more than 10 tooltip on a given page anywhere on the page.

[2018-11-15 15:38] maxfierke commented on #309
@panthony hmm... that's concerning.

We do have a test case that uses more than 11 tooltips: https://github.com/sir-dunxalot/ember-tooltips/blob/master/tests/acceptance/many-tooltips-test.js#L19 and anecdotally I have pages with many more than 11 tooltips, so I'd be curious about any additional context you could provide that might point to different options or configuration that might be causing a

[2018-11-15 16:50] panthony commented on #309
@maxfierke The stacktrace is, like often, unhelpful.

![capture d ecran 2018-11-15 a 17 37 50](https://user-images.githubusercontent.com/230462/48567389-34806600-e8fd-11e8-9c66-fd1b913da908.png)

Seems like something goes wrong with paper-tabs @ ember-paper (maybe other addons too).

In an empty template, this crash:

[code]

This works:

[code]

This works too:

[code]

Sorry I have to leave for

[2018-11-15 21:16] bahdvp commented on #316
Another dev on the team found that manually installing `ember-wormhole` fixed the issue. Possibly a dependency conflict as other addons were using 5.4.

[2018-11-15 21:16] #316 closed

[2018-11-16 03:18] maxfierke commented on #309
@panthony I've looked into this and at least for the cases you've provided, it seems related to the use with ember-paper, as I could not reproduce it with `ember-tooltips` alone. Could you open another issue with what you've provided here to track the issue with the ember-paper interaction?

Curious: @transitorytammy @timmorey are either of you using any similar UI toolkit add-ons? e.g. ember-pape

[2018-11-16 07:00] panthony opened #318 "Compatibility issues between 3.X and other addons (ex: ember-paper)"
From #309

Dependencies are:

- `ember@3.0`
- `ember-cli-htmlbars@2.0.3`
- `ember-tooltips@3.0.2`
- `ember-paper@v1.0.0-beta.7`

Seems like something goes wrong with paper-tabs @ ember-paper (maybe other addons too).

In an empty template, this crash:

[code]

This works:

[code]

This works too:

[code]

The behavior is not the same depending on the number of tooltip in the page:

If items has:

[2018-11-16 21:32] #305 closed

[2018-11-17 04:04] sir-dunxalot commented on #192
Fixed by #308.

[2018-11-17 04:04] #192 closed

[2018-11-17 17:47] maxfierke commented on #309
@timmorey @mnoble01 @transitorytammy mind trying out #319 in your applications to see if removing ember-wormhole fixes things?

quick copy-paste for your package.json:

[code]

[2018-11-19 18:13] mnoble01 commented on #309
@maxfierke That branch did not work for me.

I dug into this a little more and am getting the following error from `createTooltip`'s catch block.
[code]

<img width="379" alt="screen shot 2018-11-19 at 12 34 32 pm" src="https://user-images.githubusercontent.com/463770/48724570-90960380-ebf7-11e8-8b21-f2ebdfacbda0.png">

which ultimately throws:
<img width="879" alt="screen shot 2018-11-19 at 1 10

[2018-11-19 20:08] maxfierke commented on #309
@mnoble01 oh, yeah, that makes sense. I don't think that outer `run` is at all necessary. Nor is that promise, it seems like. Could you try #320?

[2018-11-19 20:30] mnoble01 commented on #309
@maxfierke Works for me 🎉

[2018-11-20 06:02] maxfierke commented on #318
@panthony does #320 fix it for you?

[2018-11-20 15:08] maxfierke commented on #318
@panthony you may want to try enabling backburner debugging `Ember.run.backburner.DEBUG = true;` and stepping into backburner as per https://guides.emberjs.com/release/configuring-ember/debugging/#toc_errors-within-emberrunlater-backburner to check out the stitched-together stacktrace

[2018-11-20 16:51] panthony commented on #318
@maxfierke `Tooltip` is undefined.

And `const tooltip = new Tooltip()` is somehow swallowed somewhere.

And then `willDestroyElement` and there is no `_tooltip` defined.

I'm not quite sure how it fits with the fact that I saw it works with few elements...

[2018-11-23 12:03] joelluijmes commented on #309
I also ran in this issue, when trying to add a tooltip inside a table where there are more than 10 rows. Just like @mnoble01 says, the `maybe-in-element` branch does not solve the issue. It actually breaks the tooltip in my case.

Using the latest commit (thus with merged #320) it works 👍

[2018-11-23 23:44] arthur5005 opened #321 "3.x moving your mouse over and out and over quickly will prevent visibility"
You can see it on the demo page with the first example.
http://sir-dunxalot.github.io/ember-tooltips/

![2018-11-23 15 43 36](https://user-images.githubusercontent.com/697846/48962601-a0cf1b00-ef36-11e8-892a-46fe34d588d7.gif)

[2018-11-24 01:55] arthur5005 commented on #321
Found the problem. `_tooltip.hide()` doesn't get called synchronously, so it's possible to call `_tooltip.show()` twice before hide gets called (inside the `run.later`) I assume this is so we can wait for the

https://github.com/sir-dunxalot/ember-tooltips/blob/3baca0509dba8a8f1264351f885240de24f2ee75/addon/components/ember-tooltip-base.js#L480-L504

It's Friday, and I already have a drink in my h

[2018-11-24 15:01] timmorey commented on #309
@maxfierke I just got a chance to try out some of the recent changes.

When I run the branch for #319, I'm still able to repro a crash, though with a different error (`Cannot read property 'dispose' of null` @ `ember-tooltip-base.js:230`).

When I run the code on master, which includes #320, the crash appears to be fixed 🎉.

I then took the code for #319 and merged in master, and the crash was fix

[2018-11-24 22:36] maxfierke commented on #309
@timmorey Great to hear! We'll probably tag a new release with those changes this week. I ran into a failing test on an app late last week that I'm trying to determine if it's related to #320. I'm going to try and take a crack at getting to the bottom of that before releasing.

[2018-11-25 00:54] maxfierke commented on #321
I think you're right on the money there! It's on my to-do to add a bit more bookkeeping to our runloop scheduling, given a few recent runloop-related bugs.

Thanks for digging!

[2018-11-26 18:42] arthur5005 commented on #321
Just added a PR as a suggestion. Works well on our fork.

[2018-11-28 04:18] #321 closed

[2018-11-28 04:21] maxfierke commented on #309
Just released 3.1.0, which includes #320 and sounds like it should fix this issue. I'm going to close this out, but please comment if it crops up in 3.1.0 as well.

[2018-11-28 04:21] #309 closed

[2018-11-28 07:19] cdgeelen opened #323 "3.10 breaks ember build with yarn workspaces"
Pull request https://github.com/sir-dunxalot/ember-tooltips/pull/311 is breaking our ember build with yarn workspaces. To illustrate: we have three yarn workspaces: one with ember apps, one with ember engines and one with ember addons. The latter is used to share code and dependencies between engines and applications.

We are using ember-tooltips in our addon workspace, containing the package as a

[2018-12-04 21:37] basicBrogrammer commented on #187
@sir-dunxalot are there any recommendations on how to style the arrow to share the same shadowing as the tooltip?

[2018-12-05 02:50] brookjordan opened #324 "Allow custom template HTML"
Currently, the tooltip wrapper is, (as far as I can see,) uneditable:
https://github.com/sir-dunxalot/ember-tooltips/blob/8983cd7f8d90d09510aeb94d24fadbcc1bfc7876/addon/components/ember-tooltip-base.js#L321-L324

This is causing issues with our repo on a few fronts:
 - as we also use `Bootstrap` tooltips in other parts of the app this is conflicting and causing CSS conflicts which are a bit of a p

[2018-12-06 18:07] maxfierke commented on #324
I think the trick with providing a way to customize the template, is that we would need to support insertion of the wormhole element ID and the initial styles and that kind of thing.

I think a less drastic approach that would address these concerns would be simply to better namespace the markup controlled by ember-tooltips and allow specifying additional classes for the arrow and the inner `<div>

[2018-12-06 19:02] mnoble01 opened #326 "Does order matter when using targetId?"
We are using ember tooltips in a template like so:

[code]

This fails in Windows 10 IE11 with:
[code]

My question is -- does order matter? All the examples you give using `targetId` render the tooltip target first, and then the tooltip.

[2018-12-06 20:54] maxfierke commented on #326
@mnoble01 the element with the `targetId` must exist in the DOM before the tooltip is rendered, so it probably does need to come before the tooltip.

One thing you may want to try is giving both elements a wrapper element like this:

[code]

[2018-12-07 00:08] mnoble01 commented on #326
Yep, the wrapper is also an option that I may try. Curious that the wrong order only causes errors in IE11...

[2018-12-07 00:08] #326 closed

[2018-12-07 04:15] brookjordan commented on #324
Ok, that will work too.
I've opened a PR for it:
#327

[2018-12-07 16:58] mnoble01 commented on #326
If anyone is interested, changing the order did not work. The wrapping div did.

[2018-12-16 19:49] maxfierke commented on #318
I've been able to reproduce this in production-builds.

It seems to have something to do with sourcemaps, oddly, since everything works as expected if sourcemaps are explicitly enabled for production builds:

[code]

If you're okay shipping sourcemaps in production, that is a workaround that can be used for the time being.

[2018-12-18 13:30] loginovma commented on #323
Thank you, @maxfierke!
This also fixes workspace issue for us. Can you please merge & release that?

[2018-12-18 14:32] #318 closed

[2018-12-18 14:32] #323 closed

[2018-12-18 15:04] panthony commented on #318
@maxfierke I confirm that `3.1.1` fixed my issues.

[2018-12-18 15:29] panthony opened #329 "Migration from 2.x to 3.x when tooltip is clipped"
Trying to migrate from 2.x to 3.x, I'm the following issue:

 If the tooltip's parent has an overflow:hidden (in my case, inside `{{liquid-if}}`), then the tooltip may get clipped.

Previously it was rendered in the wormhole container, now it is rendered directly in parent.

How someone migration from 2.X should fix this point?

Finding & passing manually a wormhole ID does not feel right. Especia

[2018-12-18 15:33] panthony opened #330 "Performance issue in 3.X"
On a given screen in my app I may have hundreds of possible popovers.

Some of them may be costly to render.

in 2.x I was using `enableLazyRendering` which was perfect since it did not render the content of the popover until it was actually displayed.

This option was removed in 3.x without, as far as I can tell, any replacement.

Unfortunately this make this addon unusable for me in its 3.x vers

[2018-12-18 15:41] maxfierke commented on #329
@panthony The [`popperContainer`](https://github.com/sir-dunxalot/ember-tooltips#popper-container) is the escape-hatch you seek. You can use that to control where the tooltip is rendered.

[2018-12-18 15:48] panthony commented on #329
Cool!

It's working like before.

Could be worth adding in migration guide though!

[2018-12-18 15:48] #329 closed

[2018-12-18 15:50] panthony commented on #330
Turns out passing `popperContainer="body"` will make ember-tooltip behave like it was with `enableLazyRendering: true`.

Thus using this option will fix this issue in my case.

I'll leave it open unless you feel like this is an edge case.

[2018-12-18 16:01] maxfierke commented on #330
The use of `popper.js` in 3.x addresses performance in a couple different ways that mostly make the old lazy rendering option unnecessary.

1. It uses `requestAnimationFrame` to handle updates to the DOM, which provides smooth 60FPS updates.
2. It does not update or re-position tooltips that are not shown.
3. Tooltips are only rendered on activation & are torn down when hidden.

The content will s

[2018-12-18 16:07] panthony commented on #330
Ok ! Good to know for `popover.isShown`.

And since the `popperContainer="body"` already workaround this issue for me (by only appending the tooltip when shown) i'll close this issue too.

Thanks for your time @maxfierke

[2018-12-18 16:07] #330 closed

[2018-12-19 01:16] maxfierke commented on #323
@loginovma you may have noticed the new release already, but just in case you haven't, this was released in 3.1.1

[2018-12-19 01:35] maxfierke commented on #329
Good idea! Added to Upgrading doc: https://github.com/sir-dunxalot/ember-tooltips/blob/master/UPGRADING-3.x.md#my-tooltips-appear-clipped-use-within-elements-using-overflow-hidden

[2018-12-19 07:11] panthony commented on #329
I'll leave this here too in case someone finish here with a similar problem:

I also had a positioning issue with the tooltip in a complex setup (flex layout in table's cell with relative body etc. etc.).

It was occurring only when the scrollable container (which was not the body) was scrolled.

It looked like the scrolling offset was removed instead of added but I failed to find a minimalist rep

[2018-12-19 10:37] Skgtouch opened #331 "In IE11 the x-axis translation on element is getting more than expected"
"ember-tooltips": "^2.9.2",

{{popover-on-element}}

In chrome the pop up is coming exactly on the target element.
While in IE 11, it's coming around 100px left to target element.

Thanks!

[2018-12-24 11:20] eelke commented on #302
Noticed the same issue, using Ember Islands.

From package.json:

[2019-01-08 03:42] Allerby opened #333 "onHide events fire on all subsequent clicks after tooltip has been hidden"
It seems as though the onHide event fires it's action on all subsequent clicks after the tooltip has been hidden.

Behavior can be seen in the twiddle below, here are steps for repro:
1. Open console
2. Hover over the button
3. click anywhere on the page and inspect the console to see the action firing for all clicks on the page

https://ember-twiddle.com/8ec0ece5f26a83f0111c13b337a2559b?openFiles

[2019-01-10 02:09] maxfierke commented on #333
Thanks for the heads up @Allerby! I'll take a look

[2019-01-15 07:59] panthony opened #334 "ember-popover partially outside the viewport"
Using:

- `ember-tooltips@3.1.1`
- `popper.js@1.14.6`

See: https://ember-twiddle.com/0f8d3e7c3bc035c858d1ea39eb9985fd?openFiles=templates.application.hbs%2C

The content of `ember-popover` is partially hidden with the following snippet:

[code]

I was expecting the popover to adjust its position according to the viewport, am I missing something?

![capture d ecran 2019-01-15 a 08 57 10](https://u

[2019-01-15 08:49] panthony commented on #334
This is actually fixed by `escapeWithReference` option cited here:

https://github.com/sir-dunxalot/ember-tooltips#popper-options

[2019-01-15 08:49] #334 closed

[2019-01-18 17:23] szimek opened #335 "Can't close the popover using isShown prop modified by clicking button in the popover"
I've got a simple popover that has "cancel" and "confirm" buttons. When one of these buttons is clicked, I change a value that is assigned to `isShown` prop. However, when I click one of these buttons the popover is not hidden, even though `isShown` is set to `false`. The issue is (most likely) caused by the following check in `hide` method:
[code]
When I click the button, the mouse is inside, so

[2019-01-18 17:37] maxfierke commented on #335
@szimek could you share your template code invoking `ember-tooltips`?

[2019-01-18 17:43] szimek commented on #335
Sure. I'm replacing Bootstrap popover with this library, so maybe there's something messed up there.

_popover-confirm.hbs_
[code]
I'm then using my `popover-confirm` component like this:
[code]

[2019-01-18 22:05] szimek commented on #335
I guess I'll have to figure out another way of setting up and closing these popovers anyway and trigger `onCancel`/`onConfirm` actions *after* the popover is really closed. I'm not sure if it's possible to call an action of a child component (feels kind of hacky), or maybe I could extend `ember-popover` and call `hide` action from another action, though I'm not sure if it's possible as well.

It l

[2019-01-18 22:18] maxfierke commented on #335
you can call `hide` for the popover component. we support this: https://github.com/sir-dunxalot/ember-tooltips#ember-popover

e.g. you could do something like this to pass through the `ember-popover` `hide` action into your own cancel action

[code]

This would pass a callback that calls `popover.hide()` to your `cancel` action, which you could then call in your action to control when the hide hap

[2019-01-25 16:09] maprules1000 commented on #335
@maxfierke That's really useful info to know. Maybe it can be added to the readme on `isShown` as a popover-specific section?

[2019-01-27 21:04] maxfierke commented on #335
@maprules1000 I think we should probably fix the bug and make it possible to toggle with `isShown`, just like tooltips, rather than documenting and supporting a convoluted workaround 😛 I'll take a look at doing so this week. Popovers need some love

[2019-01-28 20:20] optikalefx opened #336 "Can't extend / set defaults"
I had the clipping issue when upgrading from 2 -> 3, so I went to set the default for all tooltips to render on the body. But just merely having

[code]

in existence, causes the tooltip to show an empty popup.

![image](https://user-images.githubusercontent.com/926885/51863874-29d84900-2310-11e9-86b9-e6a03ea33279.png)

Any idea where I can look for this?

[2019-01-28 22:09] maxfierke commented on #336
@optikalefx anything logged in the console / exceptions thrown?

[2019-01-29 17:32] optikalefx commented on #336
Here's a twiddle https://ember-twiddle.com/ac75eb9934ee38531a5e31722d25dcde?openFiles=components.ember-tooltip.js%2Ctemplates.components.ember-tooltip.hbs when we attempt to extend with defaults, the tooltip is just empty. If you delete the component files it will work.

I find this to be the case for the 2.x branch as well.

[2019-01-29 20:30] kstinson14 opened #337 "Tooltips getting into state where spacing becomes fixed in one direction"
Seen in version 3.1.1.  It seems to be similar to #191.

Basically, a tooltip can get into a state where its spacing does not get adjusted when it flips to the opposite side of its target.  Once this happens, it remains like that (spaced correctly when on one side of the target, and incorrectly when on the other side) until the page is reloaded.

It was tricky to find a super reliable repro case f

[2019-01-29 21:56] maxfierke commented on #337
Thanks for the sleuthing! I thought we had fixed this, but seems like not 😞

[2019-02-03 17:34] maxfierke commented on #335
Mind taking a look at https://github.com/sir-dunxalot/ember-tooltips/pull/338? It should resolve the issue here with toggling popovers using `isShown`

@szimek One caveat, is that modifying the var tied to `isShown` inside of the popover will cause a double-render error. I'm still looking into why that's happening.

@maprules1000 I added a test & example specifically for the case you're describing

[2019-02-03 17:45] maxfierke commented on #310
I'm going to go ahead and close this out, but feel free to re-open if there are other questions. I think the guidance on leveraging `babel-present-env` in the host application to include the appropriate polyfills still stands.

[2019-02-03 17:45] #310 closed

[2019-02-03 18:01] maxfierke commented on #333
Will be addressed by https://github.com/sir-dunxalot/ember-tooltips/pull/338

[2019-02-06 13:24] FredUK opened #339 "Ember-tooltips 3.1.1 - Breaks build Broccoli - popper.js no such file or directory"
Similar to #323 but I'm not using workspaces nor using yarn. Also, #323 mentions op issue is fixed in 3.1.1 which is the one I'm trying.

A simple ember install ember-tooltips and then ember serve returns:

The Broccoli Plugin: [SourceMapConcat: Concat: Vendor /assets/vendor.js] failed with:
Error: ENOENT: no such file or directory, stat 'C:\www\myapp\tmp\source_map_concat-input_base_path-XJhi7ms0

[2019-02-06 15:30] maxfierke commented on #339
@FredUK ember-tooltips only supports Ember-CLI 2.15+, so you'll need to upgrade your `ember-cli` version (this can be done without upgrading Ember)

[2019-02-08 17:53] GerritSommer opened #340 "3.1.1 lazyRendering is not working anymore"
I just updgraded from 2.10 to 3.1.1 and made all the changes as recommended.
I am heavily relying on lazyRendering as some tooltips access computed properties, which should only be computed when needed (-> when the popover is shown).

With the new version the content-block of the tooltip seems to be computed when the targetElement is inserted to the DOM.

I made a little twiddle (always wanted to

[2019-02-08 18:23] maxfierke commented on #340
@GerritSommer I will refer you to this reply from an earlier issue for now (and I shall update the Upgrading documentation later to include this): https://github.com/sir-dunxalot/ember-tooltips/issues/330#issuecomment-448271612

Please let me know if you have any follow-up questions!

[2019-02-08 18:29] GerritSommer commented on #340
@maxfierke 	Oh great, thats exactly what I needed.
Thanks for the info and the addon.

[2019-02-08 18:29] #340 closed

[2019-02-09 03:07] optikalefx commented on #336
That works. Thanks! Maybe a docs update would be good.

- Sean
On Sat, Feb 2, 2019 at 4:25 PM Max Fierke <notifications@github.com> wrote:

[2019-02-10 16:02] #339 closed

[2019-02-10 16:22] maxfierke commented on #336
Added a note to the docs.

[2019-02-10 16:22] #336 closed

[2019-02-14 03:51] optikalefx opened #341 "Always wrapping tooltips in {{if"
I think it would be very useful to have some property that if true, would render the tooltip, but if false, would not. I'm always having to wrap all of my dynamic data tooltips with an `{{if` check because otherwise it shows an empty tooltip, which is visually unappealing.

[2019-02-15 13:39] LucMorrissette commented on #187
@basicBrogrammer While it's not ideal, I set the color of the arrow to be the same as the tooltips border. Like this:

[code]
![image](https://user-images.githubusercontent.com/2623713/52860348-32e15c80-30fd-11e9-9e50-2e62437944a2.png)

[2019-02-18 15:50] #335 closed

[2019-02-18 15:50] #333 closed

[2019-02-18 15:50] #337 closed

[2019-02-18 17:00] maxfierke commented on #331
@Skgtouch could you provide a twiddle or a repo that reproduces this?

[2019-02-19 04:26] Skgtouch commented on #331
Solved the issue for handling IE separately.

[2019-02-19 04:26] #331 closed

[2019-02-20 17:13] basicBrogrammer commented on #187
@LucMorrissette We did the same thing 👍

[2019-02-20 21:48] ChiefBK opened #345 "Specifying an overriding css class does nothing"
According to the documentation it looks like I can add a CSS class to the `ember-tooltip` component:

[code]

I have a simple CSS class
[code]

And specified this with my component:
[code]

Which rendered the following:
<img width="196" alt="screen shot 2019-02-20 at 3 39 38 pm" src="https://user-images.githubusercontent.com/4656504/53126544-fe6b0780-3525-11e9-9c56-137023d582f6.png">

No different

[2019-02-20 22:30] maxfierke commented on #345
`class` will only apply to the wrapper element, rather than the actual tooltip element right now, so the `tooltipClassName` approach is the correct way to do this.

There's a pending PR #327, which will hopefully clean this up a bit, and provide a more clear way to specify custom classes

[2019-02-22 16:14] #345 closed

[2019-02-24 00:55] #341 closed

[2019-03-01 14:29] bedrosenator opened #346 "Tooltip doesn't work on {{paper-switch}}"
Hi. I've updated ember-tooltip to v3.2.0
I've noticed that tooltip doesn't appear in case of using paper-switch. It attaches trigger to sibling but not to parent element. It works only if I set target as paper-select. In 2.x it works well.
And also you forgot to mention in the migration doc that target changed to targetId

**Rendered html**
[code]

**Hbs**
[code]

[2019-03-19 01:24] #324 closed

[2019-03-19 01:26] #307 closed

[2019-03-19 02:16] #298 closed

[2019-04-02 11:42] sakinehmehrabi opened #352 "Tabindex is missing ."
http://sir-dunxalot.github.io/ember-tooltips/
tabindex is not using  by default .so we can not use event focus... .

[2019-04-02 14:38] maxfierke commented on #352
Thanks! This indeed looks like a bug. We probably just need to be specifying `tabindex="-1"` on our tooltip elements. I'll take a look at this today or tomorrow.

[2019-04-02 15:39] sakinehmehrabi commented on #352
Hi,
With customising a component's element it will be work :
`tagName: 'a',
 attributeBindings: ['tabindex'],
 tabindex:'0',`

[2019-04-05 09:25] #352 closed

[2019-04-08 17:31] mayatron opened #353 "Slide effect does not work"
The `slide` effect appears to not be working yet in the latest release `3.2.0`. It might be preferable to remove this option from the README until it's been implemented.

[2019-04-19 19:10] maxfierke commented on #353
@mayatron Ahhh good catch. Looks like we didn't port over the CSS animation from 2.x. I'll try to see this weekend if I can do that real quick before 3.3.0. Otherwise, we'll remove it from the README

[2019-05-04 13:30] les2 opened #354 "Vendor JS sourcemaps missing sourcesContent"
Issue #227 appears to be back. Sourcemaps are broken. I have documented the issue with a repo that will reproduce the problem using the latest version of Ember here: https://github.com/les2/soucemap-test-ember-3-9

In short, adding `ember-tooltips` addon causes sourcemaps for vendor to exclude the `sourcesContent` element. This breaks tools such as New Relic Browser, which use `sourcesContent` to

[2019-05-04 15:59] maxfierke commented on #354
thanks for the reproduction @les2! I'll take a look!

[2019-05-07 11:36] andreyfel opened #355 "Support @ember/optional-features@0.7.0"
@ember/optional-features is locked as a dependency on ^0.6.3. Our app is using ^0.7.0, thus dependency linter gives a test failure for @ember/optional-features.
Maybe we should use less restrictive specification, like "^0.6.0 || ^0.7.0" to support apps with 0.6 and 0.7 versions?

[2019-05-07 14:37] maxfierke commented on #355
Hi @andreyfel! thanks for raising this. Was just discussing [in a PR review](https://github.com/sir-dunxalot/ember-tooltips/pull/351#pullrequestreview-233766185) that it might be possible to remove the dependency altogether. I'll be looking into it this week, so stay tuned!

[2019-05-13 22:27] jir-f opened #358 "Tooltip only renders blank span in block format"
After upgrading from 2.x to 3.x, all the tooltips have stopped working. I changed the syntax according to the 3.3.0 but the tooltips still are not showing up.

![Screen Shot 2019-05-13 at 3 26 10 PM](https://user-images.githubusercontent.com/13970855/57658352-80058b00-7593-11e9-9deb-eb31b87c34ea.png)

Here is how I am using the tooltip on elements with target ids.
[code]

This would render a div w

[2019-05-14 02:02] maxfierke commented on #358
Hi @jir-f, would you be able to share a sample of the rendered HTML or a reproduction on [Ember Twiddle](https://ember-twiddle.com/)? I _think_ I understand how you're using it, but I want to be sure.

Note: `targetId` does not change where the tooltip renders in DOM, just what the rendered tooltip attaches itself to.

[2019-05-14 02:06] #354 closed

[2019-05-14 16:33] jir-f commented on #358
Hi @maxfierke Thanks for your response.
Here is a simpler example of how the ember-tooltip is being used and what is being rendered.
This is happening whether I'm using the `ember-tooltip` with or without `targetId`.

[code]

The rendered HTML:
[code]

![image](https://user-images.githubusercontent.com/13970855/57714957-8135c700-762a-11e9-93b5-6195ce328c8a.png)

[2019-05-14 21:04] jir-f commented on #358
@maxfierke After going through some code I found that the `ember-wormhole` dependency version was different on the library than the one in my project. `ember-tooltips` uses `ember-wormhole v0.5.5` and my project used `ember-wormhole v0.5.4`. Bumping the version to 0.5.5 resolved the issue and the tooltips render.

Just wanted to let you know. Thanks for your help.

[2019-05-14 22:16] maxfierke commented on #358
Ohhh, yeah, that'd do it! Thanks for letting me know! I thought this issue looked familiar 😄

Future viewers: Ensure you're on ember-wormhole >= 0.5.5 at the **application-level**, if you depend on ember-wormhole in your app.

[2019-05-14 22:16] #358 closed

[2019-05-15 01:06] #355 closed

[2019-05-15 02:05] maxfierke commented on #346
Sorry it's taken me so long to take a look at this.

It seems that it occurs when there is no other content inside the `paper-switch`. This results in the `.md-label` element not having a width or height, which prevents it from being toggled on mouseover, as there is no target to interact with. ([The target will, by default, be the `.md-label` element within the `paper-switch` component](https://g

[2019-05-15 05:11] omairvaiyani opened #360 "Merge error: conflicting file types: popper.js is a directory [.. but file in]"
[This bug](https://github.com/sir-dunxalot/ember-tooltips/issues/339) seems to have re-emerged in 3.3.1.

Latest version of ember. Fixes when I rollback to 3.3.0.

[2019-05-15 13:57] maxfierke commented on #360
@omairvaiyani what versions of Ember, Ember-CLI, and popper.js are your app using?

[2019-05-16 12:07] alanlalonde commented on #360
Here's the bug output from a build.

Using ember-cli 3.9.0 (well aware that 3.10.0 was released three days ago, but builds stopped working yesterday).

[2019-05-16 14:05] maxfierke commented on #360
@alanlalonde it looks like you might be using ember-bootstrap?

It seems `ember-bootstrap` depends on `ember-popper`, which also includes `popper.js` as a dependency in its build output. I'm not sure what the runtime result of mixing the two addons is, but we'd probably need to rename our `popper.js` build output to avoid the conflict.

Given the number of people who use `ember-bootstrap` alongsid

[2019-05-16 14:10] alanlalonde commented on #360
Yes, the project uses `ember-bootstrap`. While checking my `package-lock.json`, it also shows `ember-popper` uses it. I'm not sure if that dependency comes from `ember-bootstrap` or `ember-tooltips`.

[2019-05-16 14:17] maxfierke commented on #360
Both addons copy the dependency into the `vendor` tree for various reasons. We do it as of 3.3.1 to strip the `sourceMappingURL` from the files so that we can generate source maps for the whole vendor tree. `ember-popper` does it through `ember-cli-node-assets`, which I'm guessing is copying the module directory, rather than a specific file.

[2019-05-20 00:40] #360 closed

[2019-05-23 23:56] mnoble01 opened #362 "Popover is hidden on focusout when event='none'"
I'm running into an issue where interacting with a dropdown inside a popover causes the popover to be hidden.

The popover is being shown programmatically:
[code]

This is what I think is happening:
- The dropdown inside the popover triggers a "focusout" event
- The "focusout" event propagates up to my component element, which is the popover target
- The "focusout" event is picked up by this ember

[2019-05-28 15:51] thec0keman opened #363 "ember-tooltips 3.3.1+ build breaks w/ lazy engines"
Upgrading our application from 3.3.0 -> 3.3.2, and we're getting build failures:
[code]

Unfortunately I do not have time to dig into this more right now, but we do have an app with several lazy-load engines, and at least one does include `ember-tooltips`, so I suspect this may be the issue.

[2019-05-28 16:58] maxfierke commented on #363
@thec0keman does the issue persist after `rm -rf dist tmp`?

[2019-05-28 16:58] maxfierke commented on #362
Thanks for investigating @mnoble01! I'll take a look at fixing this this week.

[2019-05-30 15:27] maxfierke opened #364 "Re-implement docs in ember-cli-addon-docs"
[ember-cli-addon-docs](https://github.com/ember-learn/ember-cli-addon-docs) has become a very nice tool for generating documentation for an addon. Benefits include: testability, versioned docs, and an easy-peasy deployment process with CI.

It'll also make it easier to add pages with demos and snippets for various use-cases, as well as breakout the large chunks of docs in the README that are diffi

[2019-06-08 21:07] #362 closed

[2019-06-24 04:58] mockey-jockey opened #367 "added tooltip class when using popover component"
Added tooltip class when using popover component.

![image](https://user-images.githubusercontent.com/36475730/59992624-5ba8ce00-966a-11e9-98cd-303efdd3da44.png)

Here am facing the issue like when am using the ember popover ember tooltip class adding in dom

[2019-06-24 07:58] mockey-jockey commented on #358
@maxfierke still am facing the same issue after upgrading ember-wormhole >= 0.5.5. my ember-wormhole available in devDependicies.

[2019-06-24 20:18] maxfierke commented on #367
@mockey-jockey we spoke on Discord about this, but I'm not sure what the question is here? Could you provide some more detail?

[2019-06-25 05:08] mockey-jockey commented on #367
`Template.hbs`

[code]

and in the `DOM` is populating like this :
![image](https://user-images.githubusercontent.com/36475730/60070564-c7f00400-9734-11e9-87b3-aa8a64279374.png)

In here am using `ember-popover` component then why `ember-tooltip` class added in dom elements. (`tooltip-arrow`, `tooltip-inner`)

[2019-06-25 17:28] ecoutlee-hortau commented on #363
I got the same issue trying to upgrading from 3.3.0 to 3.3.3. The issue persist even after `rm -rf dist tmp`. I went back to version 3.3.0 because version 3.3.1 seem to still have the error.

[2019-06-25 21:20] maxfierke commented on #363
@ecoutlee-hortau could you share a list of other ember addons you're using (or preferably your `package.json`, if you're able to share)? That might be useful for reproducing this.

[2019-06-25 21:35] ecoutlee-hortau commented on #363
@maxfierke sure. It's with the .txt extension because Github don't allow me to upload a .json.
[package.txt](https://github.com/sir-dunxalot/ember-tooltips/files/3327320/package.txt)

The error message is a little different but seem similar enough to be the same issue:
`Build Error (Funnel)
ENOENT: no such file or directory, lstat '/home/ecoutlee/platform-webapp/tmp/funnel-input_base_path-BwXTIMfy

[2019-06-25 22:17] maxfierke commented on #363
Thanks! I see you're also using `ember-engines`. Are you also using lazy-loaded engines?

[2019-06-25 22:26] ecoutlee-hortau commented on #363
Seem like we are using lazy-loaded engines.
Each engine have this line in their index.js:
`lazyLoading: process.env.IS_TESTING !== 'true',`

[2019-06-26 13:11] maxfierke commented on #367
@mockey-jockey those are just the default values for `arrowClass` and `innerClass`, but you can specify other values, if you wish, by passing them in to the component. We should probably use different classes by default for the popovers, to be honest.

https://github.com/sir-dunxalot/ember-tooltips/blob/86545c139ca34d2cf75b86eb8c649c9b66a68338/addon/components/ember-tooltip-base.js#L78-L79

[2019-06-27 03:48] thec0keman commented on #363
Sorry that I let this slip!

I'm seeing the same behavior after clearing `tmp` and `dist`.  We are also using engines.

[2019-06-27 03:56] thec0keman commented on #363
Was able to trace things down to [this](https://github.com/sir-dunxalot/ember-tooltips/commit/87984d0152879ae8bc9cd58eb381751d259bbc08) commit.

[2019-07-01 14:45] maxfierke commented on #363
I'll do some playing around with lazy engines this week to take a look at fixing this!

[2019-07-07 05:12] maxfierke commented on #363
I think I traced it back to a recent change in how vendor trees are built in ember-engines (https://github.com/ember-engines/ember-engines/pull/646). There's some discussion on-going there about breakage in ember-cli-showdown, which is what ember-tooltips's `treeForVendor` implementation is based upon. I'll keep an eye on that thread for a bit, while I also try to figure out if there's a way to do

[2019-07-07 19:01] maxfierke commented on #367
I'm going to close this out for now, but if you have other questions about this, just reply to this issue and I'll re-open it.

[2019-07-07 19:01] #367 closed

[2019-07-08 20:17] alechirsch commented on #363
I am also running into this issue, using engines with lazy loading

[2019-07-17 12:43] sylwiaeb opened #368 "ember-popover with an arrow"
Is there a way to render ember-popover with arrows, just like ember-tooltips?

[2019-07-17 14:01] maxfierke commented on #368
@sylwiaeb Yup, popovers and tooltips are rendered the same, just with different CSS classes applied by default. Popover arrows are just not styled to be visible. You can checkout the [default CSS](https://github.com/sir-dunxalot/ember-tooltips/blob/master/addon/styles/addon.css) for what to override or you can add `arrowClass='my-popover-class-with-arrows'` to a popover to specify your own class t

[2019-07-17 15:29] sylwiaeb commented on #368
@maxfierke Not sure yet which styles exactly need to override however when I tried with `arrowClass=tooltip-arrow ember-tooltip-arrow` the popover rendered with the arrow. I thought there's something else involved but I'll figure it out, thank you!

[2019-07-17 15:35] #368 closed

[2019-07-22 15:34] luxferresum opened #369 "popover arrow style"
This is probably related to #368

Currently we specify arrow styles in out [css](https://github.com/sir-dunxalot/ember-tooltips/blob/master/addon/styles/addon.css#L123) but in a way so its never ever applied.

Because of [that logic](https://github.com/sir-dunxalot/ember-tooltips/blob/b317eb1d80d0dc6458988e625396ba4aa1d2dd98/addon/components/ember-tooltip-base.js#L323) the arrow gets rendered with

[2019-07-22 18:29] andycochran commented on #369
This is addressed in #370.

[2019-07-24 09:19] kennydp opened #371 "updateFor no longer works when switching to 3.x"
I am currently updating to 3.3.0 and I have a certain tooltip that uses `updateFor` to rerender. The updateFor no longer has any effect after updating, and it causes the tooltip to be positioned incorrectly after the state changes. I was wondering if it's still possible to do something like the `updateFor` with 3.x?

[2019-07-26 10:48] brookjordan opened #373 "Why do we need jQuery tests?"
Why do we need jQuery versions of tests still?
It was stated in #347 that it's for backward compatibility, but I'm not sure why removing the dependancy on jQuery would make anything incompatible?

The reason it came up is because we can't get onto Ember CLI yet due to technical reasons, so broccoli and so the build-time test file creation isn't an option for us.

[2019-07-26 14:15] maxfierke commented on #373
We could remove them in a major version bump, but because there are jQuery-specific selectors that people might be using (e.g. `:contains()`), I don't want to do it in a 3.x release. The DOM helpers should still be accessible via `ember-tooltips/test-support/dom`, however.

[2019-07-27 17:24] #299 closed

[2019-07-27 18:20] maxfierke commented on #371
`updateFor` is still implemented in 3.x. Could you share some more details on how you're using it? Which version are you updating from?

[2019-07-29 12:04] kennydp commented on #371
I'm updating from 2.11.1 to 3.3.0.

So, in this particular case, when a tooltip shows we send a request for additional data, so in the tooltips you'll see our loading animation. Once the data is in, we show the actual data. The issue we get is that when the loading state is active, the tooltip is not as high as when the data is there. On the old version the tooltip would be pushed up, while now th

[2019-07-29 14:29] maxfierke commented on #371
@kennydp is there some code you can share for a reproducible test case?

[2019-07-29 14:55] kennydp commented on #371
Yeah sure, I'll try to put it in a twiddle. May only be tomorrow though, not sure if I have time to look into it today.

[2019-07-30 04:29] brookjordan commented on #373
@maxfierke Ah yes, I hadn't thought of that.
Ok cool, I'll stick with my `postinstall` script for now.

[2019-07-30 04:30] brookjordan commented on #373
@maxfierke Ah yes, I hadn't thought of that.
Ok cool, I'll stick with my postinstall script for now.

[2019-07-30 04:30] #373 closed

[2019-07-30 04:32] brookjordan commented on #373
As a post-note, although they're available through `/dom`, the code internals also point to that file, so I get errors inside of `ember-tooltips` itself.

I wonder if this is resolvable?

[2019-07-30 06:44] kennydp commented on #371
https://ember-twiddle.com/95db34917f2ae1d789361ad337fcd5d3?openFiles=controllers.application.js%2C

Here you can see the issue I'm having. Because the height changes, the tooltip gets pushed over the cursor, while before it would just be placed higher up.

[2019-07-30 13:59] maxfierke commented on #373
@brookjordan ran into that the other day actually with the jquery ones. I'll take a look at fixing the dom ones too tonight. Nice catch!

[2019-07-30 14:01] maxfierke commented on #371
@kennydp ahhh yeah. Thanks for the reproduction! I'll take a look this week!

[2019-07-31 01:21] maxfierke commented on #369
#370 has been merged

[2019-07-31 01:21] #369 closed

[2019-07-31 01:58] maxfierke commented on #373
hmmm... looks like the DOM ones are already fixed. Mind giving master a try and if it's not workable, could you open a new issue for it? I can't promise a resolution for a build outside of ember-cli, but I'm willing to take a look.

[2019-07-31 02:25] maxfierke commented on #371
@kennydp ahhh, found the trick for this: because `isLoading` is `false`, it's not hitting the code path for `updateFor`. The fix for this is that we should just be checking that it's not the default value of `null`. A workaround for the time being would be to return some sort of truthy value, but I'll probably tag a fix tonight

[2019-07-31 03:14] brookjordan commented on #373
Oh, ok, this works if I install straight from the commit 🎉
When will the version get a bump so that I can install it naturally?

[2019-07-31 03:46] maxfierke commented on #373
Tonight or tomorrow night

[2019-07-31 04:40] #371 closed

[2019-07-31 05:19] maxfierke commented on #346
Closing this, as I believe it's not something that's fixable within ember-tooltips, and requires special handling in either the application or ember-paper

[2019-07-31 05:19] #346 closed

[2019-07-31 05:24] maxfierke commented on #135
I think the spirit of this is handled more robustly in 3.x, so closing.

[2019-07-31 05:24] #135 closed

[2019-07-31 05:26] maxfierke commented on #209
Closing this since there hasn't been any recent activity and both libraries have changed significantly since it was opened. Feel free to comment to re-open if there is still an issue!

[2019-07-31 05:26] #209 closed

[2019-07-31 14:04] luxferresum opened #376 "No way to specify the offset"
`popper.js` allows to specify an `offset` with the `offset` modifier.

With `ember-tooltips` however this is not possible, because [`tooltip.js` overwrites the `offset` property of any specified `offset` modifier](https://github.com/FezVrasta/popper.js/issues/812).

`tooltip.js` however allows the offset to be set independent of the modifiers. Because `ember-tooltips` however does not allow to set

[2019-07-31 18:34] andycochran opened #377 "Custom background color w/ matching arrow color"
@mockey-jockey pointed out in #370 how if you want to style tooltips/popovers with a custom background color, there's no simple/quick way to get an arrow of matching color. Below are my notes/ideas copied from that issue:

Can anyone think of concerns with using `!important` in this way? If not, I'll put together a PR.

[2019-07-31 18:37] andycochran commented on #377
One caveat I can think of: This is a breaking change. It could clobber any custom style people have defined in consuming apps. Maybe this should be considered for a future major version?

[2019-08-01 01:01] andycochran commented on #377
Perhaps a short-term "fix" would be to update the docs in the [custom styling section](http://sir-dunxalot.github.io/ember-tooltips/#styling) so people know how to style arrows. It could say… 

[code]

[2019-08-01 14:41] maxfierke commented on #377
I do like the `border-[side]-color: transparent` approach, but I'm not sure the `!important` is necessary due to specificity rules.

The question about breaking change is a good one though and I'm not 100% sure on whether CSS constitutes an API that would be covered under semver. Sort of philosophical question 😄I probably have somewhat contradictory views on it myself.
I think perhaps some docs ch

[2019-08-14 20:10] maxfierke opened #378 "Replace `updateFor` w/ MutationObserver"
`updateFor` is kind of a hack to induce a call to update the tooltip display if some content changes. Instead, I think we can wire something up with a `MutationObserver` to update the tooltip if content nodes change. We might even be able to enhance this by only updating the tooltip when mutations that affect the width or height happen.

[2019-08-23 15:42] slimee opened #379 "Having popover style the same as tooltip"
Hi,
Thanks you for this nice lib.

I would like to have all my popovers background-color in black, including the tooltip and the arrow, regardless the other options (position top/right/bottom/left for example)

How may I achieve this?
Best

[2019-08-23 16:33] maxfierke commented on #379
Hi @slimee -- Thanks for asking. There's a great solution logged in #377 for now, which is the recommended way to do this: https://github.com/sir-dunxalot/ember-tooltips/issues/377#issuecomment-517076910

closing this issue in favor of #377

[2019-08-23 16:33] #379 closed

[2019-08-23 19:11] slimee commented on #379
Thanks you max!
Very elegant.

[2019-09-05 15:34] Pixelik opened #380 "Disable all ember-tooltips styles"
I want to prevent the `ember-toolips` addon from applying any styles to my `{{ember-tooltip}}`s nor to my `{{ember-popover}}`s - (how) can I do that ?

I can either not load the addon's CSS file (not sure how) or prevent the addon from applying any of its classes to the rendered elements (not sure I could do that either).

Do you provide some "official" option  ? e.g. a `{{ember-tooltip style=fals

[2019-09-06 01:25] maxfierke commented on #380
We don't provide any official way to do this, unfortunately. You may be able to exclude ember-tooltip's CSS from being included in the build using [`ember-cli-funnel`](https://github.com/kellyselden/ember-cli-funnel), though I've not personally attempted to do so.

[2019-10-15 10:31] artikhurana opened #381 "Positioning the pointer/arrow so it's not always centered in 3.x"
I upgraded ember tooltip version 2.x to 3.x and found that tooltip is not centered when I hover on text first time and the snapshot is attached for reference -:

<img width="82" alt="Arrow_not_centered" src="https://user-images.githubusercontent.com/16552468/66823666-53033d00-ef64-11e9-8eca-b2124059e650.png">

After that when I hover again then it is working fine and the snapshot is attached for r

[2019-10-16 19:24] KhanhTranJBI opened #382 "Ember Tooltip v3.4.0 shows a tooltip outside the browser window"
Issue: I found is the tooltip shown and expand the browser window width and part of the tooltip content is hidden.
![ember-tooltip-off-side](https://user-images.githubusercontent.com/5200117/66951217-bf3a7b00-f00e-11e9-8615-96fd34dafed7.gif)

Expected: I hope the tooltip will shown and does not expand the browser window width and the tooltip content is not hidden.

Thanks!

[2019-10-16 19:42] maxfierke commented on #382
@KhanhTranJBI it looks like you may be using custom CSS to style the tooltips. Could you share that along with the context of how you're using the tooltip (e.g. a snippet of the handlebars template)?

[2019-10-16 19:45] maxfierke commented on #381
Hi @artikhurana  -- It may depend on the CSS of the parent element(s). Would you be able to share some CSS for those and a snippet of the template surrounding the use of ember-tooltips? Does it exhibit the same behavior when passing `popperContainer="body"` to the tooltip?

[2019-10-16 19:51] KhanhTranJBI commented on #382
@maxfierke yes, I am using a custom CSS. If I do not override CSS for tooltip then the tooltip width is around 50px which is too small and part of the tooltip is out of browser window screen.

Here is a component
[code]

[2019-10-16 19:56] maxfierke commented on #382
@KhanhTranJBI is there any absolute or relative positioning on any of the parent elements?

[2019-10-16 20:05] KhanhTranJBI commented on #382
@maxfierke yes, its parent elements has relative position as well as absolute position

Relative position on parent element
<img width="847" alt="Screen Shot 2019-10-16 at 1 02 23 PM" src="https://user-images.githubusercontent.com/5200117/66954447-45f25680-f015-11e9-8b6f-62179318e3ac.png">

Absolute position on other parent element
<img width="847" alt="Screen Shot 2019-10-16 at 1 03 28 PM" src="h

[2019-10-16 20:11] maxfierke commented on #382
Ahh, that may be what's causing issues with `popper.js`'s auto-placement. You may have luck passing `@popperContainer="body"` with your `<EmberTooltip>`, as that will position the tooltip relative to the `<body>` element.

[2019-10-16 20:17] KhanhTranJBI commented on #382
@maxfierke It looks better, but the tooltip is still out of the browser window. Please check!
![ember-tooltip-off-side-after-add-proper](https://user-images.githubusercontent.com/5200117/66955445-2eb46880-f017-11e9-9908-d04194252dcb.gif)

[2019-10-23 02:56] maxfierke commented on #382
@KhanhTranJBI I played around with this a bit, and this can be resolved by disabling a setting in popper.js that ember-tooltips enables by default, called `escapeWithReference` (more info here: in the [UPGRADING-3.x.md](https://github.com/sir-dunxalot/ember-tooltips/blob/959b57e37abfd25d9013206ab84e43de3d605bca/UPGRADING-3.x.md#my-tooltips-appear-clipped-use-within-elements-using-overflow-hidden))

[2019-10-23 03:24] maxfierke commented on #376
Thanks @luxferresum, looks like you were able to get fix in upstream, and this is included in popper.js v1.3.3 & v1.16.0

[2019-10-23 03:24] #376 closed

[2019-10-23 15:24] KhanhTranJBI commented on #382
@maxfierke It is the same. My coworker suggested me to use `@side="bottom-end"` which is good enough to solve the issue I have. Thank you so much @maxfierke!

[2019-10-23 15:24] #382 closed

[2019-11-05 18:46] ecoutlee-hortau commented on #363
I just got a similar issue with ember-sortable. The owner pointed out it's probably related to ember-engines/ember-engines#400. Maybe it will help someone to find a solution to this issue.

[2019-12-27 17:05] maxfierke opened #389 "Update documentation and tests to use Octane features"
Ember Octane has been released, but the documentation for ember-tooltips is not inline with the Ember Octane best practices. It should be updated to reflect these, for example.

- [ ] `{{curly-components with="attributes"}}` to `<TagComponents @with="attributes">`

Please suggest others that you notice

[2020-01-07 18:06] eramod commented on #381
I just installed ember-tooltips and I'm running into this issue as well - the tooltip renders too close to the element it's attached to on the first render, causing it to overlap the element. The difference in the css appears to be that the transform:translate3d property is calculated differently on the tooltip's first render than on subsequent renders.

I tried your suggestion of setting popperCo

[2020-01-08 21:52] maxfierke commented on #381
Hi @eramod! Thanks for sharing the images! Since those values are calculated and populated by either `popper.js` or `tooltip.js`, so I'll have to dig into those two a bit more to get a sense for what might be happening here.

It _could_ be related to the `escapeWithReference` modifier, which `ember-tooltips` activates by default. Mind giving it a try with that setting disabled? The `popperOptions`

[2020-01-10 20:09] evanb2 opened #391 "Remove tooltip from DOM on hide"
Instead of setting `visibility: hidden`, why not remove the element from the DOM?

Is there a way to implement this behavior using the component's API?

[2020-01-10 22:40] maxfierke commented on #391
@evanb2 this is how the hide behavior works in [`tooltip.js`, the library we use underneath](https://github.com/popperjs/popper.js/blob/f1f487463c595207781a7c9d2cfc6c0e0ed71b68/packages/tooltip/src/index.js#L266).

In theory, removing the element from the DOM could be done instead, but would incur the cost of removing popper.js/tooltip.js teardown and then removing the DOM node, and then the setup

[2020-01-13 12:34] rwwagner90 commented on #381
I'm experiencing this issue as well. Disabling `escapeWithReference` does not change the behavior.

[2020-01-13 15:27] maxfierke commented on #381
Has this just started occurring recently (e.g. after an Ember upgrade?)

[2020-01-13 15:34] rwwagner90 commented on #381
@maxfierke I am not sure exactly when it started happening. An Ember upgrade or yarn upgrade or something could have triggered it. I do not think it was always a problem, but maybe it was and I just didn't notice.

[2020-01-19 22:17] maxfierke commented on #381
Hey folks, I looked into this a bit yesterday and it seems like it may have been caused by some change in Ember 3.14 or 3.15 that seems to have been resolved by merging #388 to replace `ember-wormhole` with `ember-maybe-in-element`.

`ember-wormhole` used an `afterRender`-scheduled task (and an observer for changes) to do its positioning of a rendered element vs. the `in-element` helper, which I t

[2020-01-20 00:28] rwwagner90 commented on #381
@maxfierke I believe I did start seeing the issue only after updating to Octane, so the observer changes sounds like a likely culprit. Thanks for tracking this down!

[2020-01-20 23:47] #389 closed

[2020-01-21 02:29] maxfierke commented on #381
Released a fix in 3.4.2. Hopefully this also fixes the original issue as well, but if not, let me know and I can re-open this.

[2020-01-21 02:29] #381 closed

[2020-01-22 18:05] eramod commented on #381
This resolved the issue for me. Thanks!

[2020-05-20 11:56] sotoyjuan commented on #382
This solved the problem for me.
Thanks!

[2020-05-20 16:55] tempo22 opened #398 "Issue with tooltip positioning"
Hi,

I'm currently running into the same issue as this one: https://github.com/sir-dunxalot/ember-tooltips/issues/381

In the process of upgrading an addon to octane, I'm using ember-tooltips v3.4.3 with ember 3.18.0.

Using the following code
[code]

This is the positioning of the first render:
![image](https://user-images.githubusercontent.com/1882437/82474298-22bbe800-9acb-11ea-8b47-bf60fd7fbc5

[2020-05-20 17:18] maxfierke commented on #398
@tempo22 could you verify whether there are any other addons depending on ember-tooltips that may be pulling in an old version?

[2020-05-20 18:29] tempo22 commented on #398
This is my yarn.lock file:

[code]

[2020-05-21 16:58] maxfierke commented on #398
@tempo22 would you be able to provide more information about how LpButton is composed? e.g. the DOM structure of it and any CSS styling it or the container its in

[2020-05-21 21:25] tempo22 commented on #398
@maxfierke I'm digging a bit this issue. I made a simpler demo and still had the bug even with simple divs.

I could notice the bug wasn't happening in some pages and the only difference is an unrelated JS notice (I'm using ember-cli-addon-docs):

[code]

I'll check if I can get rid of that error

[2020-05-22 09:17] andreyfel opened #399 "Upgrade to popper@2?"
It seems popper bumped major version. Is there a plan to migrate?

[code]

[2020-05-22 14:06] maxfierke commented on #399
There's a rough idea in my head to do it for a v4 release at some in the near future, but have not started working on it.

[2020-07-18 20:37] boris-petrov opened #402 "Deprecation warnings with Ember 3.20"
This addon uses `ember-maybe-in-element` [0.4.0](https://github.com/sir-dunxalot/ember-tooltips/blob/3.4.3/package.json#L39) which uses the as-of-Ember-3.20 deprecated `-in-element`. That's printed as warnings in the console when running `ember serve`. Simply updating `ember-maybe-in-element` to [1.0.0](https://github.com/DockYard/ember-maybe-in-element/releases/tag/v1.0.0) should fix the issue.

[2020-07-19 00:26] maxfierke commented on #402
Awesome, thanks for the heads up! Will take a look at that this week.

[2020-08-12 11:31] raido commented on #402
@maxfierke any update on this?

[2020-08-13 13:47] maxfierke commented on #402
@boris-petrov it was breaking CI for some earlier Ember versions, but will look at relaxing the constraint a bit tonight to allow for a greater range of versions

[2020-08-13 14:15] raido commented on #402
The maybe-in-element addon has recent v2 release as well.

[2020-08-14 02:25] #402 closed

[2020-08-14 02:42] maxfierke commented on #402
This has been addressed in v3.4.4

[2020-08-25 16:40] #364 closed

[2020-09-08 15:02] takshch opened #410 "Wrong Sentence at line 335 of README file"
# Description

## At line 335, there is sentence "when you only want to toolip to show" where "toolip" is wrong word and "to" before "toolip" is grammar mistake.

### Only one line is changed.

###  PR for this issue: https://github.com/sir-dunxalot/ember-tooltips/pull/409
### Please check and merge the PR.

[2020-09-18 12:26] thamsrang opened #412 "IE 11 - Not working due to js errors"
Hi,
There are JS error occurred in IE11 browser.
1. When tooltip creating.
Error occurred in `ember-tooltip-base.js` at line no. [407](https://github.com/sir-dunxalot/ember-tooltips/blob/6ef25b479f86f387fc4d2cc5535fee1ef7292e36/addon/components/ember-tooltip-base.js#L407)
[code]

2. When tooltip component destroying.
Error occurred in `ember-tooltip-base.js` at line no. [263](https://github.com/si

[2020-09-18 14:06] maxfierke commented on #412
@thamsrang IE 11 should support [classList](https://caniuse.com/classlist) just fine. I think these errors may indicate that the target of the tooltip (usually the parent element) doesn't exist by the time it does the setup for the tooltip. are you passing [`targetId`](https://github.com/sir-dunxalot/ember-tooltips#targetid) to the tooltip or moving it around the DOM somehow?

[2020-09-18 16:11] maxfierke commented on #412
@thamsrang You need to make sure the element specified by `targetId` exists when the `<EmberTooltip>` is rendered

[2020-09-18 16:17] maxfierke commented on #412
@thamsrang that's probably related to the first error where the tooltip wasn't able to attach itself to the target

[2020-10-02 07:58] Techn1x opened #413 "Hiding popover on target click or inside click"
Hi,

I have a button/element that I would like to open a popover when it is clicked, and also close it when it is clicked. Additionally, I would like any click inside the popover to close it (while also maintaining the action that the item inside the popover would have done).

Here's an example of what I would like to achieve;
![Peek 2020-10-02 17-45](https://user-images.githubusercontent.com/1049

[2020-10-02 11:59] Techn1x commented on #413
I could probably use something like ember-basic-dropdown, but already using this addon for tooltips, and I've managed to style the popover like the dropdown I need so figured I could save a dependency if I can just get the show/hide working correctly

[2020-11-02 11:33] zeppelin commented on #391
@maxfierke Our use case is related to rendering the tooltip inside a custom `popperContainer`. When used in tables where each cell has a tooltip and the table can scroll horizontally inside its container (which is why the container must have `overflow: hidden` making `@popperContainer="body"` required, otherwise some of the tooltips would've been cropped), after hovering a sizable number of cells,

[2020-11-09 19:52] mtrunt opened #414 "onHide triggers even if tooltip wasn't shown"
When a tooltip has a `delay` to be shown the `onHide` gets called even when the tooltip wasn't shown.

Heres a simple [twiddle](https://ember-twiddle.com/bb93c87d1768b54747be2c4ca2d08b4b?openFiles=templates.application%5C.hbs%2C)

Basically the tooltip has a 1 second delay to be shown when you hover over the text but if you move the mouse outside the text before the second passes the `onHide` stil

[2020-12-04 08:12] thamsrang commented on #412
Thanks for your comment. Working fine.

[2020-12-04 08:12] #412 closed

[2020-12-08 17:07] abel-n commented on #187
Hello! I'm curious if I understood it right―I can't have custom colored, bordered tooltips with this addon, can I?

Didn't find any closely related issue apart from this one. The solution mentioned above (arrow having filled with color of border) is not viable.

[2020-12-08 17:30] maxfierke commented on #187
You can, you will just likely need to use the `tooltipClass`, `innerClass`, and/or `arrowClass` options and provide your own styles (or override the defaults with CSS). Please see https://github.com/sir-dunxalot/ember-tooltips/blob/master/addon/styles/addon.css for how the base styles are implemented.

[2020-12-08 17:57] abel-n commented on #187
Indeed, I managed to achieve the desired effect with adding some pseudo elements.

![image](https://user-images.githubusercontent.com/7081757/101522056-ff815900-3986-11eb-8b5b-600cc5491934.png)

Here is the code (for top tooltip only, scss), in case someone wants to play around with something similar:
[code]

Based on [this SO post](https://stackoverflow.com/questions/36872206/css-tooltip-with-arr

[2021-03-01 03:01] #363 closed

[2021-05-05 17:42] mamiller93 commented on #414
Any update on this? I'm running into a similar issue with `delayOnChange` which I think is a derivative of this issue. If you hover over a tooltiped element and then hover over another tooltiped element, despite having `delayOnChange = false`, it still delays on subsequent elements. I *believe* this issue is causing that as well.

[2021-09-03 07:21] jeroen-hoekstra opened #433 "Deprecation warning: Using `run.bind` has been deprecated"
We get this deprecation warning after updating to "ember-source": "3.27.1".
We use "ember-tooltips": "3.4.7".

[code]

https://github.com/sir-dunxalot/ember-tooltips/blob/ad7fc1aeaca34ac6b788eea0012ed9dcd29bca87/addon/components/ember-tooltip-base.js#L612

[2021-09-03 14:14] maxfierke commented on #433
Thanks! I'll be doing a run at Ember 3.27+/4+ support in the coming weeks to address this

[2021-11-24 15:18] #433 closed

[2021-11-29 10:17] bjornharrtell opened #436 "Must use import to load ES Module eslint-scope/lib/definition.js"
When upgrading ember-tooltips from 3.4.7 to 3.5.1 an ember b spits out large amounts of this error messages:

`Must use import to load ES Module: <projectdir>/node_modules/eslint/node_modules/eslint-scope/lib/definition.js`

The build still appear to work but I was surprised the upgrade could cause this, it was not obviously connected to ember-tooltips and was only found by trial and error.

[2021-11-29 10:26] bjornharrtell commented on #436
I must have been seeing things. Looks like this has purely do to with upgrade of ember-auto-import to 2.x.

[2021-11-29 17:45] bjornharrtell commented on #436
Uhm.. no surfaced again.

[2022-03-10 23:16] bowles123 opened #443 "Increased memory usage on 3.5.1"
Running on node v12.13 we are running into an issue when building for e2e in CI. ```ERROR Summary:
  - broccoliBuilderErrorStack: Error [ERR_WORKER_OUT_OF_MEMORY] [ERR_WORKER_OUT_OF_MEMORY]: Worker terminated due to reaching memory limit: JS heap out of memory
    at Worker.[kOnExit] (internal/worker.js:238:26)
    at Worker.<computed>.onexit (internal/worker.js:168:20)
  - code: [undefined]
  - c

[2022-04-12 21:23] cah-briangantzler opened #444 "Remove use of ember global Ember.testing"
Use of the ember global has been deprecated

Replace its use here https://github.com/sir-dunxalot/ember-tooltips/blob/master/addon/components/ember-tooltip-base.js#L228 with embroider/macros https://github.com/embroider-build/embroider/tree/main/packages/macros#istesting-isdevelopingapp

[2022-06-07 13:41] #413 closed

[2022-06-25 22:59] #444 closed

[2022-09-23 14:46] #194 closed