[2015-07-06 14:56] sir-dunxalot opened #1 "Add Section 508 compliance"
We need section 508 compliance for the tooltips (keyboard navigation to focusable elements in the tooltip). This requires support for:

1. clicks/hover
2. touchscreen taps
3. screen reader / keyboard navigation

Proposed solution:

[2015-07-07 16:11] jmurphyau opened #2 "Use Mixins and allow option for no Initializers"
Hi

I like this library but would prefer that it didn't load code on every single one of my components and views. The code in the 'didInsertElement' is run for every element inserted in my app - all the time. This shouldn't be the default behaviour - or it should at least be able to be turned off.

Also - I see that you've actually got the code that is inserted on every view/component in the initi

[2015-07-07 16:43] sir-dunxalot commented on #2
Definitely valid points. I think there's some value in the 'plug and play' nature of initializers so perhaps an option, as you suggested, to manually import the code that's refactored into a mixin would be the best option. I'd happily accept a PR as I won't be working much until next week but either way would like to make these improvements.

The option is probably best set in the `config/environm

[2015-07-17 04:03] sir-dunxalot commented on #2
This will be fixed by #3, which is currently up for review.

[2015-07-17 04:38] sir-dunxalot commented on #2
#3 merged into master and released as `0.2.0`.

[2015-07-17 04:38] #2 closed

[2015-07-17 07:21] vvscode opened #4 "Can I use addon with handlebars?"
Hi

I try to use addon with ember 1.9.1 ( ember-cli 0.2.7 )
I try both
[code]
do nothing. I even can't find addon's code at developing tools ( and that's strange - cause it means that files are not included ) ( Of course I restart my app on config changes )

Can you help?

Thx

[2015-07-17 12:59] sir-dunxalot commented on #4
So you're placing the config in `config/environment.js`? And what happens when you remove the config entirely?

As a quick test could you also try adding version `0.1.1` to your package.json instead and then run `npm install`. Do you see the addon code then?

[2015-07-21 16:16] cdl opened #5 "Tooltip text doesn't change when tooltipContent changes"
I have the following element inside a component:

[code]

The component, on `didInsertElement`, calls `this.renderChildTooltips();`, which works great. However, **when the `data-tooltip-content` attribute changes, the content of the tooltip itself doesn't change**.

Subsequent calls to `this.renderChildTooltips()` doesn't re-render the existing tooltip - it just creates another tooltip with the ne

[2015-07-21 16:56] sir-dunxalot commented on #5
I think this is very valid, especially with the nature of promises.

The [tooltip API doc are available here](https://github.com/darsain/tooltip/wiki/Tooltip). There is a `Tooltip.detach()` method, which might suit our needs here. However, better still is the `Tooltip.content()` method, which changes the tooltip content - so it's definitely possible.

One blocker here is that whilst the tooltip is

[2015-07-21 19:43] jchamet opened #7 "Tooltip for input remains after action"
I use ember liquid-fire which allows smooth transitions between routes. I have an action attached to input fields so that when a user presses the enter key within an input field, it takes them to a new route.

Unfortunately, the old tooltip for the input field (that no longer is present) remains on the screen and requires a hard refresh to remove.

If there could be a way to trigger a tooltip clea

[2015-07-21 20:01] sir-dunxalot commented on #7
Hey James,

The issue could be caused by some interaction between liquid fire and ember-tooltips but I imagine we need a move stable way to clear tooltips across the board. For example:

[code]

Do you think that would solve the problem here?

[2015-07-21 20:02] sir-dunxalot commented on #7
(And that code would be in the tooltip mixin).

[2015-07-22 02:45] jchamet commented on #7
Your solution appears to work. Do you plan on committing this change to master?

[2015-07-22 03:06] sir-dunxalot commented on #7
Yep, definitely. Not sure when though - I have a lot on my plate. I would be happy to accept a PR for an interim fix in the meantime (even if it doesn't add functionality for tooltips rendered using the `renderChildTooltip()` method.

[2015-07-23 04:29] #7 closed

[2015-07-25 15:48] jchamet opened #10 "tooltip duration property"
It should be possible to set tooltips to close automatically after a certain duration

[2015-07-25 18:22] sir-dunxalot commented on #10
#9 adds the ability for a tooltip's visibility to be bound to a boolean property instead of an event. Whilst this would add a bit of logic to the component or controller the boolean property is bound to (e.g. after 3 seconds, set `showTheTooltip` to false) it probably makes more sense than a tooltip duration property, which would interfere with events.

What use cases are you thinking of? And woul

[2015-07-25 20:17] jchamet commented on #10
I am applying tooltips to input fields. I think tooltips are great for better explaining an input fields but when the user is typing, it doesn't make sense to continue showing the tooltip for the entire duration of focus, especially for large entries.

#9 would let me setup a duration and destroy tooltips after the duration, but I think this would be better managed as a property of the component.

[2015-07-25 20:48] sir-dunxalot commented on #10
Ok, that seems reasonable.

So here, you would expect to do something like the following?

[code]

[2015-07-25 20:51] jchamet commented on #10
Yes! That would be perfect.

[2015-07-25 21:18] sir-dunxalot commented on #10
Ok. I'll wait until #9 is merged before adding this feature.

[2015-07-31 23:04] davidgovea commented on #10
Been using this recently - helps with the hover-triggered tooltips that somehow get stuck open. No way to fully avoid that, but if they auto-close after 5sec, you prevent UI eyesores.

[2015-08-01 03:41] sir-dunxalot commented on #10
Awesome. I'm gonna get on this tomorrow (Saturday). Sorry for the delay.

[2015-08-01 15:25] jchamet commented on #10
^^ I noticed that issue as well. The pull request looks good, I'm really looking forward to the merge!

[2015-08-08 18:25] sir-dunxalot commented on #10
This should be resolved by #11 and `v0.4.0`. let me know if it doesn't add what you want.

[2015-08-20 18:31] alegscogs opened #15 "Namespace for CSS classNames"
Just a quick suggestion: CSS classNames like 'right', 'left', 'in', and even 'tooltip' are pretty broad and can easily conflict with an existing codebase. Fwiw, in our case, many of these classNames are already widely used utility classes in our app. It would be great to have a simple namespace prefixed to all of them, so they become 'ember-tooltips-right', 'ember-tooltips-left', etc., or somethin

[2015-08-20 20:13] sir-dunxalot commented on #15
Thanks for the issue. I agree with the conflict happening too easily. The class names are part of the [darsain/tooltips](https://github.com/darsain/tooltip) library, which sits under this addon. The options to customize the classes like `right`, `left`, and `in` are pretty limited and when they can be changed the css has to be manually changed.

I'll look into a way to make custom class names main

[2015-08-26 15:40] mschinis opened #16 "Canary support"
Hello,
The current build fails on canary. As the ember team is working towards the final 2.0.0 release, it would be good if we had support for canary.

Thanks,
Michael

[2015-08-26 21:40] sir-dunxalot commented on #16
Thanks for the issue - very valid. I'll look into it and see what's going on.

[2015-08-31 15:08] jigneshchudasama05 opened #17 "Tooltip is not working under conditional statements"
[code]

[2015-08-31 15:57] chrismllr opened #18 "using 'tooltipEvent' and 'tooltipVisibility' tooltip does not close when property set false"
Having an issue using `tooltipEvent` and `tooltipVisibility` based on a property... When the property is false (in my case, setting false on deactivate) it does not close the tooltip, and it is stranded on the page.

Is there a method I could call on deactivate to close any tooltips that may be open?

[2015-08-31 16:02] sir-dunxalot commented on #17
If you are using the `data-<x>` attributes you will need to call, in the parent view/component, `this.renderChildTooltips()` everytime `isValidCode` changes. For example:

[code]

[2015-08-31 16:02] sir-dunxalot commented on #17
Let me know if that doesn't solve your issue.

[2015-08-31 16:04] sir-dunxalot commented on #18
What is `tooltipEvent` set to in this case?

[2015-08-31 17:25] chrismllr commented on #18
`click`...  I had tried `manual`, and was getting an error `Uncaught TypeError: Ember.default.$(...)[options.event] is not a function`..

Here is a snippet...

[code]

[2015-08-31 19:31] sir-dunxalot commented on #18
Ok, thanks for the info. `tooltipVisibility` will only take effect when `tooltipEvent='manual'`. It seems like that is throwing an unexpected error, which is the core issue here. I'll look into why this is happening.

[2015-09-01 11:17] jigneshchudasama05 commented on #17
Thanks !! :)
will try this and let you know

[2015-09-02 00:44] chrismllr commented on #18
Thanks, FYI  Ember is v1.13.7

[2015-09-07 21:46] matixmatix opened #19 "DEPRECATION: Ember.View is deprecated."
Will there be an update of ember-tooltips suitable for Ember 2.0?

[2015-09-08 04:04] sir-dunxalot commented on #19
There will soon. I'm a bit swamped with work right now but it's on my list. I'm happy to accept a PR if someone else wants to make the updates in the meantime.

[2015-09-16 00:13] jamesarosen commented on #5
`renderTooltip` already [sets](https://github.com/sir-dunxalot/ember-tooltips/blob/3faafa5105d3f46cc58480aadfdc845081f0d772/addon/mixins/components/tooltips.js#L149) `tooltip` to the `Tooltip` instance.

Thus, the simplest thing that could _possibly_ work would be
[code]

I don't like that because it uses an Observer. It also might not work if the component that has `tooltipContent` differs from t

[2015-09-16 00:38] jamesarosen commented on #5
My current solution:
[code]

[2015-09-16 01:05] jamesarosen opened #21 "Feature request: add to arbitrary element"
`addon/utils/render-tooltip` takes an element as its first argument.

`addon/mixins/components/tooltips#renderTooltip` always passes `this.get('element')` as that argument.

I'd like to have a tooltip appear on something like `this.$().closest('.tooltip-target')` to have it appear on a parent element that isn't itself an `Ember.Component` that mixes in the `TooltipsMixin`:

[code]

[code]

[2015-09-16 01:59] sir-dunxalot commented on #5
Sorry for not realizing this sooner but #20 was recently merged into the Ember 2.0-compatible branch. Would this solve the issues you're having? Also, I'm open to another PR that would only add the observer in #20 when the Ember version is less than one that would support your above solution, which is more forward-compatible.

[2015-09-16 03:57] jamesarosen commented on #5
#20 will only work if `tooltipContent` is truthy when `didInsertElement` fires. If it starts out `null` and then changes to `true`, `this.get('tooltip')` will be `undefined` when the observer fires.

[2015-09-16 04:20] sir-dunxalot commented on #21
Would using the `renderTooltip` util be acceptable for this?

For the above example, this would look something like:

[code]

That's all possible with the latest release.

[2015-09-16 04:20] jamesarosen commented on #21
I like it!

[2015-09-16 04:20] #21 closed

[2015-09-16 04:21] sir-dunxalot commented on #21
Awesome. Just let me know if it doesn't work exactly how you would like or if you have any other ideas!

[2015-09-16 04:22] sir-dunxalot commented on #16
This should be fixed with #22, which was released as `v0.5.0` this evening.

[2015-09-16 04:22] #16 closed

[2015-09-16 04:23] sir-dunxalot commented on #17
Is this still an issue for you?

[2015-09-16 04:25] sir-dunxalot commented on #4
I'm going to close this for now. Let me know if there are still issues persisting.

[2015-09-16 04:25] #4 closed

[2015-09-16 14:15] sir-dunxalot commented on #5
Ok, I see. Version 0.5.0 and above only supports Ember 2.0 and above so you'd be fine to use the `didUpdate` event without needing to support older Ember versions. Of course, if you'd like to make it backwards compatible that's not a bad thing.

Let me know if you need any other info or pointers.

[2015-09-19 20:11] sir-dunxalot commented on #19
Fixed by #22

[2015-09-19 20:11] #19 closed

[2015-10-07 01:02] jamesarosen opened #24 "Tooltip reappears after route transition"
If I add a tooltip to a link:
[code]
then the tooltip shows up when I hover over the link (yay!). When I click the link, the tooltip disappears (yay!). But when I then move the mouse, it reappears (boo!).

I've set a debugger on `Tooltip.prototype.show`. It turns out that the `mouseover` event is getting fired on the `<a>` when it no longer is in the DOM. I think the simple solution is to guard in

[2015-10-07 12:51] sir-dunxalot commented on #24
Thanks for digging into it. Which version of this addon are you using? `0.5.2` should contain a fix for this issue.

[2015-10-07 16:29] jamesarosen commented on #24
We were on 0.4.0. I see 53d3cfb34a5b5012656a62a514d573c95bd9d48e. I'm trying 0.5.2 now :)

[2015-10-07 16:31] #24 closed

[2015-10-07 19:25] sir-dunxalot commented on #24
Ok, great. Let me know if the issue still persists.

[2015-10-07 19:37] chrismllr commented on #18
@sir-dunxalot Any progress here?

[2015-10-08 04:54] sir-dunxalot commented on #18
Sorry, haven't been able to dig into it. Using tooltipVisibility with anything other than `tooltipEvent='manual'` isn't supported right now. It's not a perfect setup but it's functional.

To manage hiding and showing the tooltip you can call methods on the tooltip object within said component. For example, `this.get('tooltip').show()` or  `this.get('tooltip').hide()`. In fact, you can do anything

[2015-10-13 04:32] jrjohnson commented on #24
Is it possible to release a fix on the 0.4.x tree that will work with Ember 1.13?  We're still cleaning out deprecations so we can get into 2.0.  Or am I reading the README wrong and 0.5.x will work with ember pre 2.0?

[2015-10-13 12:42] sir-dunxalot commented on #24
I removed the compatibility table because 0.5.x should be backwards compatible. What deprecation warnings are you seeing?

[2015-10-13 14:25] alvinvogelzang commented on #17
@sir-dunxalot there's a typo in your example. `Ember.observes` should be `Ember.observer`. Beside the typo your example is working but using observers is not a very elegant solution I think.

[2015-10-13 16:58] jrjohnson commented on #24
All deprecations are in my app.  I hadn't even tried 0.5.x - didn't think it was for me.  I will give it a shot, thanks.

[2015-10-13 17:54] sir-dunxalot commented on #24
Ok. If there are any problems just let me know.

[2015-10-15 11:21] sir-dunxalot commented on #17
Well spotted! I agree - observers suck. The best option would probably be using Ember's new component lifecycle hooks or something like that. Do you have any ideas?

[2015-10-15 13:55] alvinvogelzang opened #25 "Hide / show tooltip is reversed sometimes when hovering over multiple tooltips"
When hovering immediately from one to another tooltip the show / hide functionality is not working properly. Sometimes the hide / show is reversed, so hovering over a tooltip hides the tooltip and when I'm not hovering it shows the tooltip.

Our application runs on Ember 1.13.10 and I tried ember-tooltips 0.5.2 and 0.4.0 but I'm seeing this behaviour in both versions. It doesn't matter if I use th

[2015-10-15 14:12] alvinvogelzang commented on #25
It's also happening when showing / hiding / showing on the same tooltip immediately

[2015-10-15 18:02] sir-dunxalot commented on #25
Thanks for the issue and your experimentation to narrow it down.

I think I have a good idea of what is causing this. I'll look into it and will report back.

[2015-10-15 18:05] alvinvogelzang commented on #25
Great ;-)

[2015-10-15 18:43] alvinvogelzang commented on #17
Nice suggestion. You can replace the observer and `didInsertElement()` with `didUpdateAttrs()`. This is working for me:

[code]

[2015-10-15 18:54] sir-dunxalot commented on #17
Very interesting - I've never had much success getting the new hooks to work so that's cool. Which version of Ember are you using?

[2015-10-15 19:02] alvinvogelzang commented on #17
1.13.10. It should work form 1.13.0 I think: http://emberjs.com/blog/2015/05/24/another-two-oh-status-update.html#toc_new-lifecycle-hooks

[2015-10-16 12:44] alvinvogelzang commented on #25
It looks like the bug occurs because of a setTimeOut in the darsain/tooltip vendor code. In `Tooltip.prototype.hide()` you have the following code:

https://github.com/darsain/tooltip/blob/master/index.js#L354
[code]

When I remove the clearTimeOut and setTimeOut the bug doesn't occur:

[code]

Probably it's the difference how the javascript is executed when using setTimeOut (also with 0) and with

[2015-10-16 12:52] sir-dunxalot commented on #25
This seems like an issue best fixed in the dependency but we could overwrite the `Tooltip.prototype.hide()` method. My worry is that could be out of date/incompatible pretty quickly but we're currently pulling in the library from the `vendor` directory, not a package manager so I can't imagine it being much worse!

The set timeout is likely playing the role of allowing the tooltip to animate out (

[2015-10-16 13:06] alvinvogelzang commented on #25
I agree about fixing it in the dependency.

I think you mean something like `tooltipEffectClass='fade'`. But you're right, without the setTimeOut animating out isn't working anymore so it's not an option to remove the setTimeOut.

[2015-10-24 16:33] chrismllr commented on #18
@sir-dunxalot Sorry for the delay.. That's a great observation.. whew, that would be embarrassing! Let me try it out and I'll report back soon.. Thanks for your assessment

[2015-10-24 16:41] chrismllr commented on #18
That Indeed was it. *retreats to dark corner* Closing!

[2015-10-24 16:41] #18 closed

[2015-10-24 17:21] kasunvp opened #26 "Merge error: file app.scss exists"
After installing it gives the following build error when `ember s` is run:

Merge error: file app.scss exists in /mnt/EmberCliRamdisk/ember-client/broccoli_merge_trees-input_base_path-RxstezkD.tmp/39 and /mnt/EmberCliRamdisk/ember-client/broccoli_merge_trees-input_base_path-RxstezkD.tmp/42
Pass option { overwrite: true } to mergeTrees in order to have the latter file win.

Removing the addon resol

[2015-10-24 17:50] sir-dunxalot commented on #18
No worries, man! I know it's not an optimal solution - I've been thinking about how to make it fool proof (not calling you a fool haha).

Happy to help.

[2015-10-24 17:53] sir-dunxalot commented on #26
Hmm. I haven't seen this issue with this addon nor any other addon, which all work in a very similar way. Are you able to provide some code I can use to reproduce this?

My first guess would be that `ember-cli-ramdisk` is causing compatibility issues.

[2015-11-30 15:51] dzena opened #29 "tooltipContent can't handle safeString"
I'm setting tooltipContent from the translation object (ember-i18n) which returns an SafeString object with the string property, which contains the actual message.

As a result from the tooltip I get an error message: Uncaught TypeError: Failed to execute 'appendChild' on 'Node': parameter 1 is not of type 'Node'. tooltip/index.js:225

[2015-11-30 17:58] sir-dunxalot commented on #29
Thanks for opening the issue. I'm not sure what the standard protocol is around accepting safe strings as properties but I can look into it. Do you have any ideas or a quick workaround in the meantime?

[2015-12-09 12:53] joukevandermaas commented on #25
any news on this?

[2015-12-10 04:32] #29 closed

[2015-12-10 05:22] sir-dunxalot commented on #26
I still haven't recreated this issue. Have you dug into it anymore?

[2015-12-10 05:23] sir-dunxalot opened #31 "Expand documentation"
Documentation could be expanded to include the `renderTooltip` util and other such parts that operate under the hood.

[2015-12-13 17:40] sir-dunxalot commented on #25
I don't have any immediate updates, sorry. We've been playing around with various attempts to fix some of the library finickiness in a product and hopefully something will come of that.

[2015-12-22 16:59] sir-dunxalot commented on #26
Let me know if you're able to reproduce this and we can reopen the issue.

[2015-12-22 16:59] #26 closed

[2015-12-26 17:02] sir-dunxalot opened #32 "Make mixin methods private"
`tooltipVisibilityDidChange` and `tooltipContentDidChange` should be private methods.

[2015-12-26 18:55] #31 closed

[2015-12-26 18:59] sir-dunxalot commented on #1
We *should* have 508 compliance with #33, though it is an area I will continue to learn more about at and try to improve.

[2015-12-26 18:59] #1 closed

[2015-12-26 19:00] sir-dunxalot commented on #10
This seems like it's now supported. If not let me know and I will reopen this issue.

[2015-12-26 19:00] #10 closed

[2016-01-13 16:05] SirZach commented on #5
@sir-dunxalot I need some advice on updating dynamic content within the `tooltip-on-parent` component.

[code]

Do I need to add an observer on the `tooltip-on-parent` component?

[2016-01-15 03:55] sir-dunxalot commented on #5
Hi Zach, sorry for the slow response. The `tooltip-on-parent` is, unfortunately not set up well for rerendering.

In order to change the tooltip's content in the parent view you would need to get the tooltip object and call the method like follows:

[code]

You could do this inside the observer you mentioned, or on `didUpdateAttrs` if you're using a newer version of Ember.

[2016-01-15 03:56] sir-dunxalot commented on #5
And to answer your other question, the observer would be placed on the parent component. In your case, whatever component the `{{tooltip-on-parent}}` is in the layout of.

[2016-01-15 22:05] jamesarosen opened #35 "tooltipContent can't be a SafeString"
https://github.com/sir-dunxalot/ember-tooltips/blob/86f49080abc31b75e252f5e3b3804aa89da4b056/addon/mixins/components/tooltips.js#L208 passes `tooltipContent` directly to `tooltip.content(...)`. This *must* be a plain string; the underlying library doesn't coerce it. If I do the following
[code]
[code]
Then I get

This is notable because [ember-i18n](https://github.com/jamesarosen/ember-i18n) retur

[2016-01-15 22:05] jamesarosen commented on #35
/cc @tundal45

[2016-01-17 03:04] sir-dunxalot commented on #35
Hey James, this should have been fixed by #30 (`^0.5.5`). Can you please confirm which version you are using?

[2016-01-17 03:09] jamesarosen commented on #35
We're on 0.5.4, so I bet it will be! I'll reopen with more information if we have problems. Thanks :)

[2016-01-17 03:09] #35 closed

[2016-01-17 19:25] sir-dunxalot commented on #35
Sounds good!

[2016-01-21 14:18] FredUK opened #37 "CSP reports"
Hi there,

After installing this plugin I'm getting a lot of CSP reports on the console saying:
Refused to evaluate a string as JavaScript because 'unsafe-eval' is not an allowed source of script in the following Content Security Policy directive. tooltip.js:210..

Is there any way to supress these messages without adding unsafe-eval to my CSP configuration?

![image](https://cloud.githubuserconte

[2016-01-21 17:37] sir-dunxalot commented on #37
I don't know off the top of my head but I will look into it.

[2016-01-22 15:49] sir-dunxalot opened #38 "Duplication of tooltip content with browser tooltip and ember tooltip"
The title attribute is causing duplicate tooltips to show up.

[2016-01-26 02:28] sir-dunxalot opened #39 "No failing test for tooltip persisting on transition"
#36 fixed a bug causing tooltips to remain in the DOM after transitions.

We were unable to produce a consistently failing test for the bug before the PR was merged. Instead, we had to rely on manual testing. Whilst some test coverage for transitions was added, the tests passed before and after the PR.

We should have at least one test that fails at 0a8842e957f1361c1e64c707d084e588a0f4b8b6 and pas

[2016-01-27 07:35] arthur5005 opened #40 "Tooltip made visible on focus even when event set to "manual""
Hey, was a little perplexed as to why clicking on my target element was causing my tooltip visibility to toggle, given that I had set the visibility of the tooltip to manual.

After a combing through the code (very well written btw, great documentation) I found that ember-tooltips toggles visibility on focus for any event not set to "focus"; a little counter-intuitive, but the comment above made i

[2016-01-27 07:45] webark commented on #40
you could just move the focus and escape triggers up into the previous conditional.
[code]
I might submit a pull request for this.

[2016-01-27 07:57] arthur5005 commented on #40
Oh of course, that'd be a better option.

If you won't, then I will tomorrow when I have a moment.

[2016-01-27 14:26] sir-dunxalot commented on #40
Hey Arthur,

Good catch. I think this makes a lot of sense. I'll look at merging and releasing #41 this week. If there is a time crunch let me know.

[2016-01-27 20:58] jamesarosen commented on #37
I just started noticing these as well. They seem to come from
[code]

[2016-01-27 21:15] arthur5005 commented on #40
No rush!

We love ember-tooltips, we're looking to use them more extensively throughout our app, the manual control is really handy.

Warmest,
Arthur

[2016-01-28 11:18] alvinvogelzang commented on #25
@joukevandermaas I didn't work on a fix anymore. For my app I forked this repo and removed the setTimeOut. For me that's acceptable but the fade out isn't working this way.

[2016-01-28 15:51] sir-dunxalot commented on #37
Good spot, James! Is that code in the NPM dependency for the Darsain tooltips library?

[2016-01-28 16:37] jamesarosen commented on #37
It's [right here](https://github.com/sir-dunxalot/ember-tooltips/blob/43842d88435151fbdd68b5164076b76263e6bb29/vendor/tooltip/tooltip.js#L210), as well as in the [published source](http://darsa.in/tooltip/dist/tooltip.js).

[2016-01-28 16:54] sir-dunxalot commented on #37
Got it. :+1:

Thanks for opening the issue there. Let's keep track of that and I'll look into whether there is anything that can be done in this library.

[2016-01-31 01:06] #40 closed

[2016-02-01 01:19] #32 closed

[2016-02-01 01:24] sir-dunxalot commented on #38
Fix released in `0.5.8`.

[2016-02-01 01:24] #38 closed

[2016-02-01 18:27] Gabiras12 opened #42 "Do not add title"
Hey, guys! Is it possible to ember-tooltips does not add the title attr? Or at least, do not show **two** tooltips. One styled and the default one.

[2016-02-01 19:26] sir-dunxalot commented on #42
Hey, which version are you using? This should have been fixed yesterday with `0.5.8`.

[2016-02-01 19:37] Gabiras12 commented on #42
I was using `0.5.7`. Sorry about that. It's working now with `0.5.8`. Thanks!

[2016-02-01 19:37] #42 closed

[2016-02-01 20:38] sir-dunxalot commented on #42
Awesome! I'm glad it worked.

[2016-02-08 15:26] ksnyde opened #43 "Deprecation and fail on Addon => Addon"
I have an addon `ui-button` which I'd really like to use your addon for tooltips rather than Bootstrap's. I have added it to my template like this:

    <button type="button" class="ui-button btn btn-{{mood}} {{_size}}">
      {{#if hasBlock}}
        {{yield}}
      {{else}}
        <span class="content">
          {{#if tooltip}}
            {{#tooltip-on-parent}}{{tooltip}}{{/tooltip-on-parent}

[2016-02-08 15:40] ksnyde commented on #43
Actually I can see that it is displaying the widget but at the upper left of the page (which was offscreen). I thought maybe it was compounded by the parent component having a `tagName` of `null` but I've changed it to a `span` and I get the same results.

[2016-02-08 15:48] ksnyde commented on #43
If you're interested in seeing it in action take a look at the dummy app:

https://github.com/lifegadget/ui-button/tree/4c2809ee7b9b060e33bd18d81d6590ba7e512787

[2016-02-08 16:23] ksnyde commented on #43
Ok, i'm narrowing it down. It's clear that `tagName: ''` breaks the selection. The reasons I thought it didn't work with `tagName: 'span'` was that I had a bad property value for `tooltipPlace` on my component.

[2016-02-08 17:13] sir-dunxalot commented on #43
Hey Ken, thanks for the details and dummy app. I'll be sure to dig into this and I welcome the help!

Where are you passing the `tagName` property?

This might be averted by doing something like wrapping [this line](https://github.com/sir-dunxalot/ember-tooltips/blob/master/addon/components/tooltip-on-parent.js#L18) in a `Ember.run.scheduleOnce`. My theory is that the [renderTooltip](https://githu

[2016-02-08 17:28] ksnyde commented on #43
You probably know but in later versions of Ember (not sure when it was introduced) asserting that `tagName: ''` in the component means that it doesn't automatically add an often unnecessary/unwanted element into the DOM and lets you paint to the DOM exclusively via the template. This appears to be the direction things are going in general so I think we'll see this pattern more and more.

Anyway, t

[2016-02-08 17:29] ksnyde commented on #43
I did try wrapping the line you suggested with `scheduleOnce` but get:

    You attempted to schedule an action in a queue (function () {
            parentView.renderTooltip(_this);
          }) that doesn't exist

[2016-02-08 17:32] ksnyde commented on #43
Here's the transpiled code when I add the `scheduleOnce`:

      run.scheduleOnce('afterRender', function () {
            parentView.renderTooltip(_this);
       });

I doubt this will solve things as we're already in the 'afterRender' queue.

[2016-02-08 17:45] ksnyde commented on #43
Damn. I'm pretty stumped. No problem having it work when the component has a `tagName` but I really want that cruft gone. Causes CSS problems, flexibility problems, or both. :)

[2016-02-08 17:54] ksnyde commented on #43
https://github.com/lifegadget/ui-button/blob/5757dbf2c00b533ff3080c0577ce6fe87566d7f7/addon/components/ui-button.js#L13

Using my branch (to remove the deprecations), if `tagName` is set to "span" it works as it should. Set to an empty string it does not work.

[2016-02-08 18:37] ksnyde commented on #43
I have to stop for now. Very interested in your thoughts once you've had a chance to look at it.

[2016-02-08 18:52] sir-dunxalot commented on #43
Gotcha. So the `{{tooltip-on-parent}}` attaches a tooltip to the element of the parent component. If the parent component does not have an element in the DOM then the tooltip cannot attach itself anywhere. That is likely the conundrum here.

I do not know how to support attaching a tooltip to something that's no an element. Under the hood, this library uses https://github.com/darsain/tooltip, so t

[2016-02-09 08:55] ksnyde commented on #43
Considering it's a UI primitive I'm designing it would be nice to allow dynamic attributes. Let me mock up another approach and get your reaction to it. Also, regardless, would you consider accepting my PR as it does address the deprecation concern.

[2016-02-09 09:42] ksnyde commented on #43
I've tried my alternate approach and it didn't work. Will work with your model. Am closing this but still hoping you'll approve PR.

[2016-02-09 09:42] #43 closed

[2016-02-09 11:08] jigneshchudasama05 opened #45 "Tooltip is not working with 'ember-infinity'"
Tooltip content is not showing on infinite scrolled content.
it's working on first-page content but when infinite scrolling content comes it's not working on it.

View
[code]
and tooltip content structure,

```<div class="has-tooltip" data-tooltip-content='test'>Test</div>```

[2016-02-09 14:20] sir-dunxalot commented on #43
Yep, sorry it's just taking me a while to get to the PR. I'm planning on getting to it so we can merge.

This specific issue (data attribtues not updating) overlaps with #5, so let's track it there.

[2016-02-09 14:24] ksnyde commented on #43
ok, heading over there now. btw, I do have a working solution now. I'll share it with you once I get to a good breaking point.

[2016-02-09 14:30] sir-dunxalot commented on #45
This might be to do with the way the tooltip elements are added as children of the body tag, not the rendering element they appear attached to. The data attributes approach is also currently sub par, as is evident by #5 and #43.

Are you able to test this using a component and `tooltipContent` property instead of the `data-<x>` attributes? Or do you have a dummy app you can share that replicates t

[2016-02-09 14:30] sir-dunxalot commented on #43
Sounds good!

[2016-02-10 08:26] jigneshchudasama05 commented on #45
You have any idea how to call view from route?

[code]

[code]

[2016-02-10 13:50] sir-dunxalot commented on #45
If you had to do it that way, you could send an action from the view route, with the views context as a param. That way, the view could 'register' itself with the route on init. Seems a little backwards though.

[2016-02-26 21:21] coladarci opened #47 "Blocker bug - plugin explodes if you already have a tooltip property anywhere in your app or any of your apps components"
This plugin adds a `destroyTooltip: on('willDestroyElement', function () {` method that is in the mixin that gets injected everywhere.

Inside there it says:

[code]

So, if you have a tooltip property, or worse yet, you are using someone else's add-on who has a tooltip property, your app will come to a screeching halt when you navigate away from that view.

The fix should be that this plugin uses

[2016-02-29 16:32] sir-dunxalot commented on #47
I think the second part of that (checking the type/constructor of `tooltip`) is reasonable. The first part, about renaming the `tooltip` property seems like more of an odd edge case. My reasoning being that this is the tooltip library and, thus, should probably own the tooltip property. I get there are some situations that will overlap (e.g. using a UI library that has tooltips built in) but let's

[2016-02-29 16:46] coladarci commented on #47
To my knowledge, checking the constructor in JS is a dogey area - I have a simpler fix in a local branch - https://github.com/sir-dunxalot/ember-tooltips/pull/48 - pretty "hacky" but our prod site went down so I needed something quick :) Thoughts?

[2016-02-29 18:40] coladarci commented on #47
Another way I've handled this in the past is to add a property to your tooltip object, like isEmberTooltip, so you can replace this conditional w/ a check for that property. Still hacky but a little more explicit.. Thoughts?

[2016-03-02 00:44] sir-dunxalot commented on #47
I think either of those should work. The underlying library has a `Tooltip` class so I think we'd be ok there. But I defer to you if you know of any other issues checking the constructor. I'll test it out and if that doesn't work we'll use the second approach - I've used it in multiple projects before and it's been reliable.

[2016-03-16 05:34] coladarci commented on #47
Hey @sir-dunxalot - have you had a chance to check this out? Thanks!

[2016-03-16 15:08] sir-dunxalot commented on #47
Sorry, not yet. I'll try to do so before the weekend. Thanks for the reminder.

[2016-03-17 10:55] adam-knights commented on #37
Addon looks good but we can't take it live with this issue. I've pinged darsain on the issue opened by james - if we cant get a dependency fix on this what are the options?

[2016-03-21 17:34] kehphin opened #51 "Adding a link inside the tooltip"
Hi,

I didn't see any demo examples of a clickable link in the content of a tooltip - is this currently possible? I tried adding an anchor tag to the content but it's not clickable, presumably because the focus is not on the tooltip?

Thanks, and great addon!

[2016-03-21 19:19] sir-dunxalot commented on #51
The `{{tooltip-on-parent}}` component should allow for any HTML to be rendered inside a tooltip, including HTMLBars ([see here](https://github.com/sir-dunxalot/ember-tooltips#using-as-a-component)).

Is the issue that the user cannot hover over the tooltip because the tooltip disappears once the trigger element is not being interacted with?

[2016-03-21 20:34] kehphin commented on #51
I have the following tooltip toggled by click:

[code]

The issue is that when I try to click on the tooltip link comment, the tooltip closes because I am clicking outside the trigger element.

[2016-03-21 21:24] sir-dunxalot commented on #51
Ok, got it. I'm not immediately sure what we could implement to support this for every event type. As a stopgap, you could set the `tooltipShowOn` and `tooltipHideOn` events individually (the actually property names for the `{{tooltip-on-parent}}` component is `showOn` and `hideOn`). If `hideOn='none'` or something like that you could not hide the tooltip once it has been shown and, thus, allow th

[2016-03-22 18:39] kehphin commented on #51
I tried the `showOn` and `hideOn` and it still wasn't working. After digging around, I discovered that it was because the tooltip has the `pointer-events: none` in its css, not allowing the user to interact with the tooltip.

I overwrote the css with:
[code]
and it worked. I think a tooltip with a link is a legitimate use case - our use case is that the user hovers over the tooltip for basic info,

[2016-03-26 16:34] sir-dunxalot commented on #51
Ok. I'll play around with what effect removing `pointer-events: none` will have on other tooltips and will get back to you.

[2016-03-31 22:10] kkincade opened #54 "render-tooltip.js::setTooltipVisibility() Method Has Incorrect Logic"
The first if statement has backwards logic. Currently it is...

`if (tooltip.hidden === shouldShow) {
    return;
 }`

...when it should be...

`if (tooltip.hidden !== shouldShow) {
    return;
}`

This is not causing issues because the ember-tooltips mixin is setting hidden to an integer (i.e. 1) in the vendor/tooltip.js file, so the if statement is never true. However, if it were using the updat

[2016-04-01 11:20] sir-dunxalot commented on #54
Good catch. I will get this fixed soon.

On a related note, have you tried using this library with the updated Tooltip build? if so, did it work as intended?

[2016-04-01 14:01] kkincade commented on #54
I forked ember-tooltips yesterday and modified a few things to suit my needs. I used the code from the updated Tooltip build and the demo app seems to work as intended. I haven't very thoroughly tested it, but all but two of the tests pass (not sure if those were because of my changes yet).

[2016-05-07 00:33] rwwagner90 opened #58 "typeClass not applying styles"
I am doing the following:

[code]

However, the tooltip remains the dark 'none' style. Am I doing something wrong? I noticed that the darsain library seems to use classes like `light` and `success` but it appears this addon is adding `tooltip-` in front of the classes maybe?

I can't actually look at the markup for the tooltip because I can't figure out how to keep them open with dev tools open.

[2016-05-07 00:37] sir-dunxalot commented on #58
I'll dig into this issue ASAP. It could be related to #49.

As for debugging, try using a tooltip event like `ready` or `click`. Maybe that will help?

[2016-05-08 12:42] rwwagner90 commented on #51
I also need support for being able to click a button, link, etc.

[2016-05-11 21:17] dfreeman opened #59 "Deprecated sourcemap comments"
It looks like the files concatenated together into `vendor/tooltip/tooltip.js` contain a deprecated sigil for sourcemap comments (`@` vs `#`) which is producing the following warnings Chrome and similar ones in Firefox:

![image](https://cloud.githubusercontent.com/assets/108688/15196558/e4c33466-179a-11e6-9519-7a852f7cec6d.png)

Having read through https://github.com/darsain/tooltip/issues/28, it

[2016-05-12 02:50] sir-dunxalot commented on #59
Agreed! I just have to merge #57 and this should be fixed.

[2016-05-12 13:25] dfreeman commented on #59
D'oh. I only checked open issues, and didn't think to check if there was already a PR. Thanks!

[2016-05-14 18:49] sir-dunxalot commented on #59
Fixed by #57

[2016-05-14 18:49] #59 closed

[2016-05-14 18:50] sir-dunxalot commented on #47
This should be fixed by #48, which is now on master and released. If you're still having issues we can reopen this issue.

[2016-05-14 18:50] #47 closed

[2016-05-17 17:59] locks opened #60 "Make ember-tether a peer dependency"
At the moment the `remove-vendor-css` branch breaks on render because `ember-tether` doesn't get installed. I believe that by making it a peer dependency that npm will warn the user to install it.
I could be wrong, who knows with npm sometimes ;P

[2016-05-18 15:01] lepolt opened #61 "Tooltip crashes when binding to a property that could return different SafeStrings"
In our app, we have a template that is binding to a component property that returns variable string values using Ember i18n. ember-tooltips works correctly with SafeStrings the first time the string is rendered, but if the property updates and returns a different value, the tooltip crashes. The first half of this issue was fixed in #30. I have a PR forthcoming...

[2016-05-21 15:34] #61 closed

[2016-05-21 15:54] sir-dunxalot commented on #60
Fixed by commit a3911a4

[2016-05-21 15:54] #60 closed

[2016-05-21 16:30] locks commented on #60
😁  sweet

[2016-05-21 16:38] sir-dunxalot commented on #60
I've pushed a bunch of new code to that branch too. You'll see it change quite a bit over the next couple of days until I've got close to full-feature-parity with master branch (including tests). Let me know if you have any more questions about that branch!

[2016-05-22 16:53] Kinjeiro commented on #5
Hi!
@SirZach @sir-dunxalot, i fix the problem in pull-request
https://github.com/sir-dunxalot/ember-tooltips/pull/66

[2016-05-22 19:34] sir-dunxalot commented on #25
This has been fixed with release `1.0.0`: https://github.com/sir-dunxalot/ember-tooltips/releases/tag/1.0.0

[2016-05-22 19:34] #25 closed

[2016-05-22 19:34] sir-dunxalot commented on #39
This has been fixed with release `1.0.0`: https://github.com/sir-dunxalot/ember-tooltips/releases/tag/1.0.0

[2016-05-22 19:34] #39 closed

[2016-05-22 19:35] sir-dunxalot commented on #37
This has been fixed with release `1.0.0`: https://github.com/sir-dunxalot/ember-tooltips/releases/tag/1.0.0

[2016-05-22 19:35] #37 closed

[2016-05-22 19:35] sir-dunxalot commented on #15
This has been fixed with release `1.0.0`: https://github.com/sir-dunxalot/ember-tooltips/releases/tag/1.0.0

All classes are prefixed by `tooltip-`.

[2016-05-22 19:35] #15 closed

[2016-05-22 19:35] sir-dunxalot commented on #54
This is no longer an issue with release `1.0.0`: https://github.com/sir-dunxalot/ember-tooltips/releases/tag/1.0.0

[2016-05-22 19:35] #54 closed

[2016-05-22 19:36] sir-dunxalot commented on #58
This has been fixed with release `1.0.0`: https://github.com/sir-dunxalot/ember-tooltips/releases/tag/1.0.0

`typeClass` has been removed. Instead, you can just pass a regular class to the tooltip:

[code]

[2016-05-22 19:36] #58 closed

[2016-05-22 19:37] sir-dunxalot commented on #17
I believe this has been fixed with release `1.0.0`: https://github.com/sir-dunxalot/ember-tooltips/releases/tag/1.0.0

If that is incorrect we can reopen this issue.

[2016-05-22 19:37] #17 closed

[2016-05-22 19:42] sir-dunxalot commented on #51
So with release `1.0.0`, this issue still exists because clicking on a tooltip removes focus from the target element. So it seems like we're at the cross roads between maintaining accessibility and figuring out a good solution for this use case. I'm still planning on coming up with a solution for this.

[2016-05-22 19:43] sir-dunxalot commented on #45
I am hoping this issue is now fixed with release `1.0.0`: https://github.com/sir-dunxalot/ember-tooltips/releases/tag/1.0.0

If that is incorrect we can reopen this issue.

[2016-05-22 19:43] #45 closed

[2016-05-22 19:43] sir-dunxalot commented on #5
This has been fixed with release `1.0.0`: https://github.com/sir-dunxalot/ember-tooltips/releases/tag/1.0.0

@Kinjeiro We'll still try and merge your PR in to make a 0.7.1 patch.

[2016-05-22 19:43] #5 closed

[2016-05-23 00:31] rwwagner90 commented on #58
Awesome! Thanks @sir-dunxalot

[2016-05-23 00:32] rwwagner90 commented on #51
@sir-dunxalot the `pointer-events: all;` solution worked for me here.

[2016-05-23 01:44] sir-dunxalot commented on #51
Ok, great! Do you think it's worth adding that to the addon's CSS?

[2016-05-23 02:05] rwwagner90 commented on #51
@sir-dunxalot yeah, I think adding it, or at least an option for it, might be good.

[2016-05-23 02:27] sir-dunxalot commented on #51
Sounds good. Are you just applying it to the `.tooltip` class?

[2016-05-23 11:40] rwwagner90 commented on #51
Yeah, just applying to `.tooltip`.

[2016-05-23 16:17] sukima opened #68 "v1.0 How to add tooltips to HTML"
In 0.6 I used `ember-tooltips/utils/render-tooltip` for my own custom component. It would parse text and render HTML which was injected through a computed property. I then used your `renderTooltip` using a jQuery `.each()`.

With 1.0 this concept was completely removed. How can we attach a tool tip to elements that were injected directly into the DOM?

Use case: Server sends text, Ember wishes to

[2016-05-23 17:34] sir-dunxalot commented on #68
The easiest way to add a tooltip to an element is using the `{{tooltip-on-element}}` component.

I imagine your component has some kind of `{{each}}` it's iterating on?

So perhaps something like this is what you are looking for:

[code]

If `compiledHtml` isn't retrieved asynchronously you don't need to use `updateFor`.

If that's not your approach, maybe you can show me some of your template so

[2016-05-23 17:46] sukima commented on #68
I did something similar after talking on the Ember slacks. Instead of converting the text to HTML I converted it to an array of entities (read AST) the looped over them using key data in the entities to know if it was text or if a tool tip was needed.

[2016-05-23 17:46] #68 closed

[2016-05-23 20:06] ehubbell opened #69 "Tooltip inconsistent inside Bootstrap Modal"
Hey There,

Trying to use tooltips inside a Modal however they're not showing up consistently. If I open the modal and then hover over a tooltip, the tooltip isn't getting attached to the target element. However, when I open the inspector and then 'click' on the tooltip it gets activated next to the element. Do you know how I can get this to activate within the modal correctly every time?

[code]

[2016-05-24 13:35] sir-dunxalot commented on #68
Ok, thanks for the tip! Let me know if you think there's a feature that could better support the use case.

[2016-05-27 07:28] jatt commented on #69
Same applies to bootstrap dropdowns, so probably it has something to do with absolute positioning. I'll post here if I find something.

[2016-05-27 12:34] sir-dunxalot commented on #69
Hey guys,

So this is likely something to with an issue in [ember-tether](https://github.com/yapplabs/ember-tether)'s positioning. More specifically, [tether](https://github.com/HubSpot/tether/issues?page=2&q=is%3Aissue+is%3Aopen) might have an issue. I looked the issue and didn't see anything obvious.

Maybe something stands out to you?

And @ehubbell, in the example above, does the modal have `p

[2016-05-27 13:21] jatt commented on #69
I was able to fix the problem by setting `updateFor=isDropdownOpen`, where `isDropdownOpen` is a variable that controls display of my custom ember wrapper around bootstrap dropdown. So, looks like this:

1. Target is dropdown, it's hidden and rendered.
2. Ember-tooltips renders hidden tooltip, since target is hidden, ember-tether sets its position to [0, 0].
3. Out-of-the-box when tooltip is activ

[2016-05-27 13:33] sir-dunxalot commented on #69
Got it. That makes sense.

Just so I make sure I understand correctly... A target element is in the DOM and the tooltip is attached. However, the target element hasn't yet been positioned or displayed? Thus, when it is displayed the tooltip previously rendered was not attached to the element's correct position because the element didn't have a position and/or the position changed?

[2016-05-27 13:35] jatt commented on #69
Yes, you are right.

[2016-05-31 23:49] jwright04 opened #71 "Question: Positioning the pointer/arrow so it's not always centered"
Awesome component.  Is it possible to position the pointer somewhere other than the center? Assuming I had a longer list, I'd prefer to have the arrow closer to the top of the tool tip box as opposed to the center.

[2016-05-31 23:52] hoboman313 opened #72 "Visual issues with tooltips"
First off, this addon looks very promising and is much easier to use with ember than something like bootstrap tooltips. Secondly...I ran into a bunch of visual issues that I was hoping I could get some help with. I hope it's okay that I list several issues here.

1.)  keepInWindow doesn't actually try to keep the tooltip inside the window...or maybe it just doesn't try as hard as the bootstrap too

[2016-05-31 23:59] jwright04 commented on #71
Actually looks like I figured it out, there is a pseudo :: after class that's set to 50%.

[2016-05-31 23:59] #71 closed

[2016-06-01 10:16] sir-dunxalot commented on #71
So this could be a good feature to add eventually. Tether lets you set positions like 'left top' instead of 'left center.' I removed it for simplicity in the 1.0.0 release but it could be of added value in the future if more people have the use case of non-centered tooltips.

[2016-06-01 11:41] sir-dunxalot commented on #72
Hi Egor, thanks for the details!

1) It would appear that the `resize` and `onscroll` events aren't being tracked by [Tether](https://github.com/HubSpot/tether) as they should. Perhaps they're getting overridden in [ember-tether](https://github.com/yapplabs/ember-tether)

2) Did you see the `updateFor` property? You could do something like:

[code]

Or is that not what you're looking for? Maybe th

[2016-06-01 17:30] JoshSmith opened #73 "peerDependencies warning"
[code]

Does this mean we should start depending on the dependency explicitly ourselves?

[2016-06-01 20:37] sir-dunxalot opened #74 "Test helpers should be publically available and documented"
Test helpers in some component integration tests should be exported from modules so consuming app developers can use the tooltip test helpers in their own apps.
- assertPosition
- assertVisibility
- Other options?

[2016-06-07 12:34] ChrizzDF opened #75 "Wrong positioning when attaching tooltips to elements inside table cells"
Hi guys,

First of all, thanks for this cool addon. Really easy to use unlike other addons I tried before.
I don't know if this really is an issue or a feature request, but I hope it's okay anyway.

My problem:
I'm rendering a table (100% width) with a varying amount of cells inside. Let's assume I have 5 cells and in each cell there is a `{{#tooltip-on-element ...}}` attached to an element.
As ea

[2016-06-08 07:20] Deovandski opened #76 "Ember-tooltips.css.map is missing"
Has anyone else came across this issue where something is requesting for **/assets/ember-tooltips.css.map**? I am using Ember-cli-rails by the way.

[code]

Let me know if there is any other information I can provide! Also, the Source Code is open source, and accessible at [Deovandski/Fakktion](https://github.com/Deovandski/Fakktion)

[2016-06-08 16:49] sir-dunxalot commented on #75
Thanks for the kind words and for opening the issue.

I think this is an issue and my guess would be that it's sharing something with #72 and #69. These issues arose after the 1.0.0 release, which uses Ember Tether under the hood.

The trend seems to be that resizing the window fixes these issues and, therefore, it seems like a certain method might not be getting called when the target the tooltip

[2016-06-08 20:48] ludalex commented on #76
Yup, happened to me as well, now living w/ it as it doesn't really break anything and it's hard to find the cause.
Tried some debugging, came to the conclusion that something broke with babel asset pipeline compilation.
Worth looking, maybe related: https://github.com/joliss/broccoli-sass/issues/39, https://github.com/aexmachina/ember-cli-sass/issues/84

[2016-06-09 06:56] ChrizzDF commented on #75
Thanks for taking this bug in!
I also try to have a look at it.

[2016-06-09 21:12] Deovandski commented on #76
It does seem to be what you suggested... Since it is not an issue that actually alter the program expectations. I will leave it to be as well.

Now regarding your suggestion, I sense that you have an assumption that non-unified projects is always the solution instead of using unified workflow like ember-cli-rails, but let me tell from experience that both methodologies have its strengths and optim

[2016-06-17 02:41] brmendez opened #77 "Popover Component Feature Request"
Hello and thanks for ember-tooltips. Any plans to bring in a Popover component?

Thank you.

[2016-06-17 08:53] sir-dunxalot commented on #77
Could do! It would be pretty simple to execute right now with a simple class and some styling. Are there any functionality differences you would expect between a tooltip and a popover?

[2016-06-18 03:39] brmendez commented on #77
Hi sir-dunxalot, thanks for the fast reply!

Pretty much the same functionality as Bootstraps Popover component (http://v4-alpha.getbootstrap.com/components/popovers/). I was originally on the search for Bootstraps Popover and Tooltip component for Ember, but came across your Tooltip, which works great! No luck on Popover's though. Most of the options currently available (that I have seen) are eit

[2016-06-18 19:59] sir-dunxalot commented on #77
Ok, sounds good! I think this would be a good addition. I'll have a think about how best to implement this but let me know if you have any ideas.

[2016-06-20 23:12] MiguelMadero commented on #51
It sounds like a possible solution could be not to close if we clicked inside of the tooltip.

[2016-06-21 04:02] MiguelMadero commented on #51
I did a quick POC and it seems like this works if we only `hide` the tooltip on focusout if the original event wasn't on the tooltip itself. See the [ember-tooltips changes](https://github.com/ember-samples/ember-tooltips-withactions-sample) and a sample [POC](https://github.com/ember-samples/ember-tooltips-withactions-sample). There is also a [running sample](https://ember-samples.github.io/ember

[2016-06-21 12:52] rwwagner90 commented on #51
@MiguelMadero does using `pointer-events: all` not work for you?

[2016-06-21 14:55] MiguelMadero commented on #51
I don't think that's enough, the problem with that is that the tooltip still looses focus. I could set it to close/open on click and that works as well, but has a different behavior, clicking outside of the tooltip won't close it either.

[2016-06-21 15:55] rwwagner90 commented on #51
@MiguelMadero what sort of interactions are you trying to do inside the tooltip?

`pointer-events: all` works for me and does close if I click outside the tooltip.

[2016-06-22 12:30] MiguelMadero commented on #51
@rwwagner90 selecting text, clicking a link or clicking a button. What configuration do you have for the `tooltip-on-element`? Maybe I'm missing some combination of event and hideOn that makes it not close on lostFocus, but still close when you click outside.... This is what I have:

[code]

I tried a few others, I think having `event="click" and hideOn="click"` allowed for clicking on the tooltip

[2016-06-22 16:54] rwwagner90 commented on #51
@MiguelMadero we're manually creating tooltips using the `renderTooltip`, which seems to no longer be a thing.

@sir-dunxalot it appears only components are available now and `renderTooltip` was removed from utils. Is this true?

[2016-06-22 18:32] MiguelMadero commented on #51
@rwwagner90 I'm not familiar with `renderTooltip`, but that might be why it worked. With components, we subscribe to `blur` on the element that triggers the tooltip and close the tooltip. I'm guessing that `renderTooltip` didn't have that behavior since we didn't have an element to subscribe.

[2016-06-22 18:33] rwwagner90 commented on #51
@MiguelMadero yeah, I'm not familiar with the new functionality. We have to manually add the tootltips, so this new component way won't work for us anyway.

[2016-06-22 18:48] sir-dunxalot commented on #51
`renderTooltip` was removed from 1.0.0 releases, correct. What's the use case in which you wouldn't be able to use any of the components? Maybe there is a way we can make this library work for you.

[2016-06-22 18:55] rwwagner90 commented on #51
@sir-dunxalot we are currently using `renderTooltip` and setting up html strings to add as tooltips. We have to do it this way because we are adding tooltips to another third party library, http://fullcalendar.io/, and we are displaying tooltips when you click an event on the calendar.

It may be possible to manually use the htmlbars compiler and create some html strings, but I was unable to figur

[2016-06-22 19:40] MiguelMadero commented on #51
We have a similar use case for an external lib. We still don't have a solution for that. cc: @andrew-zenefits @kazuzenefits.

[2016-06-22 20:54] andrew-zenefits commented on #51
Thanks for bringing me into this discussion @MiguelMadero. As far as the "similar use case for an external lib" I'll let @kazuzenefits speak to that because he understands the use case better.

As for the original question of this thread, "can I put a clickable link into a tooltip", a few thoughts. Duncan said "I wonder if a tooltip is even the right UI device to use in this situation?" and I agre

[2016-06-23 21:50] sir-dunxalot commented on #51
Good stuff @andrew-zenefits. Thanks for the length reply. This discussion would overlap with #77 regarding adding a popover component to this library.

I think it would be a great addition and I'm happy to provide details and guidance with some preliminary thoughts. Let me know how you'd like to proceed. Are you more interested in discussing the functionality/requirements side of thing or actually

[2016-06-27 23:15] andrew-zenefits commented on #51
I'll move my conversation over to https://github.com/sir-dunxalot/ember-tooltips/issues/77. thanks Duncan

[2016-06-27 23:22] andrew-zenefits commented on #77
{x-post from https://github.com/sir-dunxalot/ember-tooltips/issues/51#issuecomment-227873282}

I agree with @brmendez that a popover would be a great functionality to have in ember-tooltips. Here is how we at Zenefits want to differentiate between tooltips and popovers...
* tooltip
  * not interactive
  * used for showing small amounts of helper text (we're considering a 140 character limit at Zen

[2016-06-28 01:26] sir-dunxalot commented on #77
Yeah, good idea - let's keep the discussion in this thread.

As for an implementation, I can immediately think of three options:

1) Extend the current component like `{{tooltip-on-element}}` as `{{popover-on-element}}`
2) Add a `isPopover` property to the current components
3) Refactor the current tooltip components to share some base code between `{{tooltip-on-element}}` and `{{popover-on-elemen

[2016-06-28 01:27] sir-dunxalot commented on #51
Sounds good. Anyone else who is interested in popovers: we will discuss in #77.

Good work with all of the inputs and ideas so far!

[2016-06-28 19:09] MiguelMadero commented on #77
I would lean more towards 3 or 1. I think it makes more sense not to do anything for layout, since apps will always have different concerns and it's easy to do this internally on the block or provide a common abstraction for an app as needed. For example:

[code]

[2016-06-28 23:53] andrew-zenefits commented on #77
Thanks for your thoughts guys. I'll hopefully get started on this soon.

[2016-06-29 00:00] sir-dunxalot commented on #77
On the contrary - thank you. Keep firing questions and ideas our way!

[2016-06-29 00:19] andrew-zenefits opened #79 "rename tooltip class to ember-tooltip"
We have a massive codebase and are migrating to ember-tooltips for all our tooltip needs. In the past people have created `tooltip` classes for their one-off tooltip components. This means that a plain inclusion of this library will introduce many style conflicts to existing tooltips, and vice-versa. Right now our options are...

1) Fork our own PR with a temporary fix (extended the components, ad

[2016-06-29 01:39] sir-dunxalot commented on #79
I think 2) seems like an acceptable solution. This issue came up once before with #15. An `.ember-tooltip` class namespace would be a stronger solution to that issue than just `.tooltip` so I'm in favor!

This would be a backwards incompatible styling change but I think that's ok if we offer good release notes for the change.

[2016-06-29 10:47] MiguelMadero commented on #79
Thanks for tagging me. In addition to 2, I think this is a good emerging convention to have a one to one mapping between your component names and classes. If we decided to follow that `tooltip-on-element` may be a better name.

Regardless of the name chosen, if we wanted to minimize the impact we could have two separate releases:

1. Do a patch release (1.0.1 if done now) with both classes, all of

[2016-06-29 17:18] andrew-zenefits commented on #79
Regarding the 1-1 mapping of components and classnames, *all* of the styles are shared between the `tooltip-on-element` and the `tooltip-on-component`. If this is the case we should decide on a shareable class name. I feel like `ember-tooltip` is a pretty good solution but would be open to different names.

In references to number 1 @MiguelMadero do you mean that we should keep the `tooltip` class

[2016-06-29 17:21] andrew-zenefits commented on #79
I just ran tests before making any changes and there are three tests failing. I'll make sure to not break any more.

![screen shot 2016-06-29 at 10 20 29 am](https://cloud.githubusercontent.com/assets/8782940/16461810/3771335c-3de3-11e6-8e88-8b29f3791084.png)

[2016-06-29 18:24] sir-dunxalot commented on #79
`{{tooltip-on-component}}` grabs the parent view's element's ID (not the parent element's ID). This is useful when the developer can't place the tooltip immediately inside the element of a component. For example, a component might have a layout with several elements surrounding the `{{yield}}` block, but the tooltip needs to be rendered on the component's element. Thus, `{{tooltip-on-component}}`

[2016-06-29 19:56] andrew-zenefits commented on #79
Thanks for the explanation. Makes perfect sense.

Here is the PR for this issue https://github.com/sir-dunxalot/ember-tooltips/pull/80

[2016-06-29 21:38] MiguelMadero commented on #79
tooltip-on-component inherits from tooltip-on-element. The final rendered component could have two classes, but we can keep the elements on the base. At least that's the "popular" but poorly documented convention.....

The reason for using the component name is because component names are already unique for any given app, e.g. the container can only have a single component with a given name, so th

[2016-06-29 23:45] andrew-zenefits commented on #79
@sir-dunxalot, @MiguelMadero and I chatted and we think that the most future-proof, "embery" way of doing this would be to rename every `tooltip` class to `tooltip-on-element`. In the PR I rename them to `ember-tooltips`. I can do whichever you prefer.

[2016-06-30 00:21] sir-dunxalot commented on #79
So we seem to sit at the cross roads between the best emberish way and the best practical way here. Both have advantages. I would vote in favor of `.ember-tooltip` being the class simply because it detaches the styling from the implementation. In other words, there are many ways (components) to get to the same goal (a tooltip element).

For example, if we add back a utility function to generate to

[2016-06-30 00:29] andrew-zenefits commented on #79
I agree that '.ember-tooltip' is specific enough

[2016-06-30 05:02] MiguelMadero commented on #79
Sounds good!

On Wed, Jun 29, 2016 at 5:29 PM Andrew Scheuermann <notifications@github.com>
wrote:

[2016-07-01 20:40] bilherron opened #82 "Positional options lost in 1.0"
As I was up upgrading this (fantastic!) addon, it looks like we have lost some granularity in positioning the tooltip (ie top-left, top-right, bottom-left, bottom-right). I think ember-tether can support these, and I'm happy to take a crack at implementing it in ember-tooltips but I wanted to check in first on your thoughts @sir-dunxalot. Thanks!

[2016-07-04 05:29] sir-dunxalot commented on #82
Agreed. I'd love to put them back in. They were removed for simplicity to get 1.0 out the door and I fully support reimplementing them.

We will need to make sure that both side and [attachment](https://github.com/sir-dunxalot/ember-tooltips/blob/master/addon/components/tooltip-on-element.js#L78) function correctly with regards to what ember-tether expects.

Also, [position class](https://github.c

[2016-07-04 05:33] sir-dunxalot commented on #82
I also wonder if `position` is a better property name than `side`?

[2016-07-06 19:23] nbibler commented on #73
I came here to add an issue around this, as well. It looks as though `ember-tether` is defined as a peer and development dependency, but not an actual production-time dependency. Both Components provided by this library, however, require that `ember-ether` be installed in order to load (via require and extend calls).

Without explicitly adding `ember-tether` to my application's `package.json` file

[2016-07-07 10:39] sir-dunxalot commented on #73
Ok, it looks like #60 wasn't fixed as expected and we should be able to fix this by adding `ember-tether` to `dependencies` as well as `peerDependencies`. This shouldn't be top hard to fix and I will do it before the upcoming `2.0.0` release.

[2016-07-07 10:39] sir-dunxalot commented on #73
Of course, fi anyone wants to submit a PR in the meantime I'll be happy to merge and release.

[2016-07-13 03:13] andrew-zenefits commented on #75
@ChrizzDF did you happen to find a solution for this? I've come across the same problem.

[2016-07-13 03:13] andrew-zenefits commented on #72
@hoboman313 did you happen to find a solution for #3? I've come across the same problem.

[2016-07-13 03:14] andrew-zenefits commented on #69
@jatt @ehubbell did you guys happen to find a solution for this? I've come across the same problem.

[2016-07-13 03:53] ehubbell commented on #69
I actually switched to another library that let me append the tooltip to another divs ID. Lib called emberstrap. Has a bunch of bootstrap js replacements for ember that work well.

Eric (from iPhone)
720.212.1434

On Jul 12, 2016, at 21:14, Andrew Scheuermann <notifications@github.com> wrote:

@jatt @ehubbell did you guys happen to find a solution for this? I've come across the same problem.

—
Yo

[2016-07-13 04:39] hoboman313 commented on #72
@andrew-zenefits Nope.

[2016-07-13 19:42] andrew-zenefits commented on #75
@ChrizzDF and @sir-dunxalot I found *a* solution. We need to make sure that the tooltip is correctly positioned anytime a user hovers over the target element. To do this I added this code at the beginning of the `show()` function...

[code]

This has fixed the bug for us in every use case we've seen it. Duncan do you think this is an appropriate fix to make a PR for?

[2016-07-13 20:15] sir-dunxalot commented on #75
Good work, Andrew. Given that we haven't identified anything more reliable and this covers all of your use cases, it sounds more than good enough for a PR. Whilst I am a little weary of using a private API, I think it's more important to deliver the correct UX right now. Would you agree?

[2016-07-13 20:22] ChrizzDF commented on #75
Hey, sorry for not responding in time...
No, we've had our focus on other things in the meantime so I'm very glad that you found a promising solution! I'd love to see you merge this fix into master 😎

[2016-07-14 02:04] a15n commented on #75
@sir-dunxalot here is the fix https://github.com/sir-dunxalot/ember-tooltips/pull/83

Note that it doesn't include any private api. `ember-tether0.3.1` has the method `positionTether`. I only mentioned the private API approach because the version of tether that Zenefits uses doesn't have `positionTether`. I guess it's not relevant information because we have created our own branch to support our c

[2016-07-14 07:45] sir-dunxalot commented on #75
Ah, gotcha. We'll get #83 merged and released.

[2016-07-15 01:14] #76 closed

[2016-07-15 01:14] sir-dunxalot commented on #79
Fixed by #80

[2016-07-15 01:14] #79 closed

[2016-07-15 01:21] JoshSmith opened #86 "CHANGELOG.md"
Hey, sorry for the drive-by issue opening! Thanks a lot for taking the time to build this addon and put in all the hard work of maintaining it.

I was wondering if you wouldn't mind adding a CHANGELOG.md and document some of the changes? It took me a little time to work through where to find the 2.0.0 release (not in a PR, a separate commit) and the changes associated with it. 2.0.0 is a big bump

[2016-07-15 01:28] sir-dunxalot commented on #86
Hey, no problem - appreciate the feedback. it's a good point to bring up!

I like the idea of requiring an addition to the changelog with PRs.

I've always added release notes to the releases tab, when necessary. Do you think that's enough or do you think the changelog needs to exist beside that?

[2016-07-15 03:03] JoshSmith commented on #86
@sir-dunxalot I honestly didn't even notice it. Maybe mentioning in the documentation would be a good first step, and you could circle back to a changelog later?

[2016-07-15 03:04] JoshSmith commented on #86
Also just the README mentioning the 1.0.0 release was confusing me a bit, so I thought that maybe you were using the README as a sort of changelog proxy.

[2016-07-15 12:36] sir-dunxalot commented on #86
Got it. That all makes a lot of sense. I think a change log will be the most long-term-reliable solution here. I'll see if I can find some time over the next week or two to implement it.

[2016-07-15 15:58] MiguelMadero opened #87 "Fix tests in ember-beta"
Need to investigate why ember-beta tests are failing and fix them before 2.7 is released. Once fixed, we need to revert https://github.com/sir-dunxalot/ember-tooltips/pull/84

cc: @sir-dunxalot @a15n @andrew-zenefits

[2016-07-23 22:33] #87 closed

[2016-07-23 22:36] sir-dunxalot commented on #87
Tests are now fixed for beta and canary and #84 has been reverted. Released as `2.0.1`.

[2016-07-23 23:11] MiguelMadero commented on #87
This is awesome. Thanks!

[2016-07-24 02:37] a15n commented on #87
great work!

-Andrew Scheuermann

On Sat, Jul 23, 2016 at 4:11 PM, Miguel Madero <notifications@github.com>
wrote:

[2016-08-01 17:47] andrew-zenefits commented on #77
I have a working prototype here https://github.com/zenefits/ember-tooltips/pull/3

@sir-dunxalot, @MiguelMadero could you both review and let me know what your thoughts are on (1) code structure and (2) popover UI

When we finalize the PR I can either dogfood it Zenefits for a bit then merge it into ember-tooltips, or make a PR directly to this library first.

Thanks!

[2016-08-02 06:18] Juggle4Evr opened #88 "More options for the "side" parameter"
Hi,

as the "keepInWindow" paramete doesn't work very reliable, how about implementing some more options for the "side" parameter? Something like "bottomleft", "bottomright" etc.
This way it would be possible to position the tooltip inside the window so that it should be completely visible in most cases.

[2016-08-04 18:29] andrew-zenefits commented on #88
This is being considered here https://github.com/sir-dunxalot/ember-tooltips/issues/82

[2016-08-04 19:21] sir-dunxalot commented on #82
Hey @bilherron, I don't suppose you've been able to take a crack at this?

[2016-08-04 19:22] sir-dunxalot commented on #88
I'll mark this as a duplicate for #82 but it's a great idea that we fully plan on implementing.

[2016-08-04 19:22] #88 closed

[2016-08-04 19:34] MiguelMadero commented on #77
@andrew-zenefits the change looks good to me, but I would like to make sure we don't deviate from the original one and to try our best to keep a single codebase. Is the change backwards compatible?

@sir-dunxalot what do you think about zenefits#3?

[2016-08-04 20:26] sir-dunxalot commented on #77
I'm out tomorrow but I will take a look later this weekend or at the start of next week. Sorry for the delay. On first glance this looks like a great step forwards.

[2016-08-05 17:59] bilherron commented on #82
Haven't had a chance yet, sorry! Still on my radar, though.

[2016-08-06 20:54] andrew-zenefits commented on #77
@MiguelMadero & @sir-dunxalot here is the newest PR. I redid it in a better fashion and it made sense to just start from the ground up.

https://github.com/zenefits/ember-tooltips/pull/8

[2016-08-07 20:45] jamesdixon opened #91 "renderTooltip equivalent in 2.x?"
Hi,

We were using 0.5.9 and just upgraded and found that `renderTooltip` is no longer available. Is there an equivalent in 2.x? We're using the tooltips for event in FullCalendar, so there is no handlebars template for us to work with; we need an the option to use it programmatically.

Thanks for your hard work!

[2016-08-08 00:07] sir-dunxalot commented on #91
Hi James,

Currently there is no equivalent method to programmatically create tooltips. This was removed to standardize the options for creating tooltips whilst staying within Ember's conventions (components, real handlebars bindings, run loops, etc).

There are ways to render Ember components on the fly. If you research those methods and find one that works for you then that might be a good solut

[2016-08-08 00:07] #91 closed

[2016-08-08 00:24] jamesdixon commented on #91
Thank you for the quick reply!

[2016-08-09 15:53] sir-dunxalot commented on #77
Hi gents,

I haven't forgotten about this - still trying to get to it. If this is delaying anything at Zenefits, you could go ahead and merge your PR and issue a PR directly to this library. I should be able to review this by the end of tomorrow (10th).

[2016-08-10 21:47] renatocarvalho commented on #82
To me, this change was a big regression. Darsain tooltip is great because it calculates everything automatically. Now everything in breaking on my app. I like the idea of keeping things simple, but in order to make tooltips just work, it needs a lot of work. And that's what Darsain Tooltip did.

@sir-dunxalot Thanks for all your hard work though.

[2016-08-11 20:32] sir-dunxalot commented on #82
Thanks for the feedback @renatocarvalho! It's been a little rocky but it will work out in the end. :)

[2016-08-24 04:48] musaffa commented on #76
@sir-dunxalot I'm getting this error when I do `ember serve --proxy [proxy_url]`. The issue may be related to `ember-cli-sass`. How about removing `ember-cli-sass` dependency and providing pure css file?

[2016-08-24 12:32] sir-dunxalot commented on #76
I've had this issue appear in other projects as well (unrelated to ember tooltips). There is an issue upstream. Removing ember-cli-sass could be an option but the CSS is already pretty hard to maintain and it could get more complex with the addition of popovers. I wonder if we can just disable requesting source maps?

[2016-09-06 18:33] jamesdixon commented on #77
@sir-dunxalot any update on this?

[2016-09-06 19:32] jamesdixon commented on #77
Nevermind -- just saw the PR referenced here 👍

[2016-09-13 17:57] dfreeman opened #93 "0.x maintenance releases?"
Hi! First off, thanks for your work maintaining this addon.

Currently we're stuck on `0.7` until some of the parity loss from the old tooltips plugin (like #82) is regained. Hopefully we'll have a chance to help out with that stuff when time permits, but in the meantime we're having to monkey patch our way around deprecations and incompatibilities in Ember 2.8.

Would you be open to maintaining a

[2016-09-14 14:55] keradus commented on #73
Any news here perhaps ?

[2016-09-17 08:15] ianpetzer opened #95 "How to prevent tooltips from being created on mobile"
Hi there,

I'm just upgrading from version 0.7. Really enjoying what you've done with version 2! Feels so much more ember-y :)

We're using a number of tooltips that show on hover. Previously in v0.7, I was using the mixin and just wouldn't render the tooltips on mobile, but I was just wondering how I could set all of the tooltips not to show on mobile?

Is there something I could do to stop all t

[2016-09-17 17:40] sir-dunxalot commented on #95
The easiest solution would be to hide the tooltips using CSS and media queries. If you wanted to prevent the tooltips from rendering you could extend the tooltip component and overwrite [show()](https://github.com/sir-dunxalot/ember-tooltips/blob/master/addon/components/tooltip-on-element.js#L386).

You could also programmatically change the `showOn` param for mobile devices. Something like [ember

[2016-09-17 17:40] #95 closed

[2016-09-22 00:51] JoshSmith commented on #73
Also wondering what's going on here. Looks like `2.0` went without any update to `dependencies`.

[2016-09-25 15:05] msmyers commented on #72
This is reproduced when having a custom Ember.APP.rootElement definition.

This is because Ember does not listen to events for divs that are located outside of the rootElement.

It would seem that the tooltip div is always the first-child of the body, which would be incorrect in this case.

[2016-09-30 22:37] paultannenbaum commented on #93
I am stuck on `07` as I need to keep the `renderTooltip` method for project specifc reasons. I would like to submit a PR to fix deprecation warnings that are caused by the `0.7` in the newest version of Ember (`2.8.1`). Would you accept the PR, or is the `0.7` branch dead?

[2016-10-05 02:04] sir-dunxalot commented on #93
Hi guys, apologies for the slow response. I am open to maintaining a `0.x` branch - I know a couple of the changes with `1.0.0` were not perfect. I would absolutely accept a PR and we could create the branch off of [this release](https://github.com/sir-dunxalot/ember-tooltips/releases/tag/0.7.0). I suggest adding some documentation for `0.x` users to the Readme in the PR too.

[2016-10-12 15:00] lvl99 opened #99 "Performance issues"
I've added tooltips to my Ember app and it's slowed the whole thing down immensely.

Is it possible to remove/destroy the tooltip element when it is hidden?

[2016-10-12 19:28] sir-dunxalot commented on #99
It seems like this issue has gotten progressively worse. Obviously, we shouldn't be affecting app performance in any noticeable way. #96 introduces some improvements here, as you've seen. Let's see if that is the fix you need. If it's still slow, we'll need to do some serious digging.

[2016-10-14 15:26] a15n opened #100 "Initial Rendering Performance Issues"
In our app we use tooltips a lot. On some pages there may be dozens of tooltips at a time (sometimes more if we use tables). We saw performance issues when a page or block of code was initially rendered with many tooltips within it because it would lag while each tooltip positioned and rendered itself, even if the tooltips were initially invisible.

In our app we also created a super simplified wa

[2016-10-14 19:31] sir-dunxalot commented on #99
#96 has been released as `2.3.1` - see if this fixes the performance issues you're seeing.

[2016-10-14 19:31] sir-dunxalot commented on #77
Fixed by #92.

[2016-10-14 19:31] #77 closed

[2016-10-14 23:35] JoshSmith opened #101 "2.1.0 changes break component tests that previously worked"
As you can see in this PR https://github.com/code-corps/code-corps-ember/pull/588/files, `ember-tooltips` introduced a breaking change in `2.1.0` that makes the following tests fail: https://github.com/code-corps/code-corps-ember/blob/develop/tests/integration/components/project-category-item-test.js#L51-L54

I'm not quite sure why, or if perhaps there's a better way to be testing altogether, but

[2016-10-15 16:00] sir-dunxalot commented on #101
The ember-tooltip tests [here](https://github.com/sir-dunxalot/ember-tooltips/blob/master/tests/integration/components/show-on-test.js#L23) use `trigger('mouseover');` instead of `trigger('mouseenter')`. I wonder if the fix, which requiring a change on your end, is that simple.

@a15n, off the top of your head do you know of a change that might prevent an assertion like the following from failing?

[2016-10-17 16:07] JoshSmith commented on #101
@sir-dunxalot per a comment from @begedin:

Let me know if we should be relying on a class API that's less likely to churn.

[2016-10-17 21:26] a15n commented on #101
I'm glad you were able to figure out a fix. That was my fault for not communicating the class name changes more clearly. That's something we should do in the release notes.

And moving forward we will be keeping the `ember-tooltip-or-popover-target` class so you can rely on that. If there is a future instance when we decide to replace a class name (or any other property) we will add a deprecation

[2016-10-17 23:47] sir-dunxalot opened #102 "Add test helpers for tooltip assertions"
Issue #101 introduces the idea of public test helpers being beneficial if they can be used in consuming app's own test suites to test tooltips added by ember-tooltips.

We should implement publicly-available assertions like those currently used by this addon's test suite in [test/helpers/assert-visbility.js](https://github.com/sir-dunxalot/ember-tooltips/blob/master/tests/helpers/sync/assert-visib

[2016-10-17 23:47] sir-dunxalot commented on #101
@JoshSmith Are we all set with a fix on your end now?

I think a good sustainable fix for this library will be documenting the [test helpers](https://github.com/sir-dunxalot/ember-tooltips/blob/master/tests/helpers/sync/assert-visibility.js) and making them publicly available for use in developers' own libraries. I have added #102 to track this.

[2016-10-18 01:32] JoshSmith commented on #101
@sir-dunxalot great! I was going to suggest just that! So I'm glad to see it.

[2016-10-18 01:32] #101 closed

[2016-10-19 14:42] a15n commented on #99
@lvl99 if https://github.com/sir-dunxalot/ember-tooltips/pull/96 has fixed the slowness after the page has loaded but you're still experiencing slowness on initial render you should check out https://github.com/sir-dunxalot/ember-tooltips/issues/100

[2016-10-19 15:46] #75 closed

[2016-10-19 22:27] a15n commented on #82
@jcward10 has https://github.com/sir-dunxalot/ember-tooltips/pull/103 that would introduce more positional options. His PR introduces a `defaultPosition` which acts like a secondary position (if I understand correctly)...

[code]

While this PR introduces more granularity it still doesn't support all of the functionality built into [tether](http://tether.io/) itself. From my POV, the `side` parame

[2016-10-20 00:06] sir-dunxalot commented on #82
The reason `side` was originally implemented was because `attachment` and `targetAttachment` were not very intuitive. It's `targetAttachment` that is really pertinent to the tooltip developer. Developers shouldn't have to set two params to move the tooltip.

I wonder if `side` could take two options like `left` and `right`, as it does now, but also new options like `top left` and `bottom right` wh

[2016-10-21 15:22] jcward10 commented on #82
Doesn't side take more than two options ? `top` `right` `bottom` `left`. It would be nice to add positioning for the tooltip arrow. So when we change the tool tips `attachment` and `targetAttachment` we can move the arrow to the top of the tooltip.

[2016-10-22 01:06] andrew-zenefits commented on #82
@jcward10 right now `side` only accepts a one-word string. I think @sir-dunxalot's recommendation to approach with a two-word `side`  may work, like "top left", where the first word is the `side` and the `second`, if provided, is `positionOnSide`.

Your PR essentially does this, but with two variables and I used it as a POC for all the images below. I think that if we want to support a modifying v

[2016-10-22 01:08] andrew-zenefits commented on #100
Update: we've introduced a `lazy-tooltip-on-element` in our code base at Zenefits and it has improved load times. We're investigating with `lazy-popovers` but all signs are currently positive.

I'll start working on a PR for this soon.

[2016-10-22 01:09] a15n commented on #100
Update: we've introduced a `lazy-tooltip-on-element` in our code base at Zenefits and it has improved load times. We're investigating with `lazy-popovers` but all signs are currently positive.

I'll start working on a PR for this soon.

[2016-10-22 01:10] a15n commented on #82
@jcward10 right now `side` only accepts a one-word string. I think @sir-dunxalot's recommendation to approach with a two-word `side`  may work, like "top left", where the first word is the `side` and the `second`, if provided, is `positionOnSide`.

Your PR essentially does this, but with two variables and I used it as a POC for all the images below. I think that if we want to support a modifying v

[2016-10-22 19:45] a15n commented on #100
PR is coming along here. Still a lot to do https://github.com/sir-dunxalot/ember-tooltips/pull/104

[2016-10-23 01:43] lvl99 commented on #99
I applied the new version (2.3.1) and uncommented my code to get the tooltips running again. Seems that it isn't outputting my `i18n` strings in the tooltips. It was just a quick test while I was working on some other stuff, so I haven't been able to put any time into it yet, sorry.

[2016-10-23 19:40] matixmatix opened #105 "Overflowing with longer text"
I'm experiencing overflow issues:

![image](https://cloud.githubusercontent.com/assets/273660/19628905/e9935ae8-9968-11e6-9354-8c2175fc5570.png)

Any suggestions on how to make it automatically stretch?

I'm using Bootstrap. The code:

[code]

[2016-10-24 13:22] jcward10 commented on #82
Looks good! Let me know how I can help. If someone wants to work on refactoring my PR I'm available to pair almost any time.

[2016-10-24 16:22] a15n commented on #105
I've never seen that before. The tooltip has a max-width set here (https://github.com/sir-dunxalot/ember-tooltips/blob/master/addon/styles/addon.scss#L29) and since we don't set any overflow attributes it inherits the normal breaking behavior (https://developer.mozilla.org/en-US/docs/Web/CSS/overflow-wrap).

My guess is that you may have a class that our tooltip uses that is overriding the default

[2016-10-24 22:55] #105 closed

[2016-10-27 17:21] SirZach opened #107 "had to visibility: hidden"
I was using tooltips on a cell per row and the tooltip of the row below prevented the mouse-over to show the tooltip on the row I was hovering on.

I ended up doing

[code]

To prevent the tooltip below from blocking the hover. Not sure if it's something you want to add to the core CSS but figured I'd share the experience.

[2016-10-28 16:07] sir-dunxalot opened #108 "Protect against visual regressions"
We should use something like https://github.com/percy/ember-percy to automate the identification of visual changes between releases and prevent regressions.

Use cases:

- Ensuring arrows render on the correct side of the tooltip
- Ensuring tooltips are rendered visually (currently we only assert HTML attribute values in the DOM)
- Ensuring tooltip and popover styling differs correctly

[2016-10-28 16:10] sir-dunxalot commented on #107
Thanks for the heads up, Zach. We'll look into this. Are you able to share the code of the page or a URL?

[2016-11-01 16:25] SirZach commented on #107
[code]

Just a standard table structure should be able to reproduce this. I think in this scenario, it would be great if `tooltip-on-element` only created one div instead of a div for every instance of it with fixed positioning to less the dom troubles.

[2016-11-01 16:42] a15n commented on #107
@SirZach I think you'll be interested in the perf work going on [here](https://github.com/sir-dunxalot/ember-tooltips/issues/100) and [here](https://github.com/sir-dunxalot/ember-tooltips/pull/104)

[2016-11-01 16:49] SirZach commented on #107
@a15n great stuff! I am, in fact, interested :)

[2016-11-05 19:33] sir-dunxalot opened #109 "3.0.0 release"
Changes that need to be made for the `3.0.0` release:

- [x] Deprecate all properties that throw a deprecation warning in the 2.3.2 (#125)
- [x] Set `enableLazyRendering` to true by default (#125)
- [x] Remove `<x>-on-component` and `<x>-on-element` in favor of `ember-<x>` and an `isTargetComponent` property
- [x] Add publicly available test helpers for consuming apps (#114)
- [x] Deprecate `delay

[2016-11-05 19:34] sir-dunxalot commented on #109
@a15n Anything else we want to add to this list? I created a `3.0.0 milestone` to group anything else relevant to this release.

[2016-11-05 20:27] a15n commented on #109
I think that's it for now. Thanks for making this ticket

[2016-11-05 22:13] a15n commented on #109
Maybe remove CSS styles from the tooltip. I had expected the popovers to be completely unstyled. At least in my app I'm having to override a lot of these styles...

https://github.com/sir-dunxalot/ember-tooltips/commit/bc55092cc30de896c0ad7ea13a02e1b60e6b8ae3#commitcomment-19321234

[2016-11-07 13:02] sir-dunxalot commented on #109
So that's an interesting discussion. For the majority of developers, I think this should be a plug-and-play solution where tooltips will work with an install but you can customize them with additional work. Maybe there is an alternative where an option can be set that would exclude the styles from being concatenated into the consuming app's `vendor.css` file. This option could be set in the `ember

[2016-11-07 16:43] a15n commented on #109
You bring up a good point with the plug-and-play majority needs. I think since that's the case the current approach is good.

[2016-11-07 23:30] sir-dunxalot commented on #109
Ok, sounds good. Happy to explore the option of excluding stylesheets if that would alleviate the pain for those who do overwrite tooltip and popover styles.

[2016-11-08 12:49] ChrizzDF opened #111 "Hidden Popover causes body to stretch on initial page load"
Hi everyone,

In this view (Screenshot) I use a popover that causes the body to stretch after the page was loaded.
If I then hover over the info icon, the popup appears correctly above the target element and the body is no longer stretched.

![popover-issue](https://cloud.githubusercontent.com/assets/3121574/20099404/9a46f29a-a5b8-11e6-9d40-dfb8adf4fc96.jpg)

My code:
[code]

Any thoughts on this?

[2016-11-13 22:36] sir-dunxalot commented on #109
@a15n Thoughts on adding publicly available test helpers for consuming apps that test tooltips?

[2016-11-14 15:12] a15n commented on #109
Good idea. Can you message me with how to best do this?

[2016-11-16 02:11] sir-dunxalot commented on #109
I've done the first couple of steps on [this branch](https://github.com/sir-dunxalot/ember-tooltips/tree/public-test-helpers). The new file is in the `/test-support` directory.

I would like to make helpers available for the following:

- Asserting tooltip visibility (hiding and showing)
- Asserting popover visibility (hiding and showing)
- Clicking on a target
- Hitting esc to close a tooltip/pop

[2016-11-17 22:36] dodeja commented on #107
Yeah +1 on this. `Opacity 0` causes the element behind to be blocked in IE10 (tested). If you have an input and the popover/tooltip happens to be on top of it, focus on the input is blocked.

[2016-11-18 13:41] sir-dunxalot commented on #107
@dodeja Did `visibility: hidden;` work for you in IE10?

[2016-11-18 15:22] SirZach opened #112 "passing classNames to tooltip-on-element doesn't work anymore"
Just upgraded to 2.4.0 and now passing `classNames` into `tooltip-on-element` doesn't add that class to the div.

[code]

[2016-11-19 00:47] a15n commented on #107
We need to find a solution that (1) doesn't block the elements behind, (2) maintains the visual effect of fading, and (3) is supported in modern browsers.

Right now we use a combination of `pointer-events` and `opacity`. We need opacity for the fading effect. I think we can achieve all 3 criteria with a combination of `display` and `opacity`.

`visibility` may also be appropriate.

@dodeja and @S

[2016-11-19 00:56] a15n commented on #112
The 2.4.0 upgrade turned `tooltip-on-element` into a tagless component. I added the ability to "pass through" `class`, and `id`. But I think I forgot to add pass-through coverage for `classNames`. I think we would also may need to support classNameBindings, attributeBindings, etc.

@SirZach can you look into this and see if passing through classNames and the other dynamic properties works? Thanks

[2016-11-19 01:10] a15n commented on #112
Also here is the PR that introduces the ability to extend `tether-tooltip-on-element`.

https://github.com/sir-dunxalot/ember-tooltips/pull/110

[2016-11-19 01:14] a15n commented on #109
I think http://ember-cli-page-object.js.org/docs/v1.6.x/ will be very useful for this. I'll start working on the test helper branch without it and I'll message here if page-object would be needed.

[2016-11-19 22:51] mayatron opened #113 "Bug: 404 not found for ember-tooltips.css.map"
The source map request to `/assets/ember-tooltips.css.map` is 404 not found for a clean build with the latest ember cli 2.9.1. Similar to an earlier closed issue https://github.com/sir-dunxalot/ember-tooltips/issues/76.

Steps to reproduce:

[code]

![screen shot 2016-11-19 at 2 33 53 pm](https://cloud.githubusercontent.com/assets/1009725/20458872/bb5596f2-ae65-11e6-87ed-def193475c4f.png)

![scree

[2016-11-21 17:33] SirZach commented on #112
Ok, I think I can get to this today.

[2016-11-22 20:54] knownasilya commented on #72
I have an issue like number 1, but I don't actually resize the window. The tooltip just renders outside of the edge of the window:

![screen shot 2016-11-22 at 3 54 20 pm](https://cloud.githubusercontent.com/assets/34726/20541603/fa0c4dce-b0cb-11e6-8d7f-4633dcbfdadf.png)

[2016-11-23 18:47] ChrizzDF opened #115 "Passing text through a property to be able to use inline components"
Hi guys,

I really enjoy using this addon and I would never ever miss it again! =)

I'm just wondering why there isn't a property to pass the text of a tooltip into the component.
I often use it as follows:
[code]

At this point I think the following approach would be really nice to have:

`{{tooltip-on-element text="Create"}}`

This is so much shorter and easier to maintain. Of course I could do

[2016-11-23 19:18] sir-dunxalot commented on #115
Totally agree! This would have very low overhead on the repo but would make the dev experience friendly. I'd accept a PR but we can also plan to add it in the future.

[2016-11-23 19:20] sir-dunxalot commented on #115
@a15n I imagine you would use this functionality a lot?

[2016-11-23 21:04] YvesYuen opened #118 "Actions on tooltip are triggered twice in test on click()"
Hi there!

Some of my tests are failing when using a tooltip with lazy loading combined with an action as follows:
[code]

The test was failing because the action `showModal` is getting triggered twice the first time `click('.js-glue-show-modal')` is called. This results in 2 modals on the DOM instead of one.

Tests are passing with `enableLazyRendering` set to false.

Briefly talked with @a15n an

[2016-11-24 00:00] #100 closed

[2016-11-24 00:01] sir-dunxalot commented on #86
For now, we're making the release log more explicit and descriptive. This should act just like a change log.

[2016-11-24 00:01] #86 closed

[2016-11-24 00:02] sir-dunxalot commented on #93
I am closing this issue but we will accept PRs for old major versions.

[2016-11-24 00:02] #93 closed

[2016-11-24 00:06] sir-dunxalot commented on #112
@a15n #110 doesn't fix this issue, correct?

[2016-11-24 00:09] sir-dunxalot commented on #107
I tired to fix this tonight but wasn't able to come up with a working solution. If anyone has any ideas, a PR would be much appreciated.

[2016-11-24 00:52] andrew-zenefits commented on #112
110 does not fix the issue

[2016-11-24 00:56] a15n commented on #112
110 does not fix the issue

[2016-11-24 00:58] a15n commented on #115
I like this improvement.

We use something similar and the parameter has been very helpful

[2016-11-24 08:28] ChrizzDF commented on #115
Wow, that escalated quickly! 😃
I saw your implementation and this is so cool.

In the future we can think about having the same for popovers like `{{popover-on-element content=product.description}}`.

Would be the same benefit I think.

Thanks again for implementing this feature so quickly!

Greets from Germany!

[2016-11-25 05:46] sir-dunxalot commented on #115
Sounds good for popover - I avoided that for now because I didn't want to deal with escaping HTML when text will suffice for now. We can keep that in mind for the future.

I'm glad this helps you though. A release will be made soon!

[2016-11-25 05:46] #115 closed

[2016-11-28 14:45] lvl99 commented on #99
I've updated to the latest version (`2.4.2`). It all seems to work pretty well. Looking forward to the `enableLazyLoading` being set `true` to default!

Thanks to @sir-dunxalot and @a15n for your quick and responsive comments and work.

[2016-11-28 14:45] #99 closed

[2016-11-28 17:53] SirZach commented on #112
@a15n how do you want the PR submitted? I forked the repo but not sure if i should commit my changes on a branch or if master is fine and if i should update package.json or not...

[2016-11-28 18:08] SirZach commented on #112
went for it...we'll see what you think!

[2016-11-29 20:22] a15n commented on #99
Glad things are working. We're planning on setting that to `true` by default in 3.0.0

Here is the ticket with things we need to accomplish before that release

https://github.com/sir-dunxalot/ember-tooltips/issues/109

[2016-12-01 17:21] ChrisLincoln opened #121 "Can visual effects (transitions) be disabled?"
I have an application where I am using this component to show tool tips for a visualization of a large collection of tightly-spaced-horizontally elements. Each element has unique tool-tip info to present.

As the mouse is passed left and right over the elements, the animation effect of having the callout pop-out from center and then slide up is rather visually jarring in this particular instance.

[2016-12-01 17:41] a15n commented on #121
https://github.com/sir-dunxalot/ember-tooltips#effect

[2016-12-01 17:47] #121 closed

[2016-12-01 17:52] ChrisLincoln commented on #121
Sorry! I did RTFM, I just missed it!

From: Andrew Scheuermann [mailto:notifications@github.com]
Sent: Thursday, December 1, 2016 11:42 AM
To: sir-dunxalot/ember-tooltips <ember-tooltips@noreply.github.com>
Cc: Chris Lincoln <clincoln@UltraxInc.com>; Author <author@noreply.github.com>
Subject: Re: [sir-dunxalot/ember-tooltips] Can visual effects (transitions) be disabled? (#121)

***WARNING E-MAIL

[2016-12-01 17:56] a15n commented on #121
No worries. Hope you enjoy the addon

[2016-12-06 20:41] a15n commented on #109
Maybe we should deprecate `delay` in favor of `showDelay`? It's more explicit, especially with `hideDelay` available on popovers

[2016-12-07 22:31] jordpo opened #122 "Glimmer 2 DOMException for popover components"
With Ember 2.10, an exception is thrown if you are wrapping a popover component in an if block. It seems related to this issue:

https://github.com/yapplabs/ember-wormhole/issues/66

We are getting around it by wrapping the popover- component in a div.

[2016-12-08 15:22] alvinvogelzang opened #123 "Release text-property as 2.4.3"
I see the PR https://github.com/sir-dunxalot/ember-tooltips/pull/116 about the text-property is merged. Is there a reason why this enhancement isn't released as a new patch?

To me, it was a bit confusing reading the master docs in github. With ember install ember-tooltips version 2.4.2 was installed where the text-property isn't available.

[2016-12-11 00:20] sir-dunxalot commented on #123
I have just released `2.4.3` with the text property. Thank you for raising the issue.

[2016-12-11 00:20] #123 closed

[2016-12-11 00:28] sir-dunxalot commented on #118
@a15n Does #114 fix this?

[2016-12-11 00:32] sir-dunxalot commented on #109
I have added that as fifth requirement since it should be simple to take care of when removing deprecation warnings for other properties. With #114 in review I suspect the only other item that will need a lot of time is this one:

Would you agree? I'm going to be leaning on you for that change due to your more intimate knowledge of how the lazy wrapper works. I can take care of the other small cha

[2016-12-11 01:48] a15n commented on #109
I'll be able to make that change. Do we want a version of semver that supports `tooltip-on-element`, `tooltip-on-component`, and the `ember-tooltip` (with isTargetComponent)? I was thinking we have something like 2.9.0 (or whatever) that will support all of these so that people can use that version to transition to the single component approach. We will then remove support for `<x>-on-<y>` in 3.0.

[2016-12-11 05:00] sir-dunxalot commented on #73
Checking upstream in ember-tether to see what they can do. Otherwise, I wouldn't expect this warning to disappear anytime soon. Sorry, guys.

[2016-12-11 21:16] sir-dunxalot commented on #109
A 2.x release sounds good. Is that going to create a lot of additional work for maintaining the test suite changes pre 3.0.0? Also, I opened #125 for the deprecation of properties as I'm sure you've seen.

[2016-12-12 09:18] luxferresum opened #126 "Multiline tooltip not working in IE11"
Oh lovly IE:
![tooltips](https://cloud.githubusercontent.com/assets/1208273/21093789/fac0ee22-c053-11e6-9b2f-1b3d57873c2f.png)

Everything works fine in Chrome, Edge, etc.

[2016-12-13 07:51] gmisa opened #127 "close popover in javascript using hide() won't reopen the popover again"
Hi, i need to put a close button inside the popover and call an action on the component

`actions: {
    closePopover() {
      $('.my__popover').hide();
 }`

however when I try to click the hyperlink to reopen the popover, it won't open anymore.

`{{#popover-on-element side="right" event="click" keepInWindow=false class="my__popover" }}
<a class="popover-close" {{action 'closePopover'}}></a>
{{/p

[2016-12-13 16:29] sir-dunxalot opened #128 "Add more test helpers"
#114 introduces public test helpers for asserting that a tooltip is shown and hidden.

We should also provide test helpers for:

- [x] Asserting tooltip content matches a string (#146)
- [x] Asserting a tooltip is positioned correctly on a given element's side (#143)
- [x] Asserting a tooltip is a given number of pixels from the target on a given side (#145)

[2016-12-13 16:32] sir-dunxalot commented on #127
Hi @gmisa, I believe you are looking for the `hide` action, which is documented [here](https://github.com/sir-dunxalot/ember-tooltips#popover-on-element).

You use it as follows:

[code]

[2016-12-13 16:32] #127 closed

[2016-12-13 23:09] a15n commented on #118
Yes I believe 114 will fix it. I have added a test for this. https://github.com/sir-dunxalot/ember-tooltips/pull/114/files#diff-d320863fe14368780962f48a86ff2044R54

@YvesYuen when this lands can you confirm that this fixes your test in your repo?

[2016-12-14 02:56] sir-dunxalot commented on #102
Fixed by #114

[2016-12-14 02:56] #102 closed

[2016-12-15 00:11] hoboman313 opened #129 "ember-tooltips is broken in ember 2.10.1"
Everything works fine with ember 2.10.0. Upgrade to 2.10.1 and I get
[code]

[2016-12-15 00:18] aexmachina opened #130 "Throws an exception when used with Fastboot"
The call to `this.$()` doesn't return an Element when running in Fastboot:

[code]

Not sure what the right solution is, but maybe `if (!this.$()) return` would do the trick.

It doesn't appear to prevent the page from rendering - just throws an Exception.

[2016-12-15 01:13] andrew-zenefits commented on #129
which version of ember-tooltips are you using? I think I've fixed this in 2.5.0

[2016-12-15 01:14] hoboman313 commented on #129
I'm on 2.5.0

[2016-12-15 01:14] andrew-zenefits commented on #130
which component are you trying to use that in?

lazy-render-wrapper, tooltip-on-element, tooltip-on-component, popover-on-element, and popover-on-component are all tagless components.

[2016-12-15 01:20] andrew-zenefits commented on #129
mmmmm tests are passing up through ember-canary https://travis-ci.org/sir-dunxalot/ember-tooltips

We need to add specific LTS support but it seems like this should be working through canary. Could you try `nombom`? The tooltip-on-element component definitely has a hide action

tooltip-on-element extends lazy-render-wrapper

https://github.com/sir-dunxalot/ember-tooltips/blob/master/addon/componen

[2016-12-15 01:34] hoboman313 commented on #129
@andrew-zenefits My mistake. Forgot that yarn shrinkwraps. I was not on 2.5.0 and it looks like the issue is fixed now.

[2016-12-15 01:34] #129 closed

[2016-12-15 01:43] aexmachina commented on #130
Using `tooltip-on-element`.

[2016-12-15 01:43] aexmachina commented on #130
I've submitted a PR.

[2016-12-15 15:57] a15n commented on #126
@luxferresum could you look into a solution for this?

[2016-12-15 19:56] ryanlabouve commented on #128
Great work on the test helpers! Started using them today in a large app.

I'd be happy to help with "Asserting tooltip content matches a string". Or if you already have it in the works, no big deal! Great addon. Just trying to give back.

I do this right now (via page objects) by grabbing the tooltip selector from the target, and then checking the content with the selector. I could change this to

[2016-12-15 19:58] a15n commented on #112
addressed with https://github.com/sir-dunxalot/ember-tooltips/issues/133

[2016-12-15 19:58] #112 closed

[2016-12-15 20:02] a15n commented on #130
thanks for submitting this PR. I've never worked with fastboot before so this is really appreciated. Is there a way we can add tests to for this? I don't know how we would. Right now we only have test coverage for different version of ember.

[2016-12-15 20:02] ryanlabouve opened #135 "Additional exceptions with triggerTooltipTargetEvent"
The errors from [getTooltipFromBody](https://github.com/sir-dunxalot/ember-tooltips/blob/dad31a5e5fb04bf85fbc933efbfee3154b5a00d9/test-support/helpers/ember-tooltips.js#L13) were helpful in hunting down why [assertTooltipVisible](https://github.com/sir-dunxalot/ember-tooltips/blob/dad31a5e5fb04bf85fbc933efbfee3154b5a00d9/test-support/helpers/ember-tooltips.js#L80) was not behaving as I expected.

[2016-12-15 20:05] a15n commented on #128
that would be amazing Ryan. Thank you! As far as I know no one has started working on "Asserting tooltip content matches a string".

[2016-12-15 20:07] a15n commented on #135
which "target" are you referring to? The `triggerTooltipTargetEvent` accepts a jquery element as the first parameter.

[2016-12-15 20:14] ryanlabouve commented on #135
Sorry, target as in the tooltip's target.

So, if `$element` or `options.selected` was not found, would be nice to have an error message like `triggerTooltopTargetEvent: the element you passed in was not a tooltip target`.

[2016-12-15 21:37] a15n commented on #135
`$element` should be passed in, but if it isn't the current way the error throws ("[You used undefined](https://github.com/sir-dunxalot/ember-tooltips/blob/dad31a5e5fb04bf85fbc933efbfee3154b5a00d9/test-support/helpers/ember-tooltips.js#L26)") could definitely be improved.

Also there are places in our tests where this helper is used on $elements that are not the tooltip target. These are in the po

[2016-12-15 23:10] aexmachina commented on #130
I've had a bit of a look and it's not clear. Basically you'd need to remove window, $ and change Component#$ to return null, and then run your whole test suite. It should be available as a test environment for Testem (same as Chrome or Firefox) but this hasn't been done.

Basically we all need to write code that handles the DOM not being there outside of the Component hooks, which is what I've don

[2016-12-16 22:37] iezer opened #136 "document text property"
text property works instead of block form but it's not documented.

[2016-12-17 03:00] a15n commented on #113
I have `ember-cli:  2.5.0` but as soon as I created an app I updated to 2.9.1 (not sure that changes anything).

I tried reproducing this but was unable to. The page loads fine for me.

[2016-12-20 19:57] sir-dunxalot commented on #136
The text property is shown [in the readme](https://github.com/sir-dunxalot/ember-tooltips#tooltip-on-component) so are you asking that we add it to the [options section](https://github.com/sir-dunxalot/ember-tooltips#options)?

[2016-12-20 19:59] sir-dunxalot commented on #130
Fixed by #131.

[2016-12-20 19:59] #130 closed

[2016-12-20 20:53] sir-dunxalot commented on #136
When I fix this I will also make the following improvement to the readme: highlighting the code in [the popover section](https://github.com/sir-dunxalot/ember-tooltips#popover-on-element).

[2016-12-20 21:11] sir-dunxalot commented on #128
I am working on the position test helper on [this branch](https://github.com/sir-dunxalot/ember-tooltips/tree/position-test-helper) but I am not working on the content test helper.

[2016-12-21 05:13] a15n opened #138 "lazy-render-wrapper doesn't support target='some-id'"
The lazy-render-wrapper will only attach event listeners on [the parent](https://github.com/sir-dunxalot/ember-tooltips/blob/dad31a5e5fb04bf85fbc933efbfee3154b5a00d9/addon/components/lazy-render-wrapper.js#L148). This works fine for `<x>-on-element` but breaks when `target='some-id'` and can potentially break when using `<x>-on-component`.

To fix this we need to
* make sure that the lazy-render-w

[2016-12-21 05:18] a15n opened #139 "how do we handle event and showOn/hideOn discrepencies"
How do we handle this scenario...

[code]

In this scenario the showOn and hideOn are focus related but the show/hide behavior will be declared as if the user wanted [event='hover' handling](https://github.com/sir-dunxalot/ember-tooltips/blob/dad31a5e5fb04bf85fbc933efbfee3154b5a00d9/addon/components/tether-popover-on-element.js#L70). This produces weird behavior.

This may be an implementation iss

[2016-12-21 15:57] hemp opened #140 "constraints not passable to ember-tether in 2.4+"
With lazy rendering, `constraints` is not a passable property anymore.  I think adding it to this list here might be a quick fix, but wanted to open this issue for discussion:  https://github.com/sir-dunxalot/ember-tooltips/blob/master/addon/components/lazy-render-wrapper.js#L21

The goal here is sometimes the tooltip needs to fall inside of the scrollParent rather than the viewport:

[code]

One

[2016-12-21 18:42] humanchimp opened #141 "bug with event delegation when the app specifies a rootElement"
Hello!

I found an apparent bug in this addon. I was able to reproduce the problem in a [minimal demo app](https://github.com/lytics/ember-tooltips-bug-app). I will try to put together a PR to fix the problem. In the meantime, I'd be interested in hearing anything you folks might have to say about it, especially if there is a reason that my proposed solution will not work.

Thanks!

## steps to re

[2016-12-22 17:01] #126 closed

[2016-12-22 18:12] sir-dunxalot opened #142 "Travis badge should represent master branch only"
The URL for the travis badge in the Readme is `https://travis-ci.org/sir-dunxalot/ember-tooltips.svg` but it should be `https://travis-ci.org/sir-dunxalot/ember-tooltips.svg` to only show the status of master branch builds.

[2016-12-22 18:34] sir-dunxalot opened #144 "Expand test helpers documentation"
The readme contains [documentation for our new pubic test helpers](https://github.com/sir-dunxalot/ember-tooltips#test-helpers). In order to encourage people to use the test helpers in their own applications, we should improve our documentation by breaking our each test helper into it's own section with an explanation of which options can be passed, and example, and an expanded description of what

[2016-12-22 19:32] sir-dunxalot commented on #118
I am closing this unless we hear that #114 did not fix this bug.

[2016-12-22 19:32] #118 closed

[2016-12-22 19:33] sir-dunxalot commented on #113
I believe this is a duplicate of #76, which was identified as an upstream issue.

[2016-12-22 19:33] #113 closed

[2016-12-22 19:35] sir-dunxalot commented on #111
Does `position: fixed;` not make tooltips appear in the wrong place on the page? This might work when tooltips are children of `body` but that will probably break is the developer places tooltips on any other element. I am interested in finding a solution for this though.

[2016-12-22 19:40] sir-dunxalot commented on #51
The ability to add clickable links in popovers now exists thanks to #92.

[2016-12-22 19:40] #51 closed

[2016-12-22 22:23] #142 closed

[2016-12-22 22:49] sir-dunxalot commented on #128
@ryanlabouve Let me know if you're not planning on working on the content assertion helper - I can pick it up.

[2016-12-22 22:58] ryanlabouve commented on #128
I'll get a branch up tonight! Sorry for the delay.

[2016-12-23 11:11] sir-dunxalot commented on #128
No sweat! checking :)

[2016-12-27 09:58] Azdaroth opened #147 "Using tooltip-on-element with customized `tagName`"
I think since 2.4.0 version `tagName` is by default empty (since introduction of lazy-render-wrapper component). This is causing problems when extending `tooltip-on-element` component and providing `tagName` (and `tagName` cannot be empty when using e.g. `classNameBindings`) and the tooltip doesn't work at all. Here is the difference between generated HTMLs, without `tagName`:

[code]

and with `t

[2016-12-28 21:00] derekbassett opened #148 "Unable to use test helpers"
Following directions under Test Helpers

run `ember new tooltips-example`
then run `ember install ember-tooltips`

Copy import from example
[code]

When I run the test using `ember test --serve` I get the following error message:

[code]

I could have completely missed a step but if that is the case it would be helpful to include that in the documentation about additional steps I need to do.

I ca

[2016-12-28 21:46] derekbassett commented on #148
I was only able to get this to work with
```import { assertTooltipVisible, assertTooltipNotVisible, assertTooltipRendered, triggerTooltipTargetEvent } from '<appname>/tests/helpers/ember-tooltips';```

This was with Ember 2.10.0

[2016-12-28 22:33] derekbassett commented on #148
Talking with some folks it seems it wasn't working because I was building a component integration test.  The recommendation I saw was to make it explicit root-relative for the example.

[2016-12-29 19:17] a15n commented on #147
The `tooltip-on-element` and sibling components all extend the `lazy-render-wrapper` component, which is tagless. We use a tagless component because it should only serve as a wrapper/observer component that renders the real tooltip component when the target component has been interacted with (mouseenter, focus, or click).

IIRC I chose to use a tagless component because passing `id='foo'` to a tag

[2016-12-29 20:08] a15n commented on #140
you're correct in that passing the constraint property to the list of `passableProperties` is the correct way to pass it thru to the tether-tooltip-on-component.

But you'll likely run into the issue you've identified which is that the caret/arrow currently only supports top-center, right-center, bottom-center, or left-center positioning. Here is the PR that is working on that. @jcward10 just emai

[2016-12-29 20:12] a15n commented on #148
Is this an issue that changes with different version of ember or is there an explicit approach we should add to the docs that'd work in each version and in acceptance and integration tests?

[2016-12-29 20:56] derekbassett commented on #148
I think this issue should be resolved by changing the example to use explicit approach in the docs that work for both acceptance and component integration tests.

So change the documentation to say something like
[code]
so it will work in both acceptance and component integration tests.

[2016-12-30 01:02] a15n commented on #148
I just confirmed that this works in both acceptance and integration tests. @sir-dunxalot when you update the test docs can you include this improvement?

[2016-12-30 01:16] a15n opened #150 "race condition when enableLazyRendering and target="some-input""
The tooltip will appear then immediately disappear when the input is clicked on...

[code]

I believe this has something to do with focus events occurring before click events... will investigate

![race condition](https://cloud.githubusercontent.com/assets/7050871/21558171/75a17f0a-cdea-11e6-89f2-31958d5256bc.gif)

PS: I saw the same thing for popover-on-element

[2016-12-30 01:16] a15n commented on #150
@jiongbozhang  FYI

[2016-12-30 01:27] a15n commented on #150
it seems like we can get around this if we use `event='focus'` (as is shown in the dummy app). Should we try to make a race condition fix for this or just encourage people to use focus?

[2016-12-30 16:18] Azdaroth commented on #147
Ok, thanks for the answer, I think it's pretty clear now. I guess this issue can be closed then.

[2016-12-30 16:18] #147 closed

[2016-12-30 21:31] sir-dunxalot commented on #148
@a15n yes - will do.

[2016-12-30 21:32] sir-dunxalot commented on #144
This should also solve #148.

[2016-12-30 22:13] sir-dunxalot opened #151 "Improve code conventions and linting"
Our addon follows some code conventions loosely. Parts of the code are messy and inconsistent with one another. We should tidy up the code (conventions TBD) whilst using something like [ember-cli-eslint](https://github.com/ember-cli/ember-cli-eslint) to make it easy for contributors to work with our chosen code conventions.

[2016-12-30 22:18] sir-dunxalot commented on #151
@a15n What do you think? I have avoided adding comments for code conventions in PRs but I'd like to improve consistency. I don't think this is a big issue and am fine if we don't want to focus on styling right now (we can close this issue without making any changes because this is a rather opinionated improvement and not a functionality addition).

[2016-12-30 22:29] sir-dunxalot commented on #150
We should fix the race condition because this is a common use case for tooltips in Ember.

[2016-12-30 23:39] a15n commented on #151
I think eslint is a great idea. Can we do this before 3.0.0?

[2016-12-31 13:32] sir-dunxalot commented on #150
#149 is now on master.

[2016-12-31 13:36] sir-dunxalot commented on #151
Great. I have added linting to the pre-3.0 checklist in #109.

[2016-12-31 14:29] sir-dunxalot opened #152 "Package.json warning in development"
The following warning is shown multiple times when the developer runs `ember s` on the addon locally:

We should remove `ember-hash-helper-polyfill` from the addon's `package.json` file.

[2016-12-31 16:47] a15n commented on #152
IIRC I added this to support the hash polyfill needed for pre 2.3 versions. We need it to support the [hide action](https://github.com/sir-dunxalot/ember-tooltips/blob/2dec625c4791be360dbb2e216419681c18bf8e31/addon/templates/components/tether-popover.hbs) in popovers.

https://github.com/cibernox/ember-hash-helper-polyfill

We need to keep it in pre 2.3.0 but if there is a way to remove it from >=

[2016-12-31 16:56] a15n commented on #138
149 fixed this and added specific tests to test the situations described above.

[2016-12-31 16:56] #138 closed

[2016-12-31 20:51] sir-dunxalot commented on #152
We could require pre-2.3 Ember apps to install it as a peer dependency.

[2017-01-01 14:08] sir-dunxalot commented on #151
I have begun work on this on the [code-linting](https://github.com/sir-dunxalot/ember-tooltips/tree/code-linting) branch.

[2017-01-04 03:09] a15n commented on #152
That sounds reasonable, I'd be good with that approach

[2017-01-04 12:29] sandersoeteman opened #157 "components in popover body don't receive events in tests"
This works fine in live usage, but only fails in tests. The following integration test fails with "Expected 5 assertions, but 4 were run". The dummy component is just a component.js with a class for the div.

[code]

I'm on ember(-cli) 2.10.0, ember-tooltips 2.7.1

[2017-01-04 14:52] sir-dunxalot commented on #152
Ok, I'm going to make this a 3.0 feature (given the breaking nature of the update) unless you say otherwise. Added to #109.

[2017-01-04 15:33] #151 closed

[2017-01-04 15:34] sir-dunxalot commented on #151
Fixed by #154

[2017-01-04 16:46] a15n commented on #157
is `console.debug('button clicked!');` being fired?

I think if you update this line it may work.

[code]

Haven't tried reproducing. If it doesn't work I'll repro

[2017-01-04 16:52] humanchimp commented on #157
Isn't this related to/a duplicate of #141? I believe that tests specify a `rootElement` other than the body, so the events go unhandled by Ember

[2017-01-04 17:10] sir-dunxalot commented on #141
I have started work on this issue on the [attach-events-to-root-element branch](https://github.com/sir-dunxalot/ember-tooltips/tree/attach-events-to-root-element).

[2017-01-05 08:36] sandersoeteman commented on #157
@a15n changed the target selector and this didn't change the test result. The console message also isn't displayed. I got the dummy-component inspiration from your tests, have studied them to see if I did something wrong perhaps.
@humanchimp could be, as ember-tooltips functions fine in my live app.

[2017-01-06 23:13] a15n commented on #150
PR here https://github.com/sir-dunxalot/ember-tooltips/pull/153

[2017-01-06 23:34] ktelles opened #158 "unable to use popover in IE11 (windows 8.1)"
we're having a problem where the popover appears correctly but when you click on it it interacts with the content underneath it, instead of the popover itself. this is on IE11 (windows 8.1). thanks so much!

![bug](https://cloud.githubusercontent.com/assets/22331782/21736422/6fff7e76-d425-11e6-9c2c-9a7f68d50da5.gif)

[2017-01-07 00:21] a15n commented on #158
https://github.com/sir-dunxalot/ember-tooltips/pull/159

[2017-01-07 20:50] sir-dunxalot commented on #158
Fixed by `2.7.3`.

[2017-01-07 20:50] #158 closed

[2017-01-07 20:51] sir-dunxalot commented on #150
Fixed by `2.7.3`.

[2017-01-07 20:51] #150 closed

[2017-01-07 20:51] sir-dunxalot commented on #157
Fixed by #160

[2017-01-07 20:55] sir-dunxalot commented on #144
Will be fixed by #160

[2017-01-07 20:55] sir-dunxalot commented on #148
Will be fixed by #160

[2017-01-07 21:03] sir-dunxalot commented on #157
Related to #141.

[2017-01-08 03:00] sir-dunxalot opened #161 "Travis badge in demo app doesn't track master"
The demo app has a travis badge on the index route. This badge isn't restricted to `master` branch and so it shows this addon's build as failing when the latest build fails (regardless of what branch it was). The travis badge should just track the master branch.

[2017-01-08 03:42] sir-dunxalot opened #163 "Fix ESlint order warning"
[code]

[2017-01-08 03:46] sir-dunxalot commented on #161
Both the readme and the demo app should be updated to use the Travis badge at `https://travis-ci.org/sir-dunxalot/ember-tooltips.svg?branch=master`.

[2017-01-08 03:58] sir-dunxalot commented on #73
With the latest version of `ember-tether` (`0.4.0`) I think we can remove ember-tether from the `peerDependencies` list entirely. I need to confirm this but that would solve this issue.

[2017-01-08 05:28] a15n commented on #73
I think that `ember-tether: '0.3.1'` may be needed for ember versions before 2.4. I haven't looked too far into it yet but wanted to raise that here

https://github.com/yapplabs/ember-tether

[2017-01-11 01:33] a15n opened #164 "Multiple popovers don't hide as expected"
If multiple popovers are hovered into and out of in this scenario then the popovers don't hide as expected....

[code]

![sticking-popovers](https://cloud.githubusercontent.com/assets/7050871/21831680/6d5e6460-d75a-11e6-812f-25f496b2f190.gif)

@reidzen and I debugged this and it turns out that the `ember.run` executions on [this line](https://github.com/sir-dunxalot/ember-tooltips/blob/master/addo

[2017-01-11 16:13] tsteuwer opened #165 "v2.8.0: Can't find ember-tether module after fresh install"
After installing the plugin via ``ember install`` and using this code:

[code]

I am getting the following error:

[code]

My versions:

ember-tooltips: 2.8.0
ember-cli: 2.10.0
http_parser: 2.7.0
node: 6.0.0
v8: 5.0.71.35
uv: 1.9.0
zlib: 1.2.8
ares: 1.10.1-DEV
icu: 56.1
modules: 48
openssl: 1.0.2g
os: linux x64
3.8.6

[2017-01-11 16:18] tsteuwer opened #166 "v2.8.0: klass.create is not a function"
After a fresh install via ``ember install`` and using the following code:

[code]

I get the following deprecation and exception:

[code]

My versions:

ember-tooltips: 2.8.0
ember-cli: 2.10.0
http_parser: 2.7.0
node: 6.0.0
v8: 5.0.71.35
uv: 1.9.0
zlib: 1.2.8
ares: 1.10.1-DEV
icu: 56.1
modules: 48
openssl: 1.0.2g
os: linux x64
3.8.6

[2017-01-11 23:57] sir-dunxalot commented on #165
Thanks the info. Whilst we look into this, you should be able to work around this by running `ember install ember-tether` in your project.

[2017-01-12 13:23] tsteuwer commented on #165
@sir-dunxalot  that does indeed fix the issue for now. Thank you.

[2017-01-12 22:24] tsteuwer commented on #165
Additional information:

[code]

Is logged when doing ``npm i`` in a ember project which has it as a dependency.

[2017-01-18 14:28] nagits opened #167 "Remove hard-coded font-family for .ember-tooltip and .ember-popover"
`.ember-tooltip` should inherit font-family by default. For now, `body, html { font-family: 'xxx' }` in my app is not applied to `.ember-tooltip`, and it seems to me strange.
(https://github.com/sir-dunxalot/ember-tooltips/blob/2e01e9e59cc175226e0fc638ac4d185522c4795a/addon/styles/addon.scss#L9)

[2017-01-19 09:17] nagits commented on #72
@hoboman313 > 1.) keepInWindow doesn't actually try to keep the tooltip inside the window.
@knownasilya > The tooltip just renders outside of the edge of the window:

@sir-dunxalot Adding `pin: true` to https://github.com/sir-dunxalot/ember-tooltips/blob/2e01e9e59cc175226e0fc638ac4d185522c4795a/addon/components/tether-tooltip-and-popover.js#L183 fixes this.

[2017-01-19 13:53] nag5000 opened #168 "Incorrect slide effect when using targetAttachment="bottom right""
When I use this config
[code]
I have both transitions of margin-top **and** margin-left.

UPD: tooltip position on GIFs may differ from your, because I tested addon with merged https://github.com/sir-dunxalot/ember-tooltips/pull/103 and `relativeSidePosition="left"` property.

Actual:
![actual](https://cloud.githubusercontent.com/assets/4932134/22107550/5d1e9a44-de70-11e6-8563-cf5918ec27b8.gif)

E

[2017-01-19 16:55] a15n commented on #168
Good debugging. Right now we don't have a story surrounding off-center tooltips and popovers, but we need one. It's especially difficult with tooltips because we need special handling for the slide effects as well as the tooltip arrow.

@sir-dunxalot do you think that we should create an issue that lists all of the complications with off center positioning then create a plan to address them progra

[2017-01-20 12:06] nag5000 opened #170 "isShown doesn't come back to false when tooltip hides on mouseleave"
$E._debugContainerKey
-> "component:popover-on-component"

1. ```$E.set('isShown', true)``` - OK, I see the popover.
2. Hide popover using mouse (mouseenter, mouseleave) - OK
3. ```$E.get('isShown') // true (!?)``` - FAIL.
4. (additionally, as a consequence) ```$E.set('isShown', true)``` - FAIL, I don't see the popover.

But everything is good with `isShown` in "component:tether-popover-on-compone

[2017-01-20 12:25] nagits commented on #170
I think, `isShown` should be passed from lazy-render-wrapper to tether-tooltip-and-popover separately from `passedPropertiesObject`, to provide two-way binding of `isShown` between this components.

[2017-01-21 18:06] a15n commented on #170
that would fix it. One other alternative if you don't need lazy-rendering is to use the `tether-popover-on-component` instead of `popover-on-component`. That will bypass the lazy-render-wrapper and not have lazy rendering capabilities

[2017-01-21 18:08] a15n commented on #167
seems reasonable to me. In our app we have to override font-family to inherit. @sir-dunxalot what do you think?

[2017-01-21 18:57] a15n commented on #163
PR here https://github.com/sir-dunxalot/ember-tooltips/pull/171

[2017-01-21 19:42] a15n commented on #161
This PR changes the `data-canonical-sc` to those URLs. Not sure if that's all that is needed. I checked on localhost and the demo page hadn't been updated, but the README had.

It may be a caching issue: wemay have to go through these steps to update it https://help.github.com/articles/about-anonymized-image-urls/

https://github.com/sir-dunxalot/ember-tooltips/pull/172

[2017-01-21 21:49] a15n commented on #164
@reidzen I tried reproducing this locally but couldn't under the following scenarios...

[code]

Is it possible that this is due to the complexity of the page? I need to be able to reproduce this locally so I can design a test that fails in the repro scenario. Could you clone the repo and try to design a scenario in which this fails? I'd recommend using the `/acceptance` URL as a sandbox. Thanks

[2017-01-23 02:20] aarkus7 commented on #111
I'm experiencing a similar problem with tooltips - it either enlarges the container or goes off the page.

Setting to position: fixed kind of solves the issue, except that scrolling the page leaves the tooltip behind.

[2017-01-23 02:23] aarkus7 commented on #111
I'm experiencing a similar problem with tooltips - even with keepInWindow: true, they either push the container out or push out of the window

[2017-01-28 12:29] hannesfrank opened #174 "Tooltip not in foreground"
The tooltip is partially covered by other elements (in my case a `#power-select`):
![ember-tooltip](https://cloud.githubusercontent.com/assets/4137110/22396589/8d580558-e55d-11e6-8f06-43b179bc4d00.png)

This is fixable by setting a high `z-index`:

[code]

This could be added to the app styles or changed in the addon itself.
What is the preferred solution?

[2017-01-28 15:39] sir-dunxalot commented on #174
Everyone has different min and max values for tooltips. Complicating matter is the fact that tooltips shouldn't always be in the foreground. For example, a screen has a tooltip shown on it and then the a modal is shown over a screen - the modal should be rendered over the tooltip. If a second tooltip is supposed to render in a modal that tooltip should then shown on top of the modal. As such, the

[2017-01-28 15:39] #174 closed

[2017-01-28 15:43] sir-dunxalot commented on #167
Let's set `font-family: inherit;` and we'll add a font (or sans-serif) to the dummy app to make the tooltips look indicative of how they will in a consuming app.

[2017-01-28 19:44] #163 closed

[2017-01-29 00:16] sir-dunxalot commented on #167
Fixed by #175

[2017-01-31 18:57] a15n commented on #122
LGTM

@sir-dunxalot do you approve?

[2017-02-01 03:15] sir-dunxalot commented on #122
Was that meant to be a comment on #176? If so, yes.

[2017-02-01 16:31] a15n commented on #122
haha yes it was

[2017-02-02 04:21] #74 closed

[2017-02-02 04:21] #136 closed

[2017-02-02 04:21] #144 closed

[2017-02-02 04:21] #148 closed

[2017-02-03 02:43] #161 closed

[2017-02-03 02:43] #167 closed

[2017-02-03 02:46] sir-dunxalot commented on #128
All test helpers have been added. Great work everyone who contributed!

[2017-02-03 02:46] #128 closed

[2017-02-03 02:57] humanchimp commented on #82
Learning about those underlying attributes was all that I needed to address all of the use-cases found in our moderately large app, as we ported our popovers and tooltips from [this library](https://github.com/lytics/ember-components).

It seems like additional documentation is all that is required.

[2017-02-03 08:01] DavidPhilip commented on #72
@nagits I would love to see a PR for this either as a default or another option you can set. Can you manage to do one please?

[2017-02-03 13:40] sir-dunxalot opened #180 "Tables in Readme are mis-formatted"
In Github-flavored markdown, tables are always rendered with column headers in the top row. This means we have a small visual discrepancy in the Readme, where some tables are horizontally structured, with the first column being the header:

![](https://snag.gy/PTs2Av.jpg)

We should make sure only the table headers appear bolded, or provide a similar solution that makes the tables easily readable.

[2017-02-03 13:44] sir-dunxalot commented on #111
See #82 - I believe this is related even if it's not exactly the same issue. Will know more when a PR is created and we can test this out.

[2017-02-03 20:52] nagits commented on #111
I have a similar bug. When I shrink the window, horizontal scroll appears because of the hidden popover (tooltip) at the right side: position of the hidden popover doesn't update when I shrink the window (it ok), but it still renders (with opacity: 0).

https://webm.red/Dv7X.webm

[2017-02-04 22:04] jesusda91 opened #182 "[Question] Is there any option to reload tooltips?"
For any reason tooltip don't load correctly even with enableLazyRendering in true, i only have a custom css class

[2017-02-04 23:26] sir-dunxalot commented on #182
Could you provide some more details (maybe a screenshot or example). I'm not sure exactly what the issue you're describing is.

[2017-02-06 14:58] jesusda91 commented on #182
When tooltip loads fine looks like this
![image](https://cloud.githubusercontent.com/assets/6879294/22651942/8dbef596-ec52-11e6-9513-064a96de0131.png)

but sometimes don't load and look like this
![image](https://cloud.githubusercontent.com/assets/6879294/22651962/a19f8e0e-ec52-11e6-9123-659688fbdd47.png)

[2017-02-08 12:46] tsteuwer commented on #165
Also note, this does not allow developers to ``npm shrinkwrap`` since this package does not satisfy the missing peer dependency.

[2017-02-08 17:02] Ericky14 opened #184 "Tooltip width does not cover the whole text"
If the text does not contain spaces, it will continue to overflow to the right and background won't cover it.

<img width="425" alt="screen shot 2017-02-08 at 12 00 51 pm" src="https://cloud.githubusercontent.com/assets/21248862/22747943/70b58ca8-edf6-11e6-92be-9c4f66946e9e.png">

If this isn't really a bug, can anyone tell me a way to fix this problem? Thanks.

[2017-02-08 17:50] humanchimp commented on #184
You can just override `max-width` in the CSS:

[code]

[2017-02-09 01:23] Ericky14 commented on #184
Ah, thank you.

[2017-02-09 01:23] #184 closed

[2017-02-09 16:44] sir-dunxalot commented on #165
Good to know, @tsteuwer. #162 is a large PR that upgrades the `ember-tether` dependency. Amongst other things, this will remove the need to register `ember-tether` as a peerDependency. Whilst #162 was not designed to fix this issue I am hopeful that it will.

[2017-02-09 16:47] #157 closed

[2017-02-09 17:01] sir-dunxalot commented on #157
Fixed by [2.9.0-beta.0](https://github.com/sir-dunxalot/ember-tooltips/releases/tag/2.9.0-beta.0).

[2017-02-09 17:01] sir-dunxalot commented on #141
Fixed by [2.9.0-beta.0](https://github.com/sir-dunxalot/ember-tooltips/releases/tag/2.9.0-beta.0).

[2017-02-09 17:01] #141 closed

[2017-02-09 17:02] sir-dunxalot commented on #73
Fixed by [2.9.0-beta.0](https://github.com/sir-dunxalot/ember-tooltips/releases/tag/2.9.0-beta.0).

[2017-02-09 17:02] #73 closed

[2017-02-09 18:17] JoshSmith commented on #73
🎉  thanks @sir-dunxalot!

[2017-02-13 15:15] manuel-reil opened #185 "Tooltip ignores duration when used with enableLazyRendering and event='none'"
I am using it as follows:

`{{#tooltip-on-component event='none' enableLazyRendering=true duration=2500 isShown=isCanceled}} ...`

I let it show programmatically via `isShown`. It should stay there for 2500ms (`duration`).
This works as intended once a remove `enableLazyRendering=true`.

Seems like `isShown` wins against `duration`.

Thanks,
Manuel

[2017-02-14 01:12] sir-dunxalot commented on #185
Hi Manuel,

Thank you for debugging the issue. There does appear to be a conflict between `isShown` and `duration`. However, I'm not sure what the solution should be. Would you expect the duration to set `isShown` to `false` after 2500ms?

[2017-03-09 00:20] denchen opened #187 "Styling black on white"
I thought this should be simple, but I'm having trouble figuring out how to properly style the tooltip for black on white (basically the reverse of what it is now). Because it's black on white, I need to have some kind of border or drop shadow since the background itself is white. The pain point is the arrow, which is defined by `.ember-tooltip::after`. If I put a border on the arrow, the entire b

[2017-04-07 00:56] shmax opened #188 "Zero footprint after hide"
Hi guys, nice component.

I'm aware of the lazyloading feature, which doesn't render anything until it is time to show the tooltip, but I'm interested in the next level, which is to not leave any remnants whatsoever when the tooltip is hidden. Is that clear enough? What I'm saying is that it is not enough to set the opacity of the tooltip to 0 once it has been shown and subsequently hidden (which

[2017-04-07 03:18] a15n commented on #188
The lazy loading approach was the dozens of tooltips. We found it to work well because the slowness was only caused on page load.

One way of implementing this would be to create your own wrapper (kind of like lazy load wrapper) that will wrap the tooltip in an if block that can be made false. You'd need to track make-false events too.

[code]
You'd need to attach _lazyShowEvents.forEach and _lazy

[2017-04-07 03:59] shmax commented on #188
Well, the idea you just posted is essentially what is already in the base project. I extended tooltip-on-component and modified `_shouldRender` to fit my needs. The only trouble is that the _shouldRender switch is only one way; you can switch from off to on, but once it's on you don't seem to be able to switch it off again--the app crashes (well, it does for me, anyway--I get some kind of horrific

[2017-04-07 05:25] kybishop commented on #165
@sir-dunxalot just ran a fresh install with the beta; no dice on fixing the bug.

If you're interested, I'll submit a PR to automatically install ember-tether in the parent app on a fresh install via `ember install ember-tooltips`

[2017-04-07 16:12] a15n commented on #188
That makes a lot of sense. I joined this project when there was simply a tooltip and all of the tooltips would load when the page loaded, regardless of whether the tooltip was visible. This lead to the situation where a page with 100 tooltips would load but none would be visible and most would never be shown. My solution was to create a lazy-render-wrapper that only showed the tooltip when a user

[2017-04-07 17:18] shmax commented on #188
Thanks for the reply.

Yep, as I mentioned, that is exactly what I did, but once `_shouldRender` is set to true, setting it back to false seems to be a fatal operation. I'll debug it when I get a chance.

I think this is going to be my game plan:
1, Spend an hour or two and see if I can figure out where the recursion crash is coming from and see if I can fix it.
2. Failing that, give up on lazy-wr

[2017-04-07 18:36] a15n commented on #188
That's a good plan

[2017-04-07 19:10] shmax commented on #188
By the way, the `_lazyRenderEvent` stuff was another source of frustration; it seems to ignore everything that the user carefully sets up with `showOn` and 'hideOn`.

[2017-04-10 02:33] shmax opened #191 "Spacing not inverted with 'keepInWindow' behavior"
If you use a `tooltip-on-element` with a spacing of some value (eg. 10), and a `keepInWindow` set to `true`, then resize the browser until the tooltip flips over to the other side of its target, then the spacing is not inverted as expected, so the tooltip appears in the wrong position.

[2017-04-10 02:51] shmax commented on #191
This appears to be a known issue in the tether library:
https://github.com/HubSpot/tether/issues/106

[2017-04-19 19:30] bakerac4 opened #192 "Render in place"
Always rendering in the body is troublesome for my app. Is there a way to specify where the poppover/tooltip should render in a specific div instead of the body?

[2017-04-25 16:39] et opened #193 "expect style test helpers"
Great work on this plugin, it works extremely well. Also enjoy the test helpers you've provided.
I was wondering if there a way to use the test helpers with an expect style syntax (i.e. where I don't have an `assert` object available.

I would think, it could essentially just drop the `assert` prefix from all the test helpers and look like the following:

[code]

Or if you didn't want to support n

[2017-05-10 11:18] monovertex opened #194 "Programatically create tooltips?"
I have the following use-case: I created a validation mixin that is then mixed in with multiple control components, that do various things. I'd like to validate the value in those components and attach to them a tooltip that displays the error, if there is one.

I don't see how could I instantiate tooltips this way, from a mixin, and I'd like to avoid creating a tooltip in each component's HBS, be

[2017-05-11 15:04] tsteuwer commented on #188
I would like to help on this rework if needed. We do have a case where we have many tooltips and the components themselves are getting re-rendered or removed constantly and this addon keeps them in the dom and we end up with 100s of divs hidden.

Can we start a branch for this? I'll help as much as possible

[2017-05-11 15:48] shmax commented on #188
Just to give you an update on my own progress, I wound up not using this component at all and writing a fresh one from scratch, for the following reasons:

1. The architecture of this component is just a bit too convoluted; in order to make any meaningful modifications, say, in an extension, you have to extend not only one of the core components, but also the wrapper. My new one has a single compo

[2017-05-11 22:31] tsteuwer commented on #188
I would be interested. Please do ask 👍

[2017-05-11 23:10] shmax commented on #188
I did ask, but so far it sounds like we don't really have the machinery in place to do it. I'm also not really allowed to write my own implementation under my private github account as it would compete with the one I developed professionally, but there is certainly nothing stopping you from having at it!

[2017-05-17 09:01] Ramblurr opened #195 "Add global enableLazyRendering option"
Since `enableLazyRendering` will become the default, it would be nice if we could specify an environment config to enable it by default. Otherwise we have to litter `enableLazyRendering=true` all over our codebase.

[2017-05-17 09:28] samdemaeyer commented on #165
@tsteuwer, @sir-dunxalot, I moved ember-tether to `dependencies` to make sure it gets installed when freshly installing the addon, don't have the dependency installed in your local project.
This PR should solve the error => #196

[2017-05-18 22:02] ChrizzDF commented on #195
Until there will be a default setting, you can also just create the component and override the value for now.

[2017-05-19 09:02] admxxi commented on #166
I was trying to run ember-light-table and then I got this error message

TypeError: klass.create is not a function
    at CurlyComponentManager.create (ember.debug.js:12591)
    at OpenComponentOpcode.evaluate (ember.debug.js:47198)
    at VM.execute (ember.debug.js:53789)
    at VM.resume (ember.debug.js:53768)
    at TryOpcode.handleException (ember.debug.js:54279)
    at UpdatingVMFrame.handleE

[2017-05-23 14:09] okachynskyy opened #197 "A component or helper named "tooltip-on-component" could not be found"
Steps:
1) `ember install ember-tooltips` _(package.json: ember-tooltips": "^2.8.2")_
2) Copy this to my index.hbs
[code]
3) App fail: `A component or helper named "tooltip-on-element" could not be found`

ember-cli: "2.12.2"
node 7.9.0
npm 4.2.0

[2017-05-31 08:53] okachynskyy opened #201 "Issue with position absolute"
Here is [demo](https://ember-twiddle.com/afc9a6ff8fdd653c28e5317913bb9bd9?openFiles=templates.application.hbs%2C):

1) Open twiddle (don't hover on the green box)
![step1](https://cloud.githubusercontent.com/assets/16646570/26623567/d820b7fc-45f6-11e7-9873-32cb449b8d75.png)

2) Reduce window size
![step2](https://cloud.githubusercontent.com/assets/16646570/26623574/db18bdd8-45f6-11e7-9819-3cf41cfe

[2017-05-31 08:54] #197 closed

[2017-06-01 09:25] DataSweeper commented on #197
did this issue got resolved? @okachynskyy

[2017-06-01 14:04] okachynskyy commented on #197
@DataSweeper, Yes, I just reinstall everything :)

[2017-06-02 18:17] nsmith7989 commented on #201
I'm having the same issue.

I know this isn't a solid solution, but I ended up adding some override css:

[code]

[2017-06-07 03:47] varoot opened #202 "How to specify scroll parent?"
It seems currently there is no way to constraint the tooltip to a scroll parent (therefore the tooltips are rendered outside of scroll parent when the target is out of view). This may be related to #140 but I would prefer a simpler way than passing the whole constraint settings.

[2017-06-14 20:58] maprules1000 opened #203 "Deprecation for _actions"
When using `popover.hide()` a deprecation is triggered:

The `hide` function in `lazy-render-wrapper` should be updated to use the new syntax.

[2017-06-14 23:22] a15n commented on #203
`_actions` is the 1.13 way of doing this. If we drop 1.13 we can make this change, but this doesn't seem a compelling enough reason to drop 1.13.

[2017-06-14 23:22] #203 closed

[2017-06-15 22:37] davidhahn opened #204 "The tooltip can't be closed on iPhone"
While the tooltip works fine on Android devices and Chrome's mobile simulator, when seen on an iPhone, the tooltip won't close unless the page is refreshed or another tooltip is selected.

I've tried setting the `event=touch` and doing `showOn=touchstart` and `hideOn=touchend`, that seems to be also buggy in that the first 'touch' sticks the tooltip and the 2nd triggers the close event, and the to

[2017-06-16 15:54] xdumaine opened #205 "Remove dependency on sass"
Hey! First off, thanks for this awesome addon. I would like to request that you remove all dependencies on sass. Our project doesn't use sass, and this is the only addon we use that does. Unfortunately, through no fault of your own, many of us get errors with node-sass and yarn.

This addon pulls in ember-cli-sass which pulls in broccoli-sass which pulls in node-sass. It's got *very* little sass i

[2017-06-19 20:34] juanazam opened #207 "Action bubbling in popovers not working correctly no acceptance tests"
Hi,

First of all, thanks for all the hard work put on this addon, it's great!

This issue is somehow related to #141.
I've built a dummy app using the latest version of the addon with just one component:

`app/components/my-component.js`
[code]

`app/templates/components/my-component.hbs`
[code]

The dummy component has an action that can will be called once the button within the popover is click

[2017-06-20 14:46] juanazam commented on #207
More information on this: The tooltip is rendered as child of the `body` tag and and the rootElement of the testing apps is '#ember-testing'. So the tooltip is not a child of the `rootElement` which prevents events from working.

[2017-06-20 15:22] juanazam commented on #207
Finally solved the issue, related to https://github.com/sir-dunxalot/ember-tooltips/pull/196

I installed the addon and `ember-tether` dependency was not being installed correctly because of the issue above. I ran `ember install ember-tether` and got 0.3.1 which doesn't allow configuration of the bodyElementId option for ember-tether, hence event bubbling was not working.

I proceeded to install e

[2017-06-20 15:22] #207 closed

[2017-06-30 17:20] tsteuwer opened #208 "DEPRECATION: Usage of `_actions` is deprecated, use `actions` instead."
[deprecation id: ember-runtime.action-handler-_actions]

Issue can be found at https://github.com/sir-dunxalot/ember-tooltips/blob/master/addon/components/lazy-render-wrapper.js#L290

With the call to `_actions` instead of `actions`.

[2017-06-30 17:21] tsteuwer commented on #208
I just saw you're doing this because you have to support 1.13. Never mind. Closing.

[2017-06-30 17:21] #208 closed

[2017-07-06 08:28] acgrama opened #209 "Tooltip does not appear on {{paper-select}} where no option has been selected yet"
As the title says, the tooltip does not appear on a {{paper-select}} component when no option has been selected yet.
I have tested this in both Chrome Version 59.0.3071.115 and Firefox 54.0 under Ubuntu 17.04, 64 bit.

Hovering on {{paper-select}} component, nothing selected yet -- no tooltip appears:
![paper-select not ok](https://user-images.githubusercontent.com/1415729/27901966-430a0bfa-6234-1

[2017-07-28 06:49] Blackening999 opened #212 "Upgrade to ember-cli-sass@^7.0.0 or to ember-cli-babel@^6.0.0"
This addon is outdated with the recent Ember versions

[code]

[code]

[2017-08-01 17:52] offirgolan commented on #201
Bump.

The solution mentioned by @nsmith7989 works but destroys the out animation of the tooltip / popover.

@sir-dunxalot with a lot of tooltips on multiple elements, hidden ones add extra whitespace to the end of the html body.

[2017-08-09 12:14] okachynskyy commented on #201
@offirgolan, Here is my solution (based on solution from @nsmith7989):
`
[aria-hidden=true] {
  position: absolute !important;
  transform: none !important;
  visibility: hidden;
}
`

This style just remove disappearing animation but it works for me since this animation is not necessary and this solution does not add any extra whitespaces and does not stretches body width.

[2017-08-18 15:24] FredUK opened #214 "2.9.0-beta-0 Could not find module `ember-tether/components/ember-tether` imported from `ember-tooltips/components/tether-tooltip-and-popover`"
After running ember install ember-tooltips it installed latest beta version however when using tooltip-on-element an exception is thrown:

```Could not find module `ember-tether/components/ember-tether` imported from `ember-tooltips/components/tether-tooltip-and-popover````

I have tried installing 2.8 and it complained about unmet dependency of ember-tether.

Not sure what I'm doing wrong but as

[2017-08-18 23:26] GCheung55 commented on #201
Is the position and transform being controlled by `ember-tether` or `tether`? I couldn't tell.

[2017-08-18 23:27] GCheung55 commented on #201
I'm seeing this as well with a lot of tooltips.

[2017-08-19 19:55] GCheung55 commented on #201
When I prevent the `stopTether` method from triggering `this.get('_tether').disable();` I cannot reproduce this issue. My understanding is that Tether.js will reposition on window resize, so I'm assuming disabling tether will prevent it from repositioning.

[2017-08-20 20:28] sir-dunxalot commented on #214
Fixed by #196.

[2017-08-20 20:28] #214 closed

[2017-08-20 20:29] sir-dunxalot commented on #165
Fixed by #196.

[2017-08-20 20:29] #165 closed

[2017-08-20 22:22] #212 closed

[2017-08-30 11:00] tibibud opened #217 "Ember 2.14 removeChild Error"
Hi,

first of all thanks for the amazing addon. It really helped in my current projects.

I do have an issue. Since upgrading to Ember 2.14 + Ember Tooltips 2.9.0 (latest), I consistently get this error when I stop hovering over the element (I use the blog version of {{#tooltip-on-element}})

    at clear (ember.debug.js:2002)
    at UpdatableBlockTracker.reset (ember.debug.js:3042)
    at TryOpco

[2017-08-30 11:30] tibibud commented on #217
There was template logic that was removing the tooltip and hence causing the error.

[2017-08-30 11:30] #217 closed

[2017-08-31 14:26] FredUK commented on #201
I'm experiencing the same issue.

A solution without messing with the CSS and aria-hidden attribute would be to when the tooltip disappears actually destroy its DOM element instead of just hiding it. (with LazyLoading set to true).

One could argue that's not efficient as we might have to generate an identical element every time you over the same tooltip trigger but the overhead is minimal I belie

[2017-09-04 09:02] mirague commented on #201
We, too, experience added whitespace at the bottom of our website after using this addon with a dozen or so tooltips. Will try out the CSS solution provided but ideally the elements are removed from the DOM when not visible, or at least (when idle) positioned in a place where they don't increase width or height of the document.

[2017-09-06 15:08] anehx opened #218 "Tooltip isn't repositioned when the target is"
If the target is repositioned by e.g getting filtered or whatever, the tooltip to it is not repositioned but just stays where it was before.

See [demo](https://ember-twiddle.com/ec74107b47f71140bd0a31d15706e3de).

[2017-09-27 18:36] corrspt commented on #204
Added ember-tooltips to the project and it worked great (version 2.9.0) but also hit this situation :)

In any case, it's a great library.

[2017-09-29 02:59] sir-dunxalot commented on #204
Sounds like this issue is still persisting. I will do my best to look into it soon but will happily accept a PR and can provide assistance for anyone willing to dig into this issue (even if the goal is providing this thread with debug info).

[2017-09-29 11:55] corrspt commented on #204
Hi @sir-dunxalot thanks for pitching in on this subject.

I'm definitely not an expert on IOS/Mobile Safari but what I *think* is happening is that IOS Safari is triggering NOT the "hide" event (being it the focus/mouseleave/etc...)

I've found a similar problems in other tooltip libraries ([jqueryUI tooltip](https://jqueryui.com/tooltip/), [hint.css](http://kushagragour.in/lab/hint/) and not surp

[2017-09-29 12:29] sir-dunxalot commented on #204
You the man @corrspt! Thanks for the quick turnaround. From your info it sounds like this should be debuggable using a local build of the library and Safari Dev Tools. I will add this to my list to attempt for fix but since that is a long list of todos of course a PR or more help is welcome. I will keep this thread up-to-date either way.

[2017-09-29 18:09] corrspt commented on #204
Thanks for the kind words @sir-dunxalot.

I did an experiment and I can reproduce/debug the issue with a local copy of the repository and the iPhone/iPad Simulator + Safari Devtools.

I tried out the solution that I mentioned from the bootstrap repository (in a very quick and dirty way). And it seems to work out, this is what I [committed to a fork of mine](https://github.com/corrspt/ember-tooltip

[2017-10-04 04:03] sir-dunxalot opened #221 "Remove Tether"
Tether has become more of a detriment than an aid to this library. Furthermore, the developers of Tether have stopped actively maintaining the project. As such, we should remove Tether as a dependency and find a more reliable way to position tooltips.

I have begun work to remove Tether and replace it with popper.js/tooltip.js [on this branch](https://github.com/sir-dunxalot/ember-tooltips/tree/re

[2017-10-17 18:47] kybishop commented on #221
@sir-dunxalot you might want to consider looking into https://github.com/kybishop/ember-popper. Also, It's my understanding that tooltip.js is more of a showcase for popper.js than a full-fledged effort, but that's not to say it won't do what is needed!

For comparison, ember-attacher was developed as an ember-first impl of tippy.js, which uses popper.js for positioning. Might be more worth basing

[2017-10-17 19:31] sir-dunxalot commented on #221
Thanks for the tips @kybishop (no pun intended)! I had a read through your ember-popper library a little while back - good stuff!

The latest iteration of a 'tetherless' implementation of this library uses `popper.js` and `ember-wormhole` alongside the existing events for hiding and showing tooltips. Luckily, event management has always been a strong part of this library and the positioning has be

[2017-10-22 15:15] claudioc commented on #205
Hi,

any plan to release this "fix" any time soon? Maybe in beta.1?

Thanks! :)

[2017-11-01 15:05] thilo-cts commented on #192
Any update on this?

[2017-11-29 09:59] BillyRayPreachersSon opened #223 "Error in 3.0.0-beta.x code example for isShown option (and some other typos)"
The comment in the code example in the `3.0.0-beta.x` documentation for [`isShown`](https://github.com/sir-dunxalot/ember-tooltips/tree/remove-tether-dependency#is-shown) states that the tooltip will be bound to the `showTooltip` property, and yet the actual code just passes the value `true`:
[code]

I'm guessing the second line should read:
[code]

**Update 1:** I've just spotted a typo elsewhere

[2017-11-29 11:13] BillyRayPreachersSon opened #224 "With the 3.0.0-beta.x code, the text attribute is ignored if the parent has a title attribute"
It seems that if the parent of the tooltip has a `title` attribute, the `text` attribute is completely ignored.

Consider the following code:
[code]
When hovering over the copy button, I want to show a default tooltip (using the `title` attribute). Once the button is pressed, and only if the copy was successful, I want to show a "Copied!" tooltip.

However, with the code above, on a successful cop

[2017-11-29 11:16] BillyRayPreachersSon opened #225 "With the 3.0.0-beta.x code, can the text attribute be made dynamic, so changes to it are reflected in the tooltip?"
If the text attribute of a tooltip is passed from a property, the tooltip will correctly show the value of that property.

However, if the property value is updated before the tooltip is shown, the old value will show.

Would it be possible to change this behaviour?

My use case: I want to show a tooltip on a success or error scenario, with different text for each. With the current implementation,

[2017-12-04 13:59] chrism opened #226 "Sourcemap warnings"
I'm using the 3.0.0.beta-2 version and get these warnings whenever I start the server:

[code]

Is there a way to suppress/remove them?

Thanks—and thanks for the great library.

[2017-12-18 20:32] alvincrespo commented on #225
@sir-dunxalot Any way I can help with making this happen?

It looks like we only create the tooltip once:

https://github.com/sir-dunxalot/ember-tooltips/blob/3.0.0-beta.2/addon/components/ember-tooltip-base.js#L303

https://github.com/sir-dunxalot/ember-tooltips/blob/3.0.0-beta.2/addon/components/ember-tooltip-base.js#L164

Upon `didInsertElement`. Looks like we should destroy the tooltip and rec

[2017-12-18 20:53] alvincrespo commented on #225
Cloned the repo and checked out the 3.0.0-beta.2 tag and wasn't able to get the dummy app working:

![](https://ac-screenshots.s3.amazonaws.com/not-working.gif)

My environment:

[code]

[2017-12-18 20:59] alvincrespo commented on #225
I also changed my env to 7.0.0 and got the same after reinstalling assets:

[code]

[2017-12-19 08:18] netes opened #230 "[3.0.0] Tooltip content is not wormholed on ember-wormhole 0.5.4"
Hi,
After updating to ember-wormhole 0.5.4 tooltip content is not properly wormholed - it shows just under the trigger element, not in the wormhole container. It seems that this is related PR:
https://github.com/yapplabs/ember-wormhole/pull/101

Regards!

[2017-12-24 02:54] jamesdixon commented on #91
@sir-dunxalot is this now possible again with the 3.x branch?

[2017-12-24 22:47] jamesdixon commented on #230
@netes I'm on wormhole 0.5.2 and I'm not seeing the tooltips wormholed either; they are being rendered next to the trigger as you described. What version were you on previous to upgrading?

[2017-12-25 09:32] netes commented on #230
@jamesdixon on 0.5.3 everything is fine.

[2018-01-03 18:44] erichonkanen opened #231 "[3.0 beta] Uncaught TypeError: Cannot read property 'popper' of undefined"
Just upgraded to 3.0 beta and seeing this error
`Uncaught TypeError: Cannot read property 'popper' of undefined `

[code]

[2018-01-08 14:33] sir-dunxalot commented on #91
Hi James,

Unfortunately, this util does not exist in the 3.x branch. However, it is functionality we may be able to support again in the future. Is your request still related to the FullCalendar use case?

[2018-01-08 17:07] cartfisk opened #232 "Any time estimate for official 3.0 release?"
And if not, is there a shortlist of what to look out for on 3.0-beta2 vs. 2.9.2?

[2018-01-08 17:21] #232 closed

[2018-01-09 03:17] jamesdixon commented on #91
@sir-dunxalot correct! For now, I'm just manually instantiating the tooltip given that the Popper library is already loaded. Thanks!

[2018-01-09 17:18] knownasilya opened #233 "Add to popper.js mentions page once 3.0 is released"
https://github.com/FezVrasta/popper.js/blob/master/MENTIONS.md

[2018-01-10 07:30] janmisek commented on #231
For me this is happening when delay is enabled.

[2018-01-17 16:29] BillyRayPreachersSon opened #236 "With the 3.0.0-beta.x code, page scrolling FPS slows down after hiding tooltip (60 goes down to 30 at best, 15 at worst)"
We'e got a page where the tooltip is shown based on a dynamic property, and hidden 1.5 seconds later using an `Ember.later` call.

To get a baseline for scrolling FPS without the tooltip, I refresh the page, start Chrome's profiling tools, and scroll up and down continuously (using the mouse wheel) for 5 seconds before stopping the profiler. This way, I get a consistent 57-60 FPS the whole time.

[2018-01-24 16:33] lan0 commented on #236
Does https://github.com/sir-dunxalot/ember-tooltips/pull/235 fix your problem?

[2018-02-05 18:48] ADTC commented on #76
Is there a way to disable requesting source map? This was ignored in our project until we applied [this fix to make sure we don't get an error upon refreshing page](https://stackoverflow.com/questions/43851499). However, this caused the project to have critical problems because of the 404 on CSS source map file - now the 404 instead of sending 404 error, redirects to the index page, which causes t

[2018-02-09 16:25] mirague commented on #201
@sir-dunxalot What's your thoughts on this issue?

[2018-02-09 16:29] mirague opened #237 "`keepInWindow: true` should ensure the tooltip is always visible"
Given a tooltip that is rendered above or below an element close to the edge of the window, the tooltip should position itself smartly so that the content can be read.

This is the current behaviour:

<img width="195" alt="screen shot 2018-02-09 at 17 26 18" src="https://user-images.githubusercontent.com/178117/36037994-9a34b3b8-0dbe-11e8-9cea-3b75dcc08cab.png">

Code:
[code]

Ideally the arrow sh

[2018-02-09 18:34] andreafrost commented on #237
@mirague Try adding `setPin: true`.  I have a PR open for this change here:
https://github.com/sir-dunxalot/ember-tooltips/pull/220

If this ends up working for you, please thumbs up my PR to help convince @sir-dunxalot that it's worth merging in :)

[2018-02-13 11:03] mirague commented on #237
It would seem likely that #220 addresses this issue. Thanks @andreafrost!

[2018-02-20 11:10] vastan opened #238 "Uncaught TypeError: Cannot read property 'length' of null"
The error from title appears when I'm trying to add 2 elements that contain tooltips after another ember addon called ember-line-clamp. The error is shown only on multiple elements after the line-clamp addon. It seems to work just fine with only one element to contain the tooltip.

Version 3.0.0 beta 2

Here you can find an example: https://github.com/mihnea-baia/test-ember-tooltips

[2018-02-21 11:12] alvinvogelzang opened #241 "Add tooltipIsVisible option to the docs"
## Description
I was looking for a way to always show the tooltip, so it should not relay on an event. Setting the `tooltipIsVisible` to true fixes it's but is not in the documentation. Is this intentional and do you want the `tooltipIsVisible` to be an internal option or can we add it to the docs? If so, I can make a PR.

### TL;DR - My use case
Show the tooltip immediately when my text input val

[2018-02-21 14:17] alvinvogelzang commented on #241
Nevermind. I see I can use isShown for this. Closing this

[2018-02-21 14:17] #241 closed

[2018-02-27 07:33] andrewfan opened #242 "3.0.0-beta.2 does not work with 3.0.0+"
I tried both popovers and tooltips and they do not render block content
[code]
the code above renders only
[code]

[2018-03-02 20:45] nicksteffens commented on #231
This happens when we have an `esc` keyBinding on `ember-modal-dialog` is pressed. Regardless if the tooltip is on the page components or not.

[2018-03-02 20:59] erichonkanen commented on #231
closing since I'm not working on this atm..

[2018-03-02 20:59] #231 closed

[2018-03-05 00:16] erichonkanen commented on #242
is anyone still working on this lib? looks like there hasn't been a commit since October and the 3.0 branch is buggy.. I just installed and it didn't install wormhole

[2018-03-22 11:47] BillyRayPreachersSon commented on #236
Sorry for the delay in replying - we ended up removing `ember-tooltips` and just rolling our own, as we only needed very basic functionality.

[2018-03-30 19:34] sir-dunxalot commented on #242
Yes, I'm working on the 3.0.0 branch - development has just been very slow recently due to personal time constraints. I am working with others to bring a more active maintainer to push through some of the issues we're all experiencing.

[2018-04-05 07:40] tomasz-szymanek opened #243 "File not found: \addon.sass Build Error"
https://github.com/aexmachina/ember-cli-sass#alternative-addon-usage

Lack of obeying this advice is causing my addon to fail after installing ember-tooltips.
Can I ask you to move styles to appropriate place?

[2018-04-06 15:04] lamabiker commented on #243
I have the same issue @tomasz-szymanek, my app will build as soon as I change a file though.

[2018-04-13 07:09] tomasz-szymanek commented on #243
@lamabiker And how did you changed this? Can you provide detailed info, please? It would be really helpful for me.

[2018-04-16 08:28] lamabiker commented on #243
I didn't solve it, I downgraded version to 2.9.0-beta.0

[2018-04-24 13:37] chrcha commented on #111
Hey, running 2.9.2 this happens to me as well. Not sure why, but some times and for some of the tooltips(-on-element) the display is absolute instead of fixed which results in what the title says. The suggested patch (aka. forcing display: fixed) corrects that behavior. I cannot reproduce the bug consistently; haven't figured out the pattern yet. Thought I'd just let you know it's still there...

[2018-04-24 14:58] Dan-Ste commented on #243
Maybe your problem related to this one
https://github.com/aexmachina/ember-cli-sass/issues/133
I used sass for the `app` styles file. The issue was resolved when I change it to scss.

[2018-04-25 14:12] lamabiker commented on #243
It looks like moving the `ember-cli-sass` from `dependencies` to the `devDependencies` could be a nudge in the right direction. Currently working on a fork

[2018-04-26 10:27] lamabiker commented on #243
@tomasz-szymanek please ignore my previous comment, the solution is for there to be both a `addon/styles/addon.scss` and a `addon/styles/addon.sass` :)

[2018-05-03 00:29] jamesarosen opened #247 "v2.9.2 broken on ember-beta"
Whenever I use a `tooltip-on-component`, I get

from [TooltipOnComponent#willDestroy](https://github.com/sir-dunxalot/ember-tooltips/blob/2.9.2/addon/components/tether-tooltip-and-popover.js#L516-L518)

[2018-05-07 08:14] tomasz-szymanek opened #248 "Usage of `_actions` is deprecated"
`DEPRECATION: Usage of `_actions` is deprecated, use `actions` instead. [deprecation id: ember-runtime.action-handler-_actions]
`
while clicking on <a href {{action popover.hide}}> in popover

[2018-05-08 17:55] olegdovger opened #249 "_didUpdateTimeoutLength in case of Ember.testing === true"
https://github.com/sir-dunxalot/ember-tooltips/blob/b87eab25dc41cf5ffd235fb17133ffd97b40d598/app/components/tooltip-on-element.js#L4

How about this?

[code]

[2018-06-01 16:28] allthesignals commented on #226
I'm seeing this too - we are also seeing `Cannot read property 'popper' of undefined`. For context, we are including this as a dependency in an addon. cc @andycochran

[2018-06-01 17:23] allthesignals opened #251 "Expand push access to others?"
@sir-dunxalot is it possible to grant push access to others? I know you are probably very busy, but I'd hate to have to depend on a random fork for a small fix. Thank you! :)

[2018-06-19 20:51] rodrigoyoshida opened #252 "Deprecation warnings on 2.9.2"
I am getting deprecation warnings when using this addon on 2.9.2 version. It says that the dependencies ember-hash-helper-polyfill and ember-tether need to be upgraded to at least ember-cli-babel 6.6.

[2018-06-20 11:53] BnitoBzh opened #253 "Some troubles found in version 3.0.0-beta-2"
In this file : https://github.com/sir-dunxalot/ember-tooltips/blob/3.0.0-beta.2/addon/components/ember-tooltip-base.js

- `capitalize` method fails with placement variants (-start, -end) because getOppositeSide method does not handle these cases.
I think getOppositeSide method must be like this :
[code]

- At line 361, i think there is double call from the tooltip show method. `tooltip.show();` is

[2018-07-02 17:01] thec0keman opened #254 "3.0.0-beta.2 and Engines"
Using 3.0.0-beta.2 and Ember Engines, and [this](https://github.com/sir-dunxalot/ember-tooltips/blob/3.0.0-beta.2/addon/components/ember-tooltip-base.js#L299) lookup to config is failing inside an engine.

In my experience, looking things up inside an engine isn't as reliable as inside an app normally.  I'd suggest migrating to [ember-get-config](https://github.com/patience-tema-baron/ember-get-co

[2018-07-12 17:20] mmadsen2 commented on #247
I'm not sure if this is the best fix for this, but I was able to resolve this problem by changing `onDestroy` to `onDestroyElement` in tether-tooltip-and-popover.js.

[2018-07-18 20:14] alexlafroscia commented on #251
I'd love to see this expanded too -- I've been banking on my fork for quite some time that improves integration with the run-loop.

[2018-07-19 22:38] Matt-Jensen opened #259 "Bug: Ember Wormhole Is A Dev Dependency (3.0.0-beta.2)"
Ember wormhole is a development dependency and is not installed in host application

[2018-07-27 17:22] ivanvanderbyl commented on #236
I can confirm that #235 fixes the problem, please merge.

[2018-07-31 19:44] sir-dunxalot opened #261 "❗❗Co-maintainer wanted ❗❗"
I am looking for a co-maintainer to help improve the 2.x branch and assist in bringing 3.x out of beta. If you're interested, please email [duncangrahamwalker@gmail.com](mailto:duncangrahamwalker@gmail.com) with a quick hello.

Together, we can swiftly revitalize this addon and deliver a great major update to the Ember community and hundreds of apps that use this addon.

[2018-07-31 19:47] sir-dunxalot commented on #251
Hi there, I appreciate the nudge. I just opened #261  and am actively looking for a co-maintainer in order to keep this addon up-to-date.

[2018-07-31 19:47] #251 closed

[2018-08-02 18:47] mattmarcum commented on #253
👍 The `this.sendAction('onDestroy', this);` is a deal breaker, I can't upgrade if I can't get tests to pass.

[2018-08-03 22:23] theseyi opened #262 "3.0.0-beta.2: ember-tooltip-base.js:486 Uncaught TypeError: _tooltip.show is not a function"
Attempting to render an ember-tooltip instance in a native HTML element creates the following errors
- ember-tooltip-base.js:486 Uncaught TypeError: _tooltip.show is not a function

- Uncaught TypeError: Cannot read property 'popper' of undefined

[code]

[2018-08-13 19:44] TheJosephBarnes opened #263 "Rendering issues in Safari Tech Preview (Safari 12.1, WebKit 13607.1.1)"
A bug where moving over tooltip elements too quickly causes the tooltip to become stuck (the `aria-hidden` flag no longer applies changes properly). Bug does not appear to exist in current Safari (or other browsers).

Example from the demo page, viewed in Safari Tech Preview -
<img width="379" alt="image" src="https://user-images.githubusercontent.com/10977795/44054090-a515d824-9f0f-11e8-9f07-ee90

[2018-08-23 03:47] maxfierke commented on #237
Closing in favor of #220. Thanks @mirague !

[2018-08-23 03:47] #237 closed

[2018-08-23 06:15] #72 closed

[2018-08-23 21:33] sir-dunxalot commented on #251
Hi gents, @maxfierke is up-and-running as a co-maintainer of this project so you should see better stewardship moving forwards. :)

[2018-08-23 21:35] sir-dunxalot commented on #261
Please welcome @maxfierke to the project! Thank you to everyone else who reached out.

Max and I will continue to monitor the workload in case it is worth having an additional maintainer.

[2018-08-23 21:35] #261 closed

[2018-08-25 16:52] maxfierke commented on #247
This is now fixed in master. Will be in 2.10.0 release. Thanks for the report!

[2018-08-25 16:52] #247 closed

[2018-08-25 16:53] maxfierke commented on #248
This is now fixed in master. Will be released in 2.10.0. Thanks for the report!

[2018-08-25 16:53] #248 closed

[2018-08-25 16:58] maxfierke commented on #252
Hi @rodrigoyoshida! This is now fixed in master and will be in the 2.10.0 release. Thanks for the report!

[2018-08-25 16:58] #252 closed

[2018-09-11 02:40] maxfierke commented on #205
@xdumaine @claudioc this is now done in 2.11.0 (and will apply to the next 3.0.0 release, as well)

[2018-09-11 02:40] #205 closed

[2018-09-11 02:40] maxfierke commented on #243
Closing, as of 2.11.0 ember-tooltips no longer uses SASS/SCSS

[2018-09-11 02:40] #243 closed

[2018-09-12 16:33] knownasilya commented on #242
Looks like this error shows up:

The culprit is https://github.com/sir-dunxalot/ember-tooltips/blob/remove-tether-dependency/addon/components/ember-tooltip-base.js#L134

I'm using Ember 3.4.1

[2018-09-13 01:41] maxfierke commented on #242
Both of these issues are fixed in `remove-tether-dependency` now, and will be in 3.0.0-beta.3.

[2018-09-21 05:44] sir-dunxalot opened #270 "Document findTooltip() and findTooltipTarget()"
`findTooltip()` and `findTooltipTarget()` are two very useful test helpers. We should document them once Ember 3 test syntax is merged (#269) since they're already public but not documented.

[2018-09-21 20:02] sir-dunxalot opened #271 "3.x does not support FastBoot"
It would be great for this addon to work out-of-the-box with Ember Fastboot ([see examples of potential changes here](https://www.ember-fastboot.com/docs/addon-author-guide))

Ideally, this support will exist for the `3.0.0` branch. #239 and #229 may not be merged before `3.0.0` is released and, therefore, run the risk of being closed.

[2018-09-21 22:44] maxfierke commented on #226
This is fixed in 3.0.0-beta.3. Thanks for the report!

[2018-09-21 22:44] #226 closed

[2018-09-21 22:45] maxfierke commented on #259
This is fixed in 3.0.0-beta.3. Thanks for the report!

[2018-09-21 22:45] #259 closed

[2018-09-21 22:46] maxfierke commented on #242
This is fixed in 3.0.0-beta.3. Thanks!

[2018-09-21 22:46] #242 closed

[2018-09-21 22:48] maxfierke commented on #230
This is fixed via a workaround in 3.0.0-beta.3. Thanks for your report!

[2018-09-21 22:48] #230 closed

[2018-09-22 03:39] maxfierke commented on #236
The slowdown/100% CPU issue should be fixed in 3.0.0-beta.3, though I've observed that sometimes the framerate will still dip in some cases. I'll keep looking into that.

[2018-09-22 17:40] maxfierke opened #273 "3.0.0-beta.3: Infinite render invalidation detected"
Upon leaving a route with various tooltips, this error was thrown when running tooltip's `dispose` in a runloop on `willDestroyElement`

Stacktrace:
[code]

Ember version: 2.18.2
ember-tooltips version: 3.0.0-beta.3

[2018-09-22 18:51] maxfierke commented on #273
@sir-dunxalot this one is definitely a release-blocker for 3.0.0

[2018-09-22 18:56] maxfierke commented on #263
@TheJosephBarnes I wasn't able to reproduce this on Safari 12.0 release, so I'm going to assume it was a bug only present in the TP, which was fixed.

Feel free to re-open if you notice it happening again on the release version!

[2018-09-22 18:56] #263 closed

[2018-09-23 16:09] maxfierke commented on #122
Addressed in 2.11.1.

[2018-09-23 16:09] #122 closed

[2018-09-24 16:34] backspace commented on #273
I’m trying out the beta with `travis-web`, which is on Ember 3.4, and we’re getting that error too, in [our tests](https://travis-ci.org/travis-ci/travis-web/builds/432552928#L621). 😯

[2018-09-24 16:54] backspace opened #275 "3.0.0-beta.3: some tooltips don’t render or render strangely"
Hey all, thanks for the renewed push of work on this addon, it’s quite useful for us in `travis-web`! I was trying out the new beta as suggested in Discord and I found at least one set of tooltips that doesn’t render at all, or occasionally renders in a distorted fashion, maybe related to proximity to the viewport edge. An example, which you can try out [here](https://bd-tooltips-3.test-deployment

[2018-09-24 17:16] maxfierke commented on #275
Hi @backspace, thanks for the report! My first blink is that it might be the same issue or related issue to #225. I'm going to take a look at fixing that tonight, so hopefully I'll know more then!

[2018-09-25 17:46] backspace commented on #275
oh wow, thanks for figuring that out, I’m sorry to have misdirected responsibility! 😳

[2018-09-25 17:46] #275 closed

[2018-09-25 17:49] maxfierke commented on #275
All good! We'll be sure to document the CSS changes & potential gotchas when writing up the 2.x to 3.x migration docs.

[2018-09-26 19:11] BonBonSlick commented on #204
Still exists on iOS for BS 3

[2018-09-27 18:51] shanicem opened #277 "Popper.js sourcemap error on 3.0.0-beta.3"
I'm trying to upgrade to the 3.0.0-beta.3 version but I get this error when I try to start the server:

`ENOENT: no such file or directory, open '/Users/username/project-name/tmp/source_map_concat-input_base_path-N0GNP8fr.tmp/vendor/popper/popper.js'`

It seems similar to issue #226

Is this still a known issue?

[2018-09-27 19:16] maxfierke commented on #277
@shanicem Thanks for the report! This instance seems a little different, since it can't seem to find `popper.js` rather than `popper.js.map`. Could you post which version of ember-cli you're using and which version of `popper.js` npm has installed? (I think `npm list popper.js` should show the version)

[2018-09-27 20:08] shanicem commented on #277
@maxfierke thanks for the quick reply! we're using `popper.js@1.14.4` and `ember-cli@3.3.0`

[2018-09-28 02:51] maxfierke commented on #277
@shanicem Unfortunately, I was unable to reproduce this with a newly generated ember 3.3 app, which suggests to me that this might be environmental. I'd suggest clearing `node_modules`, `tmp` and `dist`, and doing an `npm install` from scratch to see if that fixes it.

If you're still seeing the error after that, I'd be curious about what other addons your app is using. Perhaps there's a conflict

[2018-09-28 21:28] transitorytammy opened #279 "Tooltip hidden when inside a container with overflow: auto"
For embertooltips 3.0, since the tooltip is now a sibling to the element, there is an issue when a parent container has `overflow: auto/scroll`, the tooltip sometimes gets cut off.

<img width="385" alt="screen shot 2018-09-28 at 2 24 51 pm" src="https://user-images.githubusercontent.com/1967604/46234316-bbb45300-c32a-11e8-9ec1-ca1db230d90d.png">

Is there an option to show the tooltip in this sce

[2018-09-28 21:47] maxfierke commented on #279
@transitorytammy you may want to experiment with passing a `targetId` to `{{ember-tooltip}}`, which will allow you to target a different parent element

Let me know if that works for your use case, as this came up with the travis-ci folks recently too, so it might be good for us to document in the coming upgrade documentation!

[2018-09-28 23:31] transitorytammy commented on #279
hey @maxfierke!  I did try doing that but it doesn't work in my case.  It might be because there are a few levels of divs between the parent with the `overflow-y: auto` and where the tooltip is.

[2018-09-29 14:52] maxfierke commented on #279
Interesting... would you be able to put together a small example that reproduces your use case's DOM structure? (doesn't need to be a live example, just a snippet that I could use to write a test or build out a new ember app with to play around)

[2018-09-29 16:59] maxfierke commented on #225
Fixed in `3.0.0-beta.4`

[2018-09-29 16:59] #225 closed

[2018-09-29 16:59] maxfierke commented on #273
Fixed in `3.0.0-beta.4`

[2018-09-29 16:59] #273 closed

[2018-09-29 17:00] maxfierke commented on #236
More robustly addressed in `3.0.0-beta.4`, but potentially some mor e optimizations possible (should maintain ~60fps when scrolling though)

[2018-09-29 17:03] maxfierke commented on #253
The bottom three have been addressed as of 3.0.0-beta.3.

[2018-10-01 18:16] transitorytammy commented on #279
So, the DOM structure is basically like this.

[code]

and `.outerContainer` has `overflow-y: auto` on it that is causing the issues for me.

[2018-10-01 21:06] shanicem commented on #277
@maxfierke Thanks for your response. We tried what you suggested above, as well as upgrading to beta.4, but still getting the same issue. We're just going to move to 2.11.1 for now which is working for us. Thanks again for all your help!

[2018-10-04 02:41] maxfierke commented on #279
@transitorytammy I played around with this a bit. It seems to work as expected if `position` is unset or `static`, but if `.outerContainer` is `position: relative` or `position: absolute` it exhibits this behavior. Is `.outerContainer` or another parent of the tooltip positioned this way by any chance?

If so, I was able to resolve that behavior by removing the `preventOverflow` option we pass int

[2018-10-04 04:31] sir-dunxalot commented on #279
Adding a `popperOptions` property seems like a natural progression towards customization without introducing much complexity. So I'm for that addition. We should consider whether passing `popperOptions` will overwrite the whole default object or merge the passed object and our default object. I lean towards the latter since our defaults are simple and easy to overwrite:

https://github.com/sir-dun

[2018-10-04 04:36] sir-dunxalot opened #281 "3.x does not support placement variants"
`popper.js` lets us specify variants of the `placement` property. For example, `bottom-start` and `bottom-end` instead of just `bottom`. [Placement variants are documented in Popper.js docs here](https://popper.js.org/popper-documentation.html#Popper.placements).

`3.x` currently does not support placement variants. However, it should because we want to maintain parity with all `popper.js` feature

[2018-10-04 04:37] sir-dunxalot commented on #253
I have created #281 to track the first bullet (placement variants) since that may not be fixed until `3.0.0` is released.

[2018-10-04 04:40] sir-dunxalot commented on #233
Great idea! Will make sure this happens.

[2018-10-04 14:36] maxfierke commented on #254
@thec0keman If you're still up for it, I'd be very open to a PR for using `ember-get-config`!

[2018-10-04 14:44] maxfierke commented on #223
Addressed in 3.0.0-beta.4

[2018-10-04 14:44] #223 closed

[2018-10-04 14:45] maxfierke commented on #236
I'm going to close this, because I think this is pretty well addressed in 3.0.0-beta.4, but feel free to ping me to re-open if this is still a problem.

[2018-10-04 14:45] #236 closed

[2018-10-04 14:47] maxfierke commented on #262
@theseyi I haven't been able to re-produce this on 3.0.0-beta.4. Could you try out 3.0.0-beta.4 with your use case and let us know if you're still seeing this issue?

[2018-10-05 04:26] sir-dunxalot opened #284 "Provide a way to disable tooltips"
Per #198, it could be useful to have a way to enable and disable tooltips and popovers.

[2018-10-07 01:48] sir-dunxalot commented on #254
This is now fixed on the `3.x` branch, which will soon be merged into master.

[2018-10-07 01:49] sir-dunxalot commented on #249
This is fixed by #283, which is on the `3.x` branch, soon to be merged into `master`.

[2018-10-07 01:57] sir-dunxalot commented on #238
Thank you for the code! Very helpful. I can confirm I am seeing the error when I run mihnea-baia/test-ember-tooltips locally and the error is gone when removing either the `{{line-clamp}}` component or the `{{ember-tooltip}}` component.

I will investigate the source of the error and report back, hopefully with a PR that fixes this!

[2018-10-07 04:41] sir-dunxalot commented on #238
This issue has been fixed and is not present with the latest ember-tooltips prerelease, `3.0.0-beta.4`, which you can install using `ember install ember-tooltips@3.0.0-beta.4`.

To be honest, I don't know exactly what fixed this issue and, since everything is green in the latest release, I didn't dig in any further. #286 adds a test to monitor future compatibility with `ember-line-clamp`.

[2018-10-07 04:47] sir-dunxalot commented on #277
@shanicem This seems like a rare but serious error. Even though `2.11.1` is working for you, it would be very helpful if you could provide some information that @maxfierke or I can use to debug this issue.

Are you able to share your `config/environment.js` and  `ember-cli-build.js` files? Alternatively, if you are able to give access to a repo that has a branch demonstrating this issue, we can lo

[2018-10-08 03:01] sir-dunxalot opened #288 "Replace package-lock.json with yarn.lock"
We should replace `package-lock.json` with `yarn.lock` and switch to using `yarn` to install dependencies. This requires an update to the development documentation wherever `npm install` is mentioned.

[2018-10-09 03:52] sir-dunxalot commented on #262
@theseyi Try updating to the latest beta release:

`npm install --save-dev ember-tooltips@3.0.0-beta.5`

If that doesn't fix the issue, we can reopen this.

[2018-10-09 03:52] #262 closed

[2018-10-09 04:14] maxfierke commented on #279
@transitorytammy 3.0.0-beta.5 adds support for passing `popperOptions`. I think something like this should fix the behavior you're seeing:

`{{ember-tooltips text=tooltipText popperOptions=popperOptions}}`

where `popperOptions` is set to something like this:

[code]

[2018-10-09 04:16] maxfierke commented on #275
@backspace 3.0.0-beta.5 (now latest) adds support for passing `popperOptions`. I think something like this _may_ fix the behavior you're seeing without needing a CSS workaround:

`{{ember-tooltips text=tooltipText popperOptions=popperOptions}}`

where `popperOptions` is set to something like this:

[code]

[2018-10-09 04:18] #69 closed

[2018-10-10 00:46] dguettler commented on #224
@sir-dunxalot could this be related to what I see here
[code]
This renders all needed elements (as far as I can tell), but on hover the tooltip is empty instead of showing "Contact"

ember-tooltips: 3.0.0-beta.5
Ember: 3.4.1

Thanks, Daniel

[2018-10-10 00:53] dguettler commented on #224
In case it's of any help. Here the rendered html:
[code]

[2018-10-10 01:05] sir-dunxalot commented on #224
Thanks for the info, @dguettler. I will look into this regression.

[2018-10-12 03:30] sir-dunxalot opened #292 "Remove .bowerrc"
Bower is not used in `3.x` so we do not need the `.bowerrc` file.

[2018-10-15 16:57] basicBrogrammer opened #295 "isShown cannot be used to hide() popover"
When isShown changes to true, the popover displays.
When isShown changes back to false, hide() doesn't dismiss the popover.

Do we know why this line of code was added?
https://github.com/sir-dunxalot/ember-tooltips/blob/3.x/addon/components/ember-popover.js#L99
hide() is essentially a noop when isShown === false

[2018-10-16 18:18] backspace commented on #275
Thanks for the tip! I actually wasn’t able to figure out a good CSS fix for this as there’s some weirdness to add fading for very long strings, so I hope to find another way.

I tried this locally with beta 5 and it didn’t seem to help; I can only see a hint of the tooltip while scrolling:

![tooltip-overflow](https://user-images.githubusercontent.com/43280/47037764-7030e000-d145-11e8-9c81-70c2f18

[2018-10-16 21:12] sir-dunxalot commented on #295
The app in question is using ember-tooltips `3.0.0.beta-5`.

This will need to be further investigated since [the test suite is currently passing with this case](https://github.com/sir-dunxalot/ember-tooltips/blob/3.x/tests/integration/components/is-shown-test.js#L23-L27).

[2018-10-17 17:10] sir-dunxalot commented on #295
This issue is specific to `{{ember-popover}}` and doesn't exist for `{{ember-tooltip}}`. We will need to replicate the [`isShown` test](https://github.com/sir-dunxalot/ember-tooltips/blob/3.x/tests/integration/components/is-shown-test.js#L23-L27) for popovers to protect against this case.

[2018-10-18 17:07] basicBrogrammer commented on #295
The `ember-tooltip` component works fine (above test example from @sir-dunxalot ).
The `ember-popover` component doesn't hide when isShown === false. See https://github.com/sir-dunxalot/ember-tooltips/blob/3.x/addon/components/ember-popover.js#L99

[2018-10-19 22:43] shanicem commented on #277
@sir-dunxalot Unfortunately I can't share them publicly. Would it be possible to send them to you in an e-mail?

[2018-10-22 20:21] sir-dunxalot commented on #277
@shanicem, yes of course. I just sent you an email that you can respond to.

[2018-10-23 13:30] #254 closed

[2018-10-23 13:30] #249 closed

[2018-10-23 13:30] #224 closed

[2018-10-23 13:30] #292 closed

[2018-10-23 13:30] #295 closed

[2018-10-23 13:31] sir-dunxalot commented on #281
Fixed by #272.

[2018-10-23 13:31] #281 closed

[2018-10-23 13:32] sir-dunxalot commented on #271
Fixed by #272.

[2018-10-23 13:32] #271 closed

[2018-10-23 13:32] sir-dunxalot commented on #221
Fixed by #272. 🎉🍾🥂

[2018-10-23 13:32] #221 closed

[2018-10-23 13:33] sir-dunxalot commented on #253
Fixed by #272.

[2018-10-23 13:33] #253 closed

[2018-10-23 13:35] sir-dunxalot commented on #279
Given @maxfierke's workaround, this is fixed by #272.

[2018-10-23 13:35] #279 closed

[2018-10-23 13:39] sir-dunxalot opened #297 "Highlight all code in README"
In the README, some code highlighting is broken:

![image](https://user-images.githubusercontent.com/4495352/47364462-45103880-d6d1-11e8-8262-43446f84f164.png)

We should make sure the code above is highlighted to improve readability and user ease.

[2018-10-23 13:42] sir-dunxalot opened #298 "Standardize documentation of targetId"
All options are documented in a list in the README. However, target is missing from that list and is, instead, in a separate paragraph:

![image](https://user-images.githubusercontent.com/4495352/47364609-aafcc000-d6d1-11e8-9df1-a800798692cb.png)

This might be a bit confusing to readers. We should document `targetId` just like every other option, in [the options list](https://github.com/sir-dunxa

[2018-10-23 13:46] sir-dunxalot opened #299 "Fix options table formatting"
Each [option](https://github.com/sir-dunxalot/ember-tooltips#options) has some properties documented in a table in the README:

![image](https://user-images.githubusercontent.com/4495352/47364821-1b0b4600-d6d2-11e8-8d67-cfb2e715a293.png)

As you can see from that screenshot, the top row is bolded, despite the 'heading' being the first cell in each row. We should fix the formatting or transpose the

[2018-10-23 13:48] sir-dunxalot opened #300 "Remove HBS comment from JS example"
In the README, there is an [example of how to set default tooltip options](https://github.com/sir-dunxalot/ember-tooltips#setting-defaults):

![image](https://user-images.githubusercontent.com/4495352/47365003-8e14bc80-d6d2-11e8-8c47-463a2849553e.png)

Whilst the code example is in JS, the code comment noting the file name is a Handlebars comment, so the formatting is funky.

The Handlebars commen

[2018-10-23 13:51] sir-dunxalot commented on #299
The same issue is visible in the [test helpers section](https://github.com/sir-dunxalot/ember-tooltips#test-helpers) of the README:

![image](https://user-images.githubusercontent.com/4495352/47365246-109d7c00-d6d3-11e8-8696-d836b4c3840f.png)

[2018-10-23 14:10] sir-dunxalot commented on #107
This issue is out-of-date because ember-tooltips `3.0.0` has been released. `3.0.0` brings significant improvements to reliability, simplicity, and extendability.

You can upgrade by running `ember install ember-tooltips` and following [the migration guide](https://github.com/sir-dunxalot/ember-tooltips/blob/master/UPGRADING-3.x.md).

If you see this issue reappear or experience any other bugs, pl

[2018-10-23 14:10] #107 closed

[2018-10-23 14:11] sir-dunxalot commented on #109
`3.0.0` has been released!

[2018-10-23 14:11] #109 closed

[2018-10-23 14:12] sir-dunxalot commented on #111
This issue is out-of-date because ember-tooltips `3.0.0` has been released. `3.0.0` brings significant improvements to reliability, simplicity, and extendability.

You can upgrade by running `ember install ember-tooltips` and following [the migration guide](https://github.com/sir-dunxalot/ember-tooltips/blob/master/UPGRADING-3.x.md).

If you see this issue reappear or experience any other bugs, pl

[2018-10-23 14:12] #111 closed

[2018-10-23 14:13] sir-dunxalot commented on #140
This issue is out-of-date because ember-tooltips `3.0.0` has been released. `3.0.0` brings significant improvements to reliability, simplicity, and extendability.

You can upgrade by running `ember install ember-tooltips` and following [the migration guide](https://github.com/sir-dunxalot/ember-tooltips/blob/master/UPGRADING-3.x.md).

If you see this issue reappear or experience any other bugs, pl

[2018-10-23 14:13] #140 closed

[2018-10-23 14:13] sir-dunxalot commented on #152
Fixed by #272.

[2018-10-23 14:13] #152 closed

[2018-10-23 14:14] sir-dunxalot commented on #164
This issue is out-of-date because ember-tooltips `3.0.0` has been released. `3.0.0` brings significant improvements to reliability, simplicity, and extendability.

You can upgrade by running `ember install ember-tooltips` and following [the migration guide](https://github.com/sir-dunxalot/ember-tooltips/blob/master/UPGRADING-3.x.md).

If you see this issue reappear or experience any other bugs, pl

[2018-10-23 14:14] #164 closed

[2018-10-23 14:14] sir-dunxalot commented on #166
This issue is out-of-date because ember-tooltips `3.0.0` has been released. `3.0.0` brings significant improvements to reliability, simplicity, and extendability.

You can upgrade by running `ember install ember-tooltips` and following [the migration guide](https://github.com/sir-dunxalot/ember-tooltips/blob/master/UPGRADING-3.x.md).

If you see this issue reappear or experience any other bugs, pl

[2018-10-23 14:14] #166 closed

[2018-10-23 14:15] sir-dunxalot commented on #168
Off center tooltips are now supported by #282.

[2018-10-23 14:15] #168 closed

[2018-10-23 14:15] sir-dunxalot commented on #170
This issue is out-of-date because ember-tooltips `3.0.0` has been released. `3.0.0` brings significant improvements to reliability, simplicity, and extendability.

You can upgrade by running `ember install ember-tooltips` and following [the migration guide](https://github.com/sir-dunxalot/ember-tooltips/blob/master/UPGRADING-3.x.md).

If you see this issue reappear or experience any other bugs, pl

[2018-10-23 14:15] #170 closed

[2018-10-23 14:16] sir-dunxalot commented on #180
Closing in favor of #299.

[2018-10-23 14:16] #180 closed

[2018-10-23 14:18] sir-dunxalot commented on #182
You can use the `updateFor` property to rerender tooltips. [There is an example in the demo app](http://sir-dunxalot.github.io/ember-tooltips/#async).

[2018-10-23 14:18] #182 closed

[2018-10-23 14:22] sir-dunxalot commented on #185
This issue is out-of-date because ember-tooltips `3.0.0` has been released. `3.0.0` brings significant improvements to reliability, simplicity, and extendability.

You can upgrade by running `ember install ember-tooltips` and following [the migration guide](https://github.com/sir-dunxalot/ember-tooltips/blob/master/UPGRADING-3.x.md).

If you see this issue reappear or experience any other bugs, pl

[2018-10-23 14:22] #185 closed

[2018-10-23 14:24] sir-dunxalot commented on #187
This issue is out-of-date because ember-tooltips `3.0.0` has been released. `3.0.0` brings significant improvements to reliability, simplicity, and extendability.

You can upgrade by running `ember install ember-tooltips`. [The migration guide](https://github.com/sir-dunxalot/ember-tooltips/blob/master/UPGRADING-3.x.md) details how to apply styling to the two main elements that create a tooltip.

[2018-10-23 14:24] #187 closed

[2018-10-23 14:31] sir-dunxalot commented on #193
As you are probably already thinking, this library will primarily offer `assert()`-based helpers since the Ember community embraces `assert()` by default.

However, I am open to a PR that lets `expect()`-preferring developers use a function from each existing test helper, similar to how your code example highlights.

However, we could not introduce any breaking changes with this functionality.

[2018-10-23 14:32] sir-dunxalot commented on #193
Sorry, meant to 'comment' not 'comment and close'.

[2018-10-23 14:33] sir-dunxalot commented on #195
This issue is out-of-date because ember-tooltips `3.0.0` has been released and `enableLazyRendering` is built-in (and not optional).

`3.0.0` brings significant improvements to reliability, simplicity, and extendability. You can upgrade by running `ember install ember-tooltips` and following [the migration guide](https://github.com/sir-dunxalot/ember-tooltips/blob/master/UPGRADING-3.x.md).

If you

[2018-10-23 14:33] #195 closed

[2018-10-23 14:34] sir-dunxalot commented on #201
This issue is out-of-date because ember-tooltips `3.0.0` has been released. `3.0.0` brings significant improvements to reliability, simplicity, and extendability.

You can upgrade by running `ember install ember-tooltips` and following [the migration guide](https://github.com/sir-dunxalot/ember-tooltips/blob/master/UPGRADING-3.x.md).

If you see this issue reappear or experience any other bugs, pl

[2018-10-23 14:34] #201 closed

[2018-10-23 14:36] sir-dunxalot commented on #202
This issue is out-of-date because ember-tooltips `3.0.0` has been released. `3.0.0` brings significant improvements to reliability, simplicity, and extendability.

You can upgrade by running `ember install ember-tooltips` and following [the migration guide](https://github.com/sir-dunxalot/ember-tooltips/blob/master/UPGRADING-3.x.md).

If this issue isn't automagically fixed by the upgrade, you mig

[2018-10-23 14:36] #202 closed

[2018-10-23 14:36] sir-dunxalot commented on #204
@BonBonSlick Following up in case you can provide more info.

[2018-10-23 14:38] sir-dunxalot commented on #218
This issue is out-of-date because ember-tooltips `3.0.0` has been released. `3.0.0` brings significant improvements to reliability, simplicity, and extendability.

You can upgrade by running `ember install ember-tooltips` and following [the migration guide](https://github.com/sir-dunxalot/ember-tooltips/blob/master/UPGRADING-3.x.md).

If you see this issue reappear or experience any other bugs, pl

[2018-10-23 14:38] #218 closed

[2018-10-23 14:39] sir-dunxalot commented on #238
Fixed by #272.

[2018-10-23 14:39] #238 closed